<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_down" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_down" />
        </div> 
        <div class="right">
            <form action="{:U('Buy/index')}" method="get">
            <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
            <table  class="search_table" width="100%" align="left" height="60">
            <tr>
            <td>购买方式：</td><td>
            <select name="type">
            <option value="0" <eq name="type" value="0">selected</eq>>所有</option>
            <option value="1" <eq name="type" value="1">selected</eq>>点数支付</option>
            <option value="2" <eq name="type" value="2">selected</eq>>张数支付</option>
            <option value="3" <eq name="type" value="3">selected</eq>>免费购买</option>
            </select></td>
            <td>摄影师ID:</td>
            <td><input type="text" name="up_userid" value="{$up_userid}" style="width:50px"/></td>
            <td>图片ID:</td>
            <td><input type="text" name="images_id" value="{$images_id}" style="width:50px"/></td>
            <td>起始时间：</td>
            <td><input class="Wdate input-text"  name="starttime" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{$starttime}" style="width:112px" /></td>
            <td>结束时间：</td>
            <td><input class="Wdate input-text"  name="endtime" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{$endtime}" style="width:112px" /></td>
            <td><input type="submit" value="查询"  class="userButton" /></td>
            </tr>
            </table>
            </form>
            <div class="clear"></div>
            <form action="{:U('Index/down')}" method="post" name="myform">
            <table width="100%" cellspacing="0" align="left" bordercolor="#d1d1d1" border="1">
                <thead>
                    <tr bgcolor="#f7f7f7" height="26">
                    <th align="center">选择</th>
                    <th align="center">图片</th>
                    <th align="center">支付方式</th>
                    <th align="center">支付点数</th>
                    <th align="center">购买时间</th>
                    <th align="center">当前下载状态</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="v" key="k">
                    <tr>
                    <td align=center><input type="checkbox" name="ids[]" value="{$v['images_id']}" /><input type="hidden" name="gid{$v.pid}" value="{$v['group_id']}" /></td>
                    <td align=center><a href="#" onclick="showImages({$v['images_id']},{$v['group_id']},0)"><img src="{:getPicUrl($v['url'],$v['up_userid'],$v['up_time'])}" /></a></td>
                    <td align=center>{:getBuyImageType($v['type'])}</td>
                    <td align=center>{$v['buy_values']}</td>
                    <td align=center>{$v.buytime|date="Y-m-d H:i:s",###}</td>
                    <td align=center>
                    <p>图片ID:{$v.images_id}</p>
                    <p>摄影师ID:{$v.up_userid}</p>
                    <p><if condition="$v['is_buy']"><font color=green>免费下载</font><else />须重新购买</if></p>
                    <p><a href="{:U('Index/downText',array('id'=>$v['images_id'],'gid'=>$v['group_id']))}">下载文字说明</a></p>
                    </td>
                    </tr>
                    </volist>
                    <tr><td colspan="6" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
                    <tr><td colspan="6" align="left" style="padding-right:10px; border-top:1px solid #cccccc">
                    <input type="hidden" name="buy_type" id="buy_type" value="1" />
                    <input type="hidden" name="refer_url" value="{:U('Down-Buy/index')}" />
                    <a href="#" onclick="chkall()"><img src="../Public/images/quanxuan.jpg" /></a>
                    &nbsp;&nbsp;<a href="#" onclick="daochu(1)"><img src="../Public/images/dabao.jpg" /></a>
                    </td></tr>
                </tbody>
            </table>
        </div>
    </div>
<!--content end-->
<script language="javascript">
function chkall()
{
    $("input[name='ids[]']").attr('checked',true);
}
//type为1购买并下载 2只购买图片
function daochu(type)
{
    var ischeck = false;
    $("input[name='ids[]']").each(function(i,o){
        if(o.checked)
        {
            ischeck = true;
            return false;
        }
    });
    if(!ischeck)
    {
        alert('请选择一个操作对象');
        return false;
    }
    else
    {
        document.getElementById('buy_type').value = type;
        if(confirm('如果图片没有购买，系统会扣除您相应的点数，确认操作吗？'))
        {
            document.myform.submit();
        }
    }
}
</script>
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
