<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_down" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_down" />
        </div> 
        <div class="right">
        <form action="{:U('Index/down')}" method="post" name="myform">
        <table width="100%" cellspacing="0" align="left" bordercolor="#d1d1d1" border="1">
                <thead>
                    <tr bgcolor="#f7f7f7" height="26">
                    <th align="center"></th>
                    <th align="center">图片编号</th>
                    <th align="center">图组标题</th>  
                    <th align="center">所属分类</th>  
                    <th align="center">图片地址</th>
                    <th align="center">添加时间</th>  
                    <th align="center">购买状态</th>  
                    <th align="center">操作</th>  
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="v" key="k">
                    <tr>
                    <td align="center"><input type="checkbox" name="ids[]" value="{$v['pid']}" /><input type="hidden" name="gid{$v.pid}" value="{$v['group_id']}" /></td>
                    <td align="center">{$v.pid}</td> 
                    <td align="center">{$v.title}</td>
                    <td align="center">{$v.type_one_name}</td>
                    <td align="center"><a href="#" onclick="showImages({$v['pid']},{$v['group_id']},0);"><img src="{:getPicUrl($v['url'],$v['up_userid'],$v['up_time'])}" /></a></td>
                    <td align="center">{$v.createtime|date="Y-m-d H:m:s",###}</td>
                    <td align="center"><if condition="$v['is_buy']"><font color=green>已购买</font><else />未购买</if></td>
                    <td align="center">
                    <a href="{:U('Cart/del',array('pid'=>$v['pid']))}">删除</a> | 
                    <a href="{:U('Index/downText',array('id'=>$v['pid'],'gid'=>$v['group_id']))}">下载文字说明</a></td>
                    </tr>
                    </volist>
                    <tr height="26"><td colspan="8" align="left" valign="middle">
                    <input type="hidden" name="buy_type" id="buy_type" value="1" />
                    <input type="hidden" name="refer_url" value="{:U('Down-Cart/index')}" />
                    <a href="#" onclick="chkall()"><img src="../Public/images/quanxuan.jpg" /></a>
                    &nbsp;&nbsp;<a href="#" onclick="daochu(2)"><img src="../Public/images/piliang.gif" /></a>
                    &nbsp;&nbsp;<a href="#" onclick="daochu(1)"><img src="../Public/images/dabao.jpg" /></a>
                    </td></tr>
                </tbody>
            </table>
            </form>
    </div>
<!--content end-->
<script language="javascript">
function chkall()
{
    $("input[name='ids[]']").attr('checked',true);
}
//type为1购买并下载 2只购买图片
function daochu(type)
{
	var ischeck = false;
	$("input[name='ids[]']").each(function(i,o){
		if(o.checked)
		{
			ischeck = true;
			return false;
		}
	});
	if(!ischeck)
	{
		alert('请选择一个操作对象');
		return false;
	}
	else
	{
		document.getElementById('buy_type').value = type;
		if(confirm('如果图片没有购买，系统会扣除您相应的点数，确认操作吗？'))
		{
			document.myform.submit();
		}
	}
}
</script>
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
