<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_down" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_down" />
        </div> 
        <div class="right">
        <div style="border:1px solid #d1d1d1; background-color:#f7f7f7;line-height:26px; padding:5px">
                  {//}欢迎您：<span class="red blod">{$login.name}</span>！当前您是  <span class="red blod">{$login.subtypename}</span>，<gt name="login.end_time" value="0">您的会员有效期限：<span class="red blod">{$login.start_time|date='Y-m-d H:i:s',###}</span> - <span class="red blod">{$login.end_time|date='Y-m-d H:i:s',###}</span></gt><br />
                  {//}当前您的可用点数：<span class="red blod">{$login.pvalue}</span>点，当前您的购物车共有<span class="red blod">{$login.cart_num}</span>张图片，您已购买数量<span class="red blod">{$total_buy_num}</span>张<br />
                  <if condition="$login['subtype'] eq 1 OR $login['subtype'] eq 4">
                  {//包年用户或专线用户}您最大允许下载的图片数量：<span class="red blod">{$login.allow_down_num}</span>，已经下载的图片数量：<span class="red blod">{$login.downed_num}</span>，可用下载的图片数量：<span class="red blod">{$login.use_down_num}</span>，如超过最大允许下载图片以<span class="red blod">{$login.zhekeed}</span>折计算<br />
                  <elseif condition="$login['subtype'] eq 2" />
                  {//预付款用户}当前您下载图片的折扣为<span class="red blod">{$login.zhekeed}</span>折
                  <elseif condition="$login['subtype'] eq 3"/>
                  {//后结算用户}当前您下载图片的折扣为<span class="red blod">{$login.zhekeed}</span>折，结算周期为<span class="red blod">{$login.every_pay_day}</span>天，当前累计点数<span class="red blod">{$login.need_pay}</span>点，上一次结算时间:<span class="red blod"><gt name="login['pay_time']" value="0">{$login.pay_time|date='Y-m-d H:i:s'}<else />无</gt></span>
                  <elseif condition="$login['subtype'] eq 5"/>
                  {//下载合作机构}
                  <elseif condition="$login['subtype'] eq 6"/>
                  {//浏览用户}
                  </if>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="foot" />
<!--copyRight end-->
</div>
</body>
</html>
