<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_down" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_down" />
        </div> 
        <div class="right">
            <form id="myform" action="{:U('Index/dobasic')}" method="post" onsubmit="return Vali.vali(this,2)">
            <table cellpadding=0 cellspacing=0 width="100%" bordercolor="#d1d1d1" border="1">
            <tr height="26">
            <td width="120" align="right" class="bold">登录名：</td>
            <td align="left">{$login.account}</td>
            <td width="120" align="right" class="bold">单位：</td>
            <td align="left">{$login.company_name}</td>
            </tr>
            <!-- <tr height="26">
            <td width="120" align="right" class="bold">地区：</td>
            <td align="left"><SELECT name="province" id="province" dataType="Require" msg="请选择地区"></SELECT></td>
            <td width="120" align="right" class="bold">城市：</td>
            <td align="left"><SELECT name="city" id="city" dataType="Require" msg="请选择城市"></SELECT></td>
            </tr> -->
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>真实姓名：</td>
            <td align="left"><input type="text" class="input-text"  name="name" dataType="LimitB" min="1" max="10"  msg="真实姓名必须填写(1-10个字符)" value="{$login.name}"><br />客户使用稿件时所能看到的摄影师名字（请使用中文名）</td>
            <td width="120" align="right" class="bold">性别：</td>
            <td align="left"><input type="radio" name="sex" value="1" <eq name="login.sex" value="1">checked</eq> />男&nbsp;&nbsp;<input name="sex" value="0" type="radio" <eq name="login.sex" value="0">checked</eq>/>女</td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>地址：</td>
            <td align="left"><input type="text" class="input-text"  name="link_addr"  value="{$login.link_addr}" dataType="LimitB" min="1" max="50"  msg="地址必须填写(1-50个字符)"></td>
            <td width="120" align="right" class="bold"><span class="red">*</span>邮编：</td>
            <td align="left"><input type="text" class="input-text"  name="post_code"  value="{$login.post_code}" dataType="LimitB" min="1" max="10"  msg="邮编必须填写(1-10个字符)"></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>联系电话：</td>
            <td align="left"><input type="text" class="input-text"  name="phone" value="{$login.phone}" dataType="LimitB" min="1" max="20"  msg="联系电话必须填写(1-20个字符)"></td>
            <td width="120" align="right" class="bold"><span class="red">*</span>电子邮件：</td>
            <td align="left"><input type="text" id="email" name="email" value="{$login.email}" class="input-text" dataType="LimitB" min="1" max="50"  msg="电子邮件必须填写(1-50个字符)"/></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>QQ：</td>
            <td align="left"><input type="text" class="input-text"  name="qq" value="{$login.qq}" dataType="LimitB" min="1" max="20"  msg="QQ必须填写(1-20个字符)"></td>
            <td width="120" align="right" class="bold"</td>
            <td align="left"></td>
            </tr>
            </table>
            {__TOKEN__}
            <p align="center"><input type="submit" class="userButton" value="保存" /></p>
          </form>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
