﻿/*普通样式表*/
body {margin:0px; padding:0px; background:#c0c0c0; font-size:12px; line-height:150%; color:#333; font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif }
div {margin:0px; padding:0px }
dl {margin:0px; padding:0px }
dt {margin:0px; padding:0px }
dd {margin:0px; padding:0px }
ul {margin:0px; padding:0px }
ol {margin:0px; padding:0px }
li {margin:0px; padding:0px; font-weight:normal; font-size:100%; list-style-type:none }
h1 {margin:0px; padding:0px; font-size:16px }
h2 {margin:0px; padding:0px; font-size:14px }
h3 {margin:0px; padding:0px; font-size:12px }
pre {margin:0px; padding:0px }
form {margin:0px; padding:0px }
fieldset {margin:0px; padding:0px; border:0px }
legend {margin:0px; padding:0px }
input {margin:0px; padding:0px; border:1px solid #e1e1e1; }
button {margin:0px; padding:0px; font-size:100%; font-family:inherit }
textarea {margin:0px; padding:0px; font-size:100%; font-family:inherit }
p {margin:0px; padding:0px }
blockquote {margin:0px; padding:0px }
thead {margin:0px; padding:0px }
tbody {margin:0px; padding:0px }
tfoot {margin:0px; padding:0px }
th {margin:0px; padding:0px }
td {margin:0px; padding:0px }
img {border:0px }
select {font-family:inherit }
optgroup {font-family:inherit }
option {font-family:inherit }
select {font-size:100% ;}
table {border-collapse:collapse; border-spacing:0 }
caption {text-align:left }
a {color:#333; text-decoration:none ;}
a:hover {color:#a10000; text-decoration:none }

.clear {clear:both; display:block; visibility:hidden; line-height:10px; height:10px }
.clear0 {clear:both; display:block; visibility:hidden; line-height:0px; height:0px }

.topSearchKeyword{ border:1px solid #c6c6c6; width:200px; height:20px; line-height:23px}

.blue {color:#08529b;}
.yellow {color:#7b2e00;}
.gree {color:#009900;}
.gray {color:#666666;}
.red {color:#b03901;}
.blod{ font-weight:bold}


 .loginDiv {z-index:2; position:fixed; margin:0px auto; padding:20px; width:379px; height:266px; background:url(../images/loginBg.jpg); border:1px solid #a3a5a4; color:#777777; font-size:14px; -moz-box-shadow:0 0 22px #111; -webkit-box-shadow:0 0 22px #111; box-shadow:0 0 22px #111 }
 .loginDiv h2 {float:left; color:#f2c716 }
 .loginDiv span {float:right }
 .loginDiv em {clear:both; padding:20px 0px; display:block; font-style:normal }
 
 .loginContent {padding:15px; width:346px; height:122px; background:url(../images/loginBg2.jpg) }
 .loginContent input {margin-bottom:15px }
 .loginSelect {float:left; font-size:12px; color:#2a8cc9 }
 .loginDl {float:right }
 .loginDl input {width:79px; height:38px; background:url(../images/dl.jpg); border:none }
 
 .tipLeft {float:left; margin-top:10px; padding-left:30px; background:url(../images/smile.gif) no-repeat; height:26px; line-height:26px }
 .tipLeft a {color:#777777 }
 .tipRight {float:right; height:48px; line-height:48px; }
 .tipRight a {color:#f2c716 }
