/*主页样式表*/
#mainBox {margin:0px auto; width:960px }
#indexLogin {width:960px; height:37px; background:url(../images/indexLogin.jpg)}
#top {margin-top:15px; height:67px; border-bottom:2px solid #f3c714 ;background:#ffffff}
 .topLeft {float:left; width:177px; height:47px; padding:10px 0px 10px 10px; background:url(../images/indexTopBg.jpg) no-repeat }
 .logo {float:left; width:146px }
 .logo h1 {border:0; margin:0; text-indent:-9999px }
 .logo h1 a {border:0; display:block; margin:0; height:47px; text-decoration:none }

 .topCenter {float:left; width:auto; padding-top:35px; height:32px;  }
 .topCenter a {color:#000 } 
 .topList { }
 .topList li {float:left; width:45px; background:url(../images/indexTopLine.jpg) no-repeat right top }
 .topList li.none {background:none }
 
 .topRight {float:right; padding-top:30px; width:295px; height:37px; background:url(../images/topRightBg.jpg) no-repeat top right; text-align:right}

 .indexLoginRight {float:right; padding-left:15px; margin-right:5px; height:37px; line-height:33px; background:url(../images/icoLogin.jpg) no-repeat top left; color:#ffffff }
 .indexLoginRight a {color:#ffffff}
  
#slid {clear:both; margin:0px auto; width:960px }
#rolling {clear:both; margin:0px auto; width:960px ; margin-top:1px}
#rolling .piccontent{width:924px;height:120px; float:left;overflow:hidden}
/*#rolling .piccontent li{ float:left; width:184px;height:120px; margin-right:1px}*/
#rolling .btn{width:35px;height:120px; float:right}
#indexConBottom {clear:both; margin:0px auto; width:960px; height:38px; background:url(../images/indexConBottom.jpg) no-repeat top center }



#about {margin:0px auto; width:960px; height:24px; line-height:24px; background:#7d7d7d; text-align:center; color:#84381a }
#about a {color:#84381a }

#copyRight {margin:0px auto; width:960px; height:22px; line-height:22px; text-align:center; background:#636363; color:#ffffff }  
  
