/*产品展示样式表*/
#mainBox {margin:0px auto; width:960px }
#top {height:74px; border-bottom:2px solid #f3c714 }
 .logo {float:left; width:202px }
 .logo h1 {border:0; margin:0; text-indent:-9999px }
 .logo h1 a {border:0; display:block; margin:0; height:74px; text-decoration:none }
 
  .logoTpk {z-index:2; position:absolute; top:35px; margin-left:186px; width:43px; background:url(../images/tpk.png) no-repeat 0px 0px; height:30px }
 
 .topRight {float:left; padding-left:43px; width:715px; height:74px; background:url(../images/topBg.jpg) no-repeat }
  .topSearch {float:left; margin-top:40px; width:350px }

  .topLink {float:right; margin-top:40px; height:22px; line-height:22px; color:#ffffff; margin-right:10px }
  .topLink a {color:#ffffff }

#Menu {padding:0px 8px; height:70px; background:url(../images/menuBg.jpg); font-size:14px }
 .menuLeft {float:left; width:8px; height:34px; background:url(../images/menu_left.gif) no-repeat;}
 .menu {float:left; width:auto;background:url(../images/menu_bg.gif) repeat-x;text-align:center}
 .menu ul{}
 .menu ul li {float:left;line-height:34px;}
 .menu ul li a.none {background-image:none;padding-right:0px}
 .menu ul li a img{margin-right:2px;margin-top:2px}
 .menu ul li a {color:#ffffff;display:block;width:90px;height:34px; line-height:34px; background:url(../images/menu_fenge.gif) right no-repeat;padding-right:2px}
 .menuRight {float:left; width:8px; height:34px; background:url(../images/menu_right.gif) no-repeat ;}
 
 .subMenu {clear:left;margin:0px auto; width:625px; height:30px; line-height:30px; text-align:center }
 .subMenu li {float:left; margin-top:6px; width:104px; height:30px; background:url(../images/subMenu.jpg) no-repeat; color:#000 }
 .subMenu li a {color:#000 }
 .subMenu li.on {float:left; margin-top:6px; width:104px; height:30px; background:url(../images/subOnMenu.jpg) no-repeat; color:#cc2229 }
 .subMenu li.on a {color:#cc2229 }
 
#gjSearch {margin-bottom:10px; padding:0px 8px; height:117px; background:url(../images/gjSearchBg.jpg); color:#c5c5c5;font-size:14px }
 .gjSearch {margin:0px 10px 10px 10px; font-size:12px }
 .gjSearch input {heigth:22px; }
 .gjSearch select {heigth:22px;line-height:22px }
 .menuLeft2 {float:left; width:114px; height:34px; line-height:34px; background:url(../images/menuLeftBg.gif) no-repeat; text-align:center }
 .menuLeft2 a {color:#ffffff }
 .menu2 {float:left; text-align:center }
 .menu2 a {color:#ffffff }
 .menu2 li {float:left; width:102px; height:34px; line-height:34px; background:url(../images/menuCenterBg.gif) no-repeat }
 .menuRight2 {float:left; width:12px; height:34px; background:url(../images/menuRightBg.gif) no-repeat }

#nav {clear:both; margin:10px auto; height:33px; line-height:33px; width:960px }
 .navLeft {float:left; padding-left:36px; width:400px; background:url(../images/navLeft.jpg) no-repeat }
 .navLeft_2 {float:left; padding-left:36px; width:400px; background:url(../images/navCenter.jpg) }
 .navCenter {float:left; width:500px; text-align:right; background:url(../images/navCenter.jpg) }
 .navRight {float:left; width:24px; height:33px; background:url(../images/navRight.jpg) no-repeat }

#content {clear:both; margin:0px auto; width:960px } 
#left {float:left; width:192px } 
 .layer {margin-bottom:10px; width:178px; border:2px solid #909090; background:#5e5e5e }
 .leftOnMenu {margin:0px auto; width:157px }
 .leftOnMenu li {margin:10px 0; width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../images/leftMenu.jpg) no-repeat }
 .leftOnMenu li.OnMenu {width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../images/leftOnMenu.jpg) no-repeat }
 
 .layerTitle {margin:10px auto; width:157px; text-indent:15px; height:27px; line-height:27px; background:url(../images/layerTitle.jpg) no-repeat }
 .leftList {margin:10px auto; width:162px }
 .leftList li {margin:10px auto; width:152px; height:45px; background:url(../images/line.jpg) no-repeat center bottom; color:#ffffff }
 .leftList li a {color:#ffffff }
 
 .leftContent {margin:10px auto; width:152px; color:#ffffff }

#right {float:left; width:960px } 
 .products {width:960px }
 .products li {float:left; margin-bottom:5px; margin-left:6px; padding:8px 10px 12px; width:200px; height:283px; border:1px  solid #767676; line-height:120% }
 .products li img {margin:5px 0; }
 
 .products li .title{ height:30px; display:block; overflow:hidden;}
 .products li .pimg {display:block;height:220px; text-align:center}
 .products li .pimg img{ }
 .products li span {text-align:left }
 
 .message {width:768px }
 .message li{ height:30px; line-height:30px; border-bottom:#000 1px dotted; text-indent:10px}
 .message li span { float:right; display:block; padding-right:20px}
 .message_title { margin:10px 0px}
 .message_detail{ padding:10px; text-indent:25px; line-height:22px}
 
 .listLink {clear:both; margin:10px auto; padding-left:8px; width:952px }
 .qx {width:57px; height:26px; background:url(../images/qx.gif) no-repeat; border:none }
 .qc {width:38px; height:26px; background:url(../images/qc.gif) no-repeat; border:none }
 .gwc {width:81px; height:26px; background:url(../images/gwc.gif) no-repeat; border:none }
 .gywk {width:25px; height:26px; background:url(../images/gywk.gif) no-repeat; border:none }
 
 .floatLayer {width:379px; height:459px; background:url(../images/floatLayer.gif) no-repeat }
 .floatLayerImg {margin:0px auto; padding:16px 18px 14px 18px }
 .floatLayerImg img {width:343px; height:343px }
 .floatLayerBox {margin:0px auto; width:371px; height:82px; background:url(../images/floatLayerBox.gif) no-repeat }
 .BoxLeft {float:left; padding-left:5px; width:111px; line-height:28px }
 .BoxRight {float:left; padding-top:10px; width:250px }
 
 .topview {z-index:2; position:absolute; margin-left:140px; width:30px; background:url(../images/top.png) no-repeat 0px 0px; height:30px }
 
 .imgLeft {float:left; margin-top:25px; width:120px }
 .imgRight {float:left; margin-top:25px; width:38px }
 .imgRight1 {float:left; margin-top:-10px; width:38px }
 .imgRight p{ line-height:15px; height:15px; margin-top:4px}
 
 .viewPic {width:882px;height:450px;}
 .viewPicTit {margin:5px 10px; padding-top:5px; font-size:14px; height:27px; background:url(../images/viewPicTit.jpg) }
 
#slideshow {float:left}
#slideshow ul { display:block; float:left; padding:2px;width:568px ;height:535px; border:1px solid #1a1a1a;text-align:center}
#slideshow ul img {max-height:530px}
#slideshow .slideActive {z-index:1000 }
#slideshow .arrow {height:364px; width:26px; background:url(../images/arrows.png) no-repeat;  cursor:pointer; z-index:5000;float:left ;margin:40px 5px 0 5px}
#slideshow .previous {background-position:left top;left:0 }
#slideshow .previous:hover {backgro und-position:left bottom }
#slideshow .next{background-position:right top;right:0 }
#slideshow .next:hover {background-position:right bottom }

.picDescription{ float:left;width:230px;over-flow:hidden}
.picDescription p{ line-height:30px}
.picDescription textarea{ border:0;line-height:16px;background:#c0c0c0;width:230px;height:260px}
.viewPicTittle {height:50px; line-height:20px;overflow:hidden}




#about {margin:20px auto; width:960px; text-align:center; color:#84381a }
#about a {color:#84381a }

#copyRight {margin:20px auto; width:960px; height:30px; line-height:30px; text-align:center; background:#777777; color:#ffffff }

