
<include file="Home:regheader"/>
<load href="__PUBLIC__/Js/jquery.validate.js"/>
<load href="../Public/Js/pcasunzip.js"/>

<link href="__ROOT__/index.php?m=Format&a=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />
<link rel="shortcut icon" href="/NewImages/favicon.ico" />
<load href="__PUBLIC__/js/jquery.js"/>
<load href="__PUBLIC__/Js/jquery.min.js"/>
<load href="__PUBLIC__/Js/swfobject.js"/>
<load href="__PUBLIC__/Js/yourphp.nav.js"/>
<load href="../Public/css/style.css"/>
<load href="../Public/css/index.css"/>
<load href="../Public/js/yourphp.pics.js"/>


<SCRIPT language=javascript defer>
new PCAS("province","city");
</SCRIPT>

<h2>摄影师注册</h2>
<div class="main">
 <form id="myform" name="myform"  method="post" action="{:U('Home-Photomember/doreg')}" >
 <div class="body">
<p>&nbsp;&nbsp;&nbsp;请填写您的真实信息，以便我们与您取得联系，确认您帐号的开通！</p>
<div class="dd">摄影师基本信息（*项是必填项）</div>

<table cellpadding="0" cellspacing="0">
         <tr>
                                          <td width="90"  height="30" align="right"><span class="red">*</span>登录名&nbsp;&nbsp;</td>
                                            <td width="245"><input type="text" id="username" name="account" class="input-text" validate="required:true,en_num:true,remote: '{:U('Home-Usermember/checkusername')}' , minlength:5, maxlength:20"/><span></span></td>
                                            <td width="90" height="30" align="right"><span class="red">*</span>地区&nbsp;&nbsp;</td>
                                            <td width="300">
                                                <div id="selectStyle" style="z-index: 2;">
                                                  <SELECT name=province></SELECT>
                                                </div>
                                            </td>
        </tr>
                                        <tr>
                                            <td height="30" align="right"><span class="red">*</span>密码&nbsp;&nbsp;</td>
                                            <td><input type="password" class="input-text"  name="password" id="password" validate=" required:true, minlength:5, maxlength:20"><span></span></td>
                                            <td height="30" align="right"><span class="red">*</span>城市&nbsp;&nbsp;</td>
                                            <td>
                                              <div id="selectStyle">
                                                <SELECT name=city></SELECT><span></span></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right"><span class="red">*</span>确认密码&nbsp;&nbsp;</td>
                                            <td><input type="password" class="input-text"  name="repassword" validate=" required:true,equalTo: '#password', minlength:5, maxlength:20"><span></span></td>
                                            <td height="30" align="right"><span class="red">*</span>邮编&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="post_code" id="zipcode" validate=" required:true,zipcode:true"><span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right"><span class="red">*</span>真实姓名&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="name" id="rname" validate=" required:true"><span></span></td>
                                            <td height="30" align="right"><span class="red">*</span>地址&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="address" id="address" validate=" required:true"><span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right">性别&nbsp;&nbsp;</td>
                                            <td><input type="radio" name="sex" value="1" checked="checked" />男&nbsp;&nbsp;<input name="sex" value="0" type="radio" />女</td>
                                            <td height="30" align="right"><span class="red">*</span>工作单位&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="work_company" id="corporation" validate=" required:true"><span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right"><span class="red">*</span>联系电话&nbsp;&nbsp;</td>
                                            <td><input type="text" class="input-text"  name="phone" id="phone" validate=" required:true,mobile:true"><span></span></td>
                                    
                                            <td height="30" align="right"><span class="red">*</span>电子邮件&nbsp;&nbsp;</td>
                                            <td><input type="text" id="email" name="email" class="input-text" validate="required:true,email:true,remote: '{:U('Home-Usermember/checkEmail')}' , minlength:1, maxlength:40"/><span></span></td>
                                         
                                        </tr>
</table>
<br />
<p style="display: block" class="dd">
  摄影师专有信息（*项是必填项）</p>
  <table  cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                <span class="red">*</span>投稿署名
                                            </td>
                                            <td width="480"><input type="text" class="input-text"  name="pen_name" id="tankoname" validate=" required:true, maxlength:20">
          										<span
                                                    class="red">客户使用稿件时所能看到的摄影师名字（请使用中文名）</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                <span class="red">*</span>从事摄影工作几年
                                            </td>
                                            <td>
                                                <div class="" id="selectStyle">
                                                    <select name="work_years" id="ctl00_ContentPlaceHolder1_Agelimit" class="selectStyle_reg">
	<option value="1">一年内</option>
	<option value="2">一年~二年</option>
	<option value="3">二年~三年</option>
	<option value="4">三年~五年</option>
	<option value="5">五年~十年</option>
	<option value="6">十年以上</option>
</select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                主要从事哪一方面的摄影
                                            </td>
                                            <td>
                                                <input type="checkbox" name="main_photo" value="新闻摄影" />新闻摄影&nbsp;&nbsp;<input
                                                    type="checkbox" name="main_photo" value="纪实摄影" />纪实摄影&nbsp;&nbsp;<input
                                                        type="checkbox" name="main_photo" value="人物摄影" />人物摄影&nbsp;&nbsp;<input
                                                            type="checkbox" name="main_photo" value="风光摄影" />风光摄影&nbsp;&nbsp;<input
                                                                type="checkbox" name="main_photo" value="体育摄影" />体育摄影&nbsp;&nbsp;<input
                                                                    type="checkbox" name="main_photo" value="广告摄影" />广告摄影&nbsp;&nbsp;<input
                                                                        type="checkbox" name="main_photo" value="其它" />其它
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                主要作品曾出版在哪些地方
                                            </td>
                                            <td>
                                                <input type="checkbox" name="main_post_local" value="书籍" />书籍&nbsp;&nbsp;<input
                                                    type="checkbox" name="main_post_local" value="报纸" />报纸&nbsp;&nbsp;<input type="checkbox"
                                                        name="main_post_local" value="样本" />样本&nbsp;&nbsp;<input type="checkbox" name="Publicationplace"
                                                            value="杂志" />杂志&nbsp;&nbsp;<input type="checkbox" name="Publicationplace" value="多媒体" />多媒体&nbsp;&nbsp;<input
                                                                type="checkbox" name="main_post_local" value="其它" />其它&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                您所用的摄影器材
                                            </td>
                                            <td>
                                                <input type="checkbox" name="all_equipment" value="Fuji" />Fuji&nbsp;&nbsp;<input
                                                    type="checkbox" name="all_equipment" value="Contax" />Contax&nbsp;&nbsp;<input type="checkbox"
                                                        name="all_equipment" value="Linhoff" />Linhoff&nbsp;&nbsp;<input type="checkbox" name="all_equipment"
                                                            value="Canon" />Canon&nbsp;&nbsp;<input type="checkbox" name="all_equipment" value="Pentax" />Pentax&nbsp;&nbsp;<input
                                                                type="checkbox" name="all_equipment" value="Bronica" />Bronica&nbsp;&nbsp;<input type="checkbox"
                                                                    name="all_equipment" value="Leica" />Leica&nbsp;&nbsp;<input type="checkbox" name="all_equipment"
                                                                        value="Mamiya" />Mamiya&nbsp;&nbsp;<input type="checkbox" name="all_equipment" value="Minolta" />Minolta&nbsp;&nbsp;<input
                                                                            type="checkbox" name="all_equipment" value="Nikon" />Nikon<br />
                                                <input type="checkbox" name="all_equipment" value="Olympus" />Olympus&nbsp;&nbsp;<input
                                                    type="checkbox" name="all_equipment" value="Horseman" />Horseman&nbsp;&nbsp;<input
                                                        type="checkbox" name="all_equipment" value="Rollei" />Rollei&nbsp;&nbsp;<input type="checkbox"
                                                            name="all_equipment" value="Seagull" />Seagull&nbsp;&nbsp;<input type="checkbox" name="all_equipment"
                                                                value="Hasselblad" />Hasselblad&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                数码相机
                                            </td>
                                            <td>
                                                <input type="checkbox" name="cameras" value="Canon数码" />Canon数码&nbsp;&nbsp;<input
                                                    type="checkbox" name="cameras" value="Nikon数码" />Nikon数码&nbsp;&nbsp;<input
                                                        type="checkbox" name="cameras" />其它&nbsp;&nbsp;<input type="text" name="cameras"
                                                            class="regInput" style="width: 85px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                <a href="/Word/cameramanAssert.html" target="_blank" class="red" style="text-decoration: underline">摄影作品委托代理协议</a>
                                            </td>
                                            <td>
                                                <input type="radio" name="isagree" value="1" checked="checked" />同意&nbsp;&nbsp;<input
                                                    name="isagree" type="radio" value="0" />不同意
                                            </td>
                                        </tr>
      </table>
  <div class="regContainerBox" style="border-bottom: 0; display: block">
      <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="178"  height="30" align="right">
                                                <span class="red">*</span>您的稿费结算方式
                                            </td>
                                            <td width="182" style="padding: 0;">
                                                <table>
                                                    <tr>
                                                        <td width="84">
                                                            <div class="" id="selectStyle">
                                                                <select name="settlement_model" id="ctl00_ContentPlaceHolder1_ClearingForm">
	<option selected="selected" value="招商银行">招商银行</option>
	<option value="农业银行">农业银行</option>
	<option value="工商银行">工商银行</option>
	<option value="中国银行">中国银行</option>
	<option value="建设银行">建设银行</option>
	<option value="交通银行">交通银行</option>
	<option value="民生银行">民生银行</option>
	<option value="中国邮政">中国邮政</option>
	<option value="其他">其他</option>
</select>
                                                            </div>
                                                        </td>
                                                        <td width="82" class="red">
                                                            限银行借记卡
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="72"  height="30" align="right">
                                                <span class="red">开户名</span>
                                            </td>
                                            <td width="290">
                                            <input type="text" class="input-text"  name="which_open_name" id="accountname" validate="  maxlength:20">
                                                <span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="178" height="30" align="right">
                                                <span class="red"></span>开户行(详细到支行一级)
                                            </td>
                                            <td>
                                              <input type="text" class="input-text"  name="which_bank" id="accountbank" validate="maxlength:40">
                                <span></span>
                                            </td>
                                            <td width="72" height="30" align="right">
                                                <span class="red"></span>银行帐号
                                            </td>
                                            <td>
                                            <input type="text" class="input-text"  name="bank_card_no" id="bankaccount" validate=" maxlength:30">
                                                <span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="178" height="30" align="right">
                                                <span class="red">*</span>身份证号码
                                            </td>
                                            <td>
                                            <input type="text" class="input-text"  name="card_no" id="cardid" validate=" required:true,idcard:true, maxlength:30">
                                            
                                            <span></span>
                                            </td>
                                            <td colspan="2" style="line-height: 1.2em;" class="red">
                                                因稿费结算时涉及个人所得税事务处理上的需要，同时也为了富图网摄影师资料的 齐备完整，请如实填写您的身份证号码。
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="178" height="30" align="right" style="line-height: 1.3em">
                                                您所参加的摄影团体<br />
                                                曾举办过的摄影展
                                            </td>
                                            <td colspan="3">
                                            <textarea  class="input-text"  name="join_team" id="PhotographyShow" validate="maxlength:200">
                         </textarea><span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="178" height="30" align="right" style="line-height: 1.3em">
                                                您的宝贵意见
                                            </td>
                                            <td colspan="3">
                                              <textarea name="user_say" id="Opinion" validate="maxlength=200" class="input-text"></textarea><span></span>
                                            </td>
                                        </tr>
    </table>
   </div>
   <div style=" height: 62px; padding-top: 36px; text-align: center;">
                   <input type="button" onclick="information()" value="提交申请"  style="width:80px; height:25px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="reset" value="资料重制"  style="width:80px; height:25px" />
                                      </div>
           <script language="JavaScript">
           function information()
			{
           var username=document.getElementById("username").value;
           var password=document.getElementById("password").value;
           var zipcode=document.getElementById("zipcode").value;
           var rname=document.getElementById("rname").value;
           var address=document.getElementById("address").value;
           var phone=document.getElementById("phone").value;
           var email=document.getElementById("email").value;
           var tankoname=document.getElementById("tankoname").value;
           var cardid=document.getElementById("cardid").value;
           if(username== ""||password== ""||zipcode== ""||rname== ""||address== ""||phone== ""||email== ""||tankoname==""||cardid=="")
        	   alert('有必选项没有填写信息！');
           else
        	   document.myform.submit();
			}
  
           </script>                           
                                      
          </div>
</form>
</div>