<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
            <div class="img_list">
                <ol>
                <volist name="glist" id="vo" mod="4">
                <li>
                <div class="imgmsg">
                    <p class="p_imgbiaoti">{$vo.title}</p> 
                    <p class="p_img"><a href="{:U('Images/index',array('id'=>$vo['id']))}"><img src="{:getPicUrl($vo['main_url'],$vo['userid'],$vo['main_url_date'])}" /></a></p>
                    <p class="p_note"><span class="p_note_city">&nbsp;{$vo.city}</span><span>{$vo.up_time|date="Y-m-d",###}</span></p>
                    <p class="p_tag"><a href="#" class="num"></a><a href="#" class="zhang">{$vo.image_count}张</a><a href="#" class="{$color[$vo['state']]}"></a><a href="#" class="load"></a><!-- <a href="{:U('Photoer/groupdownload',array('id'=>$vo['id']))}" class="sele"></a> --></p>
                </div> <!-- <p class="p_lei"><a href="#">时事</a><span>》</span><a href="#">日常生活</a></p> -->
                </li>
                <eq name="mod" value="0"></ol><ol></eq>
                </volist>
                </div>
    
                <div class="page" style="margin-top:20px;">
                    <ul>
                    {$page}
                    </ul>
                    
                    <!-- <div class="gos">
                        <span>共{$vo['pages']}页</span><span>跳转到</span>
                        <input type="text"  class="pages" id="goPageDown"/><span>页</span><a href="#" class="go" onclick="onDownSetPage()">GO</a>
                    </div> -->
                </div>
            </div>
        </div> <!--page-->
    </div>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
