<include file="Public:user_top" />
<load href="../Public/Js/pcasunzip.js"/>

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
            <div style="border:1px solid #d1d1d1; background-color:#f7f7f7;line-height:26px; padding:5px">
                  <p>欢迎您：<span class="red blod">{$login.name}</span>！当前您是  <span class="red blod">{$login.subtypename}</span>，<gt name="login.end_time" value="0">您的会员有效期限：<span class="red blod">{$login.start_time|date='Y-m-d H:i:s',###}</span> - <span class="red blod">{$login.end_time|date='Y-m-d H:i:s',###}</span></gt></p>
                  <p>您的个人图片共有 <span class="red blod">{$login.count}</span> 张图片，您的销售点数  <span class="red blod">{$login.pvalue}</span> 点，冻结点数  <span class="red blod">{$login.no_pvalue}</span> 点<gt name="login.pvalue" value="0">&nbsp;&nbsp;<a href ="{:U('ToPay/index')}">申请结算</a></gt><gt name="login.no_pvalue" value="0">&nbsp;&nbsp;<a href="{:U('ToPay/cancel')}">取消申请</a></gt></p>
             </div>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
