<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
            <form id="myform" action="{:U('Index/dobasic')}" method="post" onsubmit="return Vali.vali(this,2)">
            <table cellpadding=0 cellspacing=0 width="100%" bordercolor="#d1d1d1" border="1">
            <tr height="26">
            <td width="120" align="right" class="bold">登录名：</td>
            <td align="left">{$login.account}</td>
            <td width="120" align="right" class="bold">单位：</td>
            <td align="left">{$login.company_name}</td>
            </tr>
            <!-- <tr height="26">
            <td width="120" align="right" class="bold">地区：</td>
            <td align="left"><SELECT name="province" id="province" dataType="Require" msg="请选择地区"></SELECT></td>
            <td width="120" align="right" class="bold">城市：</td>
            <td align="left"><SELECT name="city" id="city" dataType="Require" msg="请选择城市"></SELECT></td>
            </tr> -->
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>真实姓名：</td>
            <td align="left"><input type="text" class="input-text"  name="name" dataType="LimitB" min="1" max="10"  msg="真实姓名必须填写(1-10个字符)" value="{$login.name}"><br />客户使用稿件时所能看到的摄影师名字（请使用中文名）</td>
            <td width="120" align="right" class="bold">性别：</td>
            <td align="left"><input type="radio" name="sex" value="1" <eq name="login.sex" value="1">checked</eq> />男&nbsp;&nbsp;<input name="sex" value="0" type="radio" <eq name="login.sex" value="0">checked</eq>/>女</td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>地址：</td>
            <td align="left"><input type="text" class="input-text"  name="link_addr"  value="{$login.link_addr}" dataType="LimitB" min="1" max="50"  msg="地址必须填写(1-50个字符)"></td>
            <td width="120" align="right" class="bold"><span class="red">*</span>邮编：</td>
            <td align="left"><input type="text" class="input-text"  name="post_code"  value="{$login.post_code}" dataType="LimitB" min="1" max="10"  msg="邮编必须填写(1-10个字符)"></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>联系电话：</td>
            <td align="left"><input type="text" class="input-text"  name="phone" value="{$login.phone}" dataType="LimitB" min="1" max="20"  msg="联系电话必须填写(1-20个字符)"></td>
            <td width="120" align="right" class="bold"><span class="red">*</span>电子邮件：</td>
            <td align="left"><input type="text" id="email" name="email" value="{$login.email}" class="input-text" dataType="LimitB" min="1" max="50"  msg="电子邮件必须填写(1-50个字符)"/></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>QQ：</td>
            <td align="left"><input type="text" class="input-text"  name="qq" value="{$login.qq}" dataType="LimitB" min="1" max="20"  msg="QQ必须填写(1-20个字符)"></td>
            <td width="120" align="right" class="bold"><span class="red">*</span>投稿署名：</td>
            <td align="left"><input type="text" class="input-text"  name="pen_name" value="{$login.pen_name}" dataType="LimitB" min="1" max="20"  msg="客户使用稿件时所能看到的摄影师名字（请使用中文名 1-20个字符）"></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold"><span class="red">*</span>从事摄影工作几年：</td>
            <td align="left"><select name="work_years"  class="selectStyle_reg" dataType="Require" msg="从事摄影工作几年必须选择">
    <option value="1" <eq name="login.work_years" value="1">selected</eq>>一年内</option>
    <option value="2" <eq name="login.work_years" value="2">selected</eq>>一年~二年</option>
    <option value="3" <eq name="login.work_years" value="3">selected</eq>>二年~三年</option>
    <option value="4" <eq name="login.work_years" value="4">selected</eq>>三年~五年</option>
    <option value="5" <eq name="login.work_years" value="5">selected</eq>>五年~十年</option>
    <option value="6" <eq name="login.work_years" value="6">selected</eq>>十年以上</option>
</select></td>
            <td width="120" align="right" class="bold"></td>
            <td align="left"></td>
            </tr>
            <tr height="26">
            <td colspan="4"><strong>稿费结算资料(如有变更，请联系我们)</strong></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold">开户银行：</td>
            <td align="left"><select name="bank" disabled>
    <option value="招商银行" <eq name="login.bank" value="招商银行">selected</eq>>招商银行</option>
    <option value="农业银行" <eq name="login.bank" value="农业银行">selected</eq>>农业银行</option>
    <option value="工商银行" <eq name="login.bank" value="工商银行">selected</eq>>工商银行</option>
    <option value="中国银行" <eq name="login.bank" value="中国银行">selected</eq>>中国银行</option>
    <option value="建设银行" <eq name="login.bank" value="建设银行">selected</eq>>建设银行</option>
    <option value="交通银行" <eq name="login.bank" value="交通银行">selected</eq>>交通银行</option>
    <option value="民生银行" <eq name="login.bank" value="民生银行">selected</eq>>民生银行</option>
    <option value="中国邮政" <eq name="login.bank" value="中国邮政">selected</eq>>中国邮政</option>
    <option value="其他" <eq name="login.bank" value="其他">selected</eq>>其他</option>限银行借记卡
</select></td>
            <td width="120" align="right" class="bold">开户名：</td>
            <td align="left"><input type="text" class="input-text"  name="bank_truename" value="{$login.bank_truename}" dataType="LimitB" min="1" max="20" msg="开户行姓名必须填写(1-20字符)" disabled></td>
            </tr>
            
            <tr height="26">
            <td width="120" align="right" class="bold">开户行：</td>
            <td align="left"><input type="text" class="input-text"  name="bank_area" value="{$login.bank_area}"  dataType="LimitB" min="1" max="50" msg="开户行支行必须填写" disabled>详细到支行一级</td>
            <td width="120" align="right" class="bold">银行帐号：</td>
            <td align="left"><input type="text" class="input-text"  name="bank_num" value="{$login.bank_num}"  dataType="LimitB" min="1" max="50" msg="银行帐号必须填写" disabled></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold">身份证号码：</td>
            <td align="left"><input type="text" class="input-text"  name="card_no" value="{$login.card_no}" dataType="LimitB" dataType="LimitB" min="1" max="50" msg="身份证号填写" disabled></td>
            <td width="120" align="right" class="bold"></td>
            <td align="left"></td>
            </tr>
            </table>
            {__TOKEN__}
            <p align="center"><input type="submit" class="userButton" value="保存" /></p>
          </form>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
