<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
            <form id="myform" action="{:U('Index/dopwd')}" method="post" onsubmit="return Vali.vali(this,2)">
            <table cellpadding=0 cellspacing=0 width="100%" bordercolor="#d1d1d1" border="1">
            <tr height="26">
            <td width="120" align="right" class="bold">原来密码：</td>
            <td align="left"><input type="password" class="input-text"  name="old_password" dataType="LimitB" min="3" max="20" msg="密码必须是3-20个字符"></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold">新密码：</td>
            <td align="left"><input type="password" class="input-text"  name="password" id="password" dataType="LimitB" min="3" max="20" msg="密码必须是3-20个字符"></td>
            </tr>
            <tr height="26">
            <td width="120" align="right" class="bold">确认密码：</td>
            <td align="left"><input type="password" class="input-text"  name="password2"  dataType="Repeat" to="password" msg="两次密码不一样"></td>
            </tr>
            </table>
            {__TOKEN__}
            <p align="center"><input type="submit" class="userButton" value="保存" />&nbsp;<input type="button" class="userButton" value="返回" onclick="window.location.href='{:U('Devices/index')}';" /></p>
          </form>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
