<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
        <form name="queryform" action="{:U('Message/dosend')}" method="POST" onsubmit="return Vali.vali(this,2)">
            <table width="100%" cellspacing="0" align="left" bordercolor="#d1d1d1" border="1" height="60">
                    <tr height="26">
                    <td align=right>标题&nbsp;&nbsp;</td>
                    <td align=left colspan=3>
                        <input type="text" name="title" dataType="LimitB" min="1" max="32" msg="标题必须填写">
                        </td>
                    </tr>
                    <tr height="26">
                    <td align=right>类别&nbsp;&nbsp;</td>
                    <td align=left colspan=3>
                        <input type="checkbox" name="type[]" dataType="Require" value="时事" msg="类别必须选择">时事&nbsp;
                        <input type="checkbox" name="type[]" value="文娱">文娱&nbsp;
                        <input type="checkbox" name="type[]" value="体育">体育&nbsp;
                        <input type="checkbox" name="type[]" value="财经">财经&nbsp;
                        <input type="checkbox" name="type[]" value="时尚">时尚&nbsp;
                        <input type="checkbox" name="type[]" value="专题">专题&nbsp;
                        <input type="checkbox" name="type[]" value="历史">历史&nbsp;
                        <input type="checkbox" name="type[]" value="制图">制图&nbsp;
                        
                        </td>
                    </tr>
                    <tr height="26">
                    <td align=right>人物&nbsp;&nbsp;</td>
                    <td align=left >
                        <input type="text" name="people" dataType="LimitB" min="1" max="32" msg="人物必须填写">
                        </td>
                    <td align=right>地点&nbsp;&nbsp;</td>
                    <td align=left><input type="text" name="place" dataType="LimitB" min="1" max="32" msg="地点必须填写">&nbsp;&nbsp;时间&nbsp;&nbsp;<input  class="Wdate input-text  "  validate=" required:true"   name="time" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /></td>
                    </tr>
                    <tr height="26">
                    <td align=right>图片大小：长边不小于&nbsp;&nbsp;</td>
                    <td align=left >
                        <input type="text" name="size" dataType="Number" value="0" msg="图片大小必须为整数">像素
                        </td>
                    <td align=right>支付&nbsp;&nbsp;</td>
                    <td align=left><input type="text" name="value" dataType="Number" msg="支付点数必须为整数" value="0">点</td>
                    </tr>
                    <tr height="26">
                    <td align=right>征稿时间&nbsp;&nbsp;</td>
                    <td align=left >
                        <input  class="Wdate input-text  "   name="starttime" type="text" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
                        </td>
                    <td align=right>结束时间&nbsp;&nbsp;</td>
                    <td align=left><input  class="Wdate input-text  "  dataType="Require" msg="结束时间必须填写"  name="endtime" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /></td>
                    </tr>
                    <tr height="26">
                    <td align=right >备注&nbsp;&nbsp;</td>
                    <td align=left colspan=3>
                        <textarea  name="state" style="width:400px;height:100px;"></textarea>
                    </td>
                    </tr>
                    <tr>
                    <td align=center colspan=4>{__TOKEN__}<input type="submit" value="保存">&nbsp;<input type="reset" value="重置" /></td>
                    </tr>
            </table>
            </form>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
