<include file="Public:user_top" />

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
            <form action="{:U('Pay/index')}" method="get">
            <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
            <table  class="search_table" width="100%" align="left" height="60">
            <tr>
            <td>起始时间：</td>
            <td><input class="Wdate input-text"  name="starttime" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{$starttime}" style="width:112px" /></td>
            <td>结束时间：</td>
            <td><input class="Wdate input-text"  name="endtime" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{$endtime}" style="width:112px" /></td>
            <td><input type="submit" value="查询"  class="userButton" /></td>
            </tr>
            </table>
            </form>
            <div class="clear"></div>
            <table width="100%" cellspacing="0" align="left" bordercolor="#d1d1d1" border="1">
                <thead>
                    <tr bgcolor="#f7f7f7" height="26">
                    <th align="center" width="80">操作类型</th>
                    <th align="center" width="80">操作金额</th>
                    <th align="center" width="120">操作时间</th>
                    <!-- <th align="center" width="80">可用余额</th> -->
                    <th align="center" width="80">操作人</th>
                    <th align="center">备注</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="v" key="k">
                    <tr>
                    <td align=center>{:getPayType($v['type'])}</td>
                    <td align=center>{$v.points}</td>
                    <td align=center>{$v.createtime|date="Y-m-d H:m:s",###}</td>
                    <!-- <td align=center>{$v.use_points}</td> -->
                    <td align=center>{$v.oper}</td>
                    <td align=center>{$v.remark}</td>
                    </tr>
                    </volist>
                    <tr><td colspan="6" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
