<include file="Public:user_top" />
<load href="../Public/Js/pcasunzip.js"/>

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
            <form action="{:U('ToPay/save')}" method="post">
            <div style="border:1px solid #d1d1d1; background-color:#f7f7f7;line-height:26px; padding:5px">
                  <p>申请结算点数：<input type="text" name="pvalue" value="{$login.pvalue}">(当前可用点数 <span class="red blod">{$login.pvalue}</span> 点)</p>
                  <p><input type="submit" value="提交申请" onclick="return confirm('确定要提交申请吗？')"/></p>
             </div>
             </form>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
