<include file="Public:user_top" />
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
         <!-- <form action="{:U('Up/doup',array('groupid' =>1,'mode'=>1))}"  ENCTYPE="multipart/form-data" method="POST" >
        <input type="file" name="file" />
        <input type="submit" value="submit" />
        </form>   -->
       <form name="queryform" action="{:U('Up/One')}" method="POST">
            <table>
            <tr>
                <td>上传方式：</td>
                <td><!-- <input type="radio" name="mode" value="0" checked onclick="chg(this)"/>批量上传&nbsp;&nbsp; -->
                <input type="radio" name="mode" value="1" onclick="chg(this)" checked/>自动上传(适用已填写iptc内容的图片)  <a href="mailto:test@photochina.com.cn">邮箱上传</a>
                </td>
                </tr>
                <tr>
                <td></td>
                <td><input type="radio" name="type" value="1" checked/>时效图片&nbsp;&nbsp;
                <input type="radio" name="type" value="2" />资料图片
                </td>
                </tr>
                <tbody id="tbody" style="display:none">
                <tr>
                <td>组图标题：</td>
                <td><input type="text" id="groupTitle" name="title" style="width:350px"></td>
                </tr>
                
                <tr>
                <td>图组说明：</td>
                <td><textarea id="remark" name="remark" style="width:600px;height:200px;"></textarea>2000字以内
                </td>
                </tr>
                
                <tr>
                <td>拍摄地区：</td>
                <td>
                <select name="country" onchange="chgCountry(this)">
                    <option value="中国" selected>国内</option>
                    <option value="国外">国外</option>
                </select>         
                <span id="area0">省份：
                城市：<select name=province id="province" class="Adress"></select>
            <select name=city  id="city" class="Adress"></select>
            </span>
            <span id="area1" style="display:none">
            国家：<input type="text" name="country1" maxlength="20" length="10" style="width:100px"/>
            州/区：<input type="text" name="province1" maxlength="20" length="10" style="width:100px"/>
    城市:<input type="text" name="city1" maxlength="20" length="10" style="width:100px"/>
            </span>
                </td>
                </tr>
                
                <tr>
                <td>拍摄日期：</td>
                <td><input  class="Wdate input-text  "  validate=" required:true"   name="photo_time" type="text" id="createtime" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'
        })"  style="width:140px; height:18px"/></td>
                </tr>
                </tbody>
            </table> 

            <center>
            <input type="submit" style="width:80px" value="下一步" onclick="return onNext()"/>
            </center>
            <script language="JavaScript">
                function onNext()
                {
                    var obj = document.queryform.mode;
                    if(0 == obj.value)
                    {
                        //判断一些输入是否合法
                        if( document.getElementById("groupTitle").value =="" )
                        {
                            alert("请输入标题");
                            return false;
                        }
                        else if( document.getElementById("remark").value =="" )
                        {
                            alert("请输入总说明");
                            return false;
                        }
                        return true;
                    }
                }
            </script>
        </form>
        </div>
        </div>
       <SCRIPT language=javascript defer>
            new PCAS("province","city");
            function chg(obj)
            {
                if(0 == obj.value)
                {
                    document.getElementById('tbody').style.display="";
                }
                else
                {
                    document.getElementById('tbody').style.display="none";
                }
            }
            function chgCountry(obj)
            {
                if(obj.value == '中国')
                {
                    document.getElementById('area0').style.display="";
                    document.getElementById('area1').style.display="none";
                }
                else
                {
                    document.getElementById('area0').style.display="none";
                    document.getElementById('area1').style.display="";
                }
            }
        </SCRIPT>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
