<include file="Public:user_top" />
<link href="../Public/Js/SWFUpload/css/default.css" rel="stylesheet" />

<load href="../Public/Js/SWFUpload/swfupload/swfupload.js"/>
<load href="../Public/Js/SWFUpload/js/fileprogress.js"/>
<load href="../Public/Js/SWFUpload/js/handlers.js"/>
<load href="../Public/Js/SWFUpload/js/swfupload.queue.js"/>

<script type="text/javascript">
        var swfu;
        var nexturl = "{:U('Up/two',array('groupid' =>$groupid,'mode'=>$mode,'type'=>$type))}";
        window.onload = function() {
            var settings = {
                flash_url : "../Public/Js/SWFUpload/swfupload/swfupload.swf",
                upload_url: "{:U('Up/doup',array('groupid' =>$groupid,'mode'=>$mode,'type'=>$type))}",  
                post_params: {"PHPSESSID" : "<?php echo session_id(); ?>"},
                file_size_limit : "100 MB",
                file_types : "*.jpg",
                file_types_description : "jpg",
                file_upload_limit : 50,  //配置上传个数
                file_queue_limit : 0,
                custom_settings : {
                    progressTarget : "fsUploadProgress",
                    cancelButtonId : "btnCancel"
                },
                debug: false,

                // Button settings
                button_image_url: "../Public/Js/SWFUpload/images/TestImageNoText_65x29.png",
                button_width: "65",
                button_height: "29",
                button_placeholder_id: "spanButtonPlaceHolder",
                button_text: '<span class="theFont">浏览</span>',
                button_text_style: ".theFont { font-size: 16; }",
                button_text_left_padding: 12,
                button_text_top_padding: 3,
                
                file_queued_handler : fileQueued,
                file_queue_error_handler : fileQueueError,
                file_dialog_complete_handler : fileDialogComplete,
                upload_start_handler : uploadStart,
                upload_progress_handler : uploadProgress,
                upload_error_handler : uploadError,
                upload_success_handler : uploadSuccess,
                upload_complete_handler : uploadComplete,
                queue_complete_handler : queueComplete  
            };

            swfu = new SWFUpload(settings);
         };
</script>

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
                <div style="clear:both"></div>
                <div class="fieldset flash" id="fsUploadProgress">
                    <span class="legend">快速上传</span>
                </div>
                <div id="divStatus">请选择要上传的图片</div>
                <div>
                    <span id="spanButtonPlaceHolder"></span>
                    <input id="btnCancel" type="button" value="取消所有上传" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 29px;" />
                </div>
                
                <center>
                <input type="button" style="width:80px" value="下一步" disabled="true" id="btn_next" onclick="location.href=nexturl"/>&nbsp;<input type="button" style="width:80px" value="返回" onclick="window.location.href='{:U('Up/index')}'"/>
                </center>
        </div>
        </div>
    </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
