<include file="Public:user_top" />
<script language="javascript">
    function onsamekeyword()
    {
    	var name =document.getElementsByName('ids[]');
    	var txt=document.getElementById("common_keyword").value;
    	for(i=0;i<name.length;i++)
        {
    		var id=name[i].value;
    		var obj = document.getElementById('keyword'+id);
    		if(document.getElementById('chk_keyword').checked)
			{
    			obj.value += ','+txt;
			}
    		else
    		{
    			obj.value = txt;
    		}
        }
    }
    function onsame(type)
    {
        var name =document.getElementsByName('ids[]');
        var date = document.getElementById('common_photo_time').value;
        var city = document.getElementById('common_city').value;
        var txt=document.getElementById("common_remark").value;
        for(i=0;i<name.length;i++)
        {
            var id=name[i].value;
            var obj = document.getElementById('remark'+id);
            var v= '';
            if(date != "")
            {
               // var dataArr = date.split('-');
                v = date;
            }
            if(city != '')
            {
                if(v != '')
                {
                    v = v +',' +city;
                }
                else
                {
                    v=city;
                }
            }
            if(txt != '')
            {
                obj.value=txt;
            }
            if(v != '')
            {
                obj.value=v+','+obj.value;
            }
            
        }
    }
    function chksubmit()
    {
    	var gtitle = document.getElementById('gtitle');
    	if(gtitle.value.length<2)
		{
    		alert('图组标题必须填写');
    		gtitle.focus();
            return false;
		}
    	var gremark = document.getElementById('gremark');
    	if(gremark.value.length<2)
		{
    		alert('图组描述必须填写');
    		gremark.focus();
            return false;
		}
        var name =document.getElementsByName('ids[]');
        for(i=0;i<name.length;i++)
        {
            var id=name[i].value;
            var obj = document.getElementById('remark'+id);
            if(obj.value == '')
            {
                alert('图片说明不完整,请检查');
                return false;
            }
        }
        return true;
    }
</script>

<div id="cenner">
	<div id="banner"><img src="../Public/images/banner.jpg" /></div>
    <include file="Public:user_menu_photo" />
    <div id="bodys">
    	<div class="left">
       	 <include file="Public:user_left_photo" />
        </div> 
        <div class="right">
        <form action="{:U('Up/save',array('groupid'=>$groupid))}" method="POST">
        <table style="top:1px" border="0" cellspacing="10" cellpadding="0">
           <tr>
           <td valign="top"> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;图组标题&nbsp;&nbsp 
           </td>
            <td >
                  <textarea name="gtitle" id="gtitle"  rows="2" cols="50" >{$ginfo.title}</textarea>
            </td>
           </tr>
           <tr>
           <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;图组描述&nbsp;&nbsp 
           </td>
           <td >
              <textarea name="gremark" id="gremark" rows="4" cols="50" >{$ginfo.remark}</textarea>
            </td>
            </tr>
            <tr>
            <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;批量图片关键字&nbsp;&nbsp 
           </td>
           <td>
           <textarea name="common_keyword" id="common_keyword" rows="4" cols="50"></textarea><input type="checkbox" name="chk_keyword" id="chk_keyword" value="1">追加&nbsp;<input type="button" value="设置" onClick="onsamekeyword();"/>
           </td>
           </tr>
            <tr>
            <td valign="top">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;批量图片说明&nbsp;&nbsp 
           </td>
           <td>
           <textarea name="common_remark" id="common_remark" rows="4" cols="50"></textarea><br>
            拍摄时间:<input type="text" name="common_photo_time" id="common_photo_time" onFocus="WdatePicker({dateFmt:'yyyy年MM月dd日'
        })" readonly style="width:100px">
            城市:<input type="text" name="common_city" id="common_city" style="width:100px"><input type="button" id="time_city_btn" value="设置" onClick="onsame();"/>
           </td>
           </tr>
            <volist name="vlist" id="vo" key="i">
           <tr>
           <td align="center">
                <input type="hidden" name="ids[]" value="{$vo.id}"/>
                <input type="hidden" name="img{$vo.id}" value="{$vo.url}" />
                <input type="hidden" name="img_date{$vo.id}" value="{$vo.up_time}" />
                <input type="hidden" name="city{$vo.id}" value="{$vo.city}" />
                <img src="{:getPicUrl($vo['url'],$vo['userid'],$vo['up_time'])}" style=" max-width:130px; max-height:130px" />
           </td>
          <td >图片大小:
                <p>({$vo.width}×{$vo.height}){$vo.filesize}KB
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp<!-- 设置点数(默认100点)<select name="point{$vo.id}">
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option></select>点 -->
              
&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="main" value="{$vo.id}" <eq name="i" value="1">checked</eq>>设为封面</p>
<p> 图片关键字（请不要超过128个字符）：</p>
<p><textarea name="keyword{$vo.id}" id="keyword{$vo.id}" style="width:500px;height:40px";>{$vo.images_key}</textarea></p>
<p> 图片说明：</p>
<p><textarea name="remark{$vo.id}" id="remark{$vo.id}" style="width:500px;height:80px";>{$vo.old_remark}</textarea></p>
                </td>
                </tr>
            </volist>
            </table>
            <center>
            <input type="submit" style="width:80px" value="保存" onClick="return chksubmit()"/>&nbsp;<input type="button" style="width:80px" value="返回" onclick="window.history.back()"/>
            </center>
            
            </form>
        </div>
        </div>
        </div>
<!--content end-->
<div id="nav">

</div>
<!--nav begin-->

<!--nav end-->
<div id="simplegallery1"></div>
<!--about begin-->
<include file="Public:user_foot" />
<!--copyRight end-->
</div>
</body>
</html>
