<!--about begin-->
<div id="about">
<a href="{:U('About/index')}">关于我们</a> | <a href="{:U('About/contact')}">联系我们</a> | <a href="{:U('About/copyright')}">版权声明</a>
</div>
<!--about end-->

<!--copyRight begin-->
<div id="copyRight">
浙ICP备10203621号 2011 PHOTOCHINA.COM.CN All Rights Reserved  推荐使用IE6.0及以上 FIREFOX3.0及以上浏览器访问本站以获得最佳效果 如有问题请联系我们
</div>
<!--copyRight end-->