<div id="left">
<!--layer 1-->
<div class="layer">
<if condition="!empty($three_menu)">
<div class="leftOnMenu">
<volist name="three_menu" id="vo">
<li <eq name="vo.groupid" value="$three_id">class="OnMenu"</eq>><a href="{:U('Group/index',array('id'=>$vo['groupid']))}">{$vo.name}</a></li>
</volist>
<!-- 
<li class="OnMenu"><a href="javascript:;">国际时事</a></li>
<li><a href="javascript:;">时政人物</a></li>
<li><a href="javascript:;">生态环境</a></li>
<li><a href="javascript:;">法制军事</a></li>
<li><a href="javascript:;">科教卫生</a></li>
<li><a href="javascript:;">自然生态</a></li>
<li><a href="javascript:;">社会生活</a></li> -->
</div>
</if>
</div>
<!--layer 2-->
<!-- 
<div class="layer">
<div class="layerTitle">
<a href="javascript:;">编辑推荐</a>
</div>
<div class="leftList">
<li><a href="javascript:;">西湖文化景观列入世界遗产名录</a> (170)</li>
<li><a href="javascript:;">西湖文化景观列入世界遗产名录</a> (170)</li>
<li><a href="javascript:;">西湖文化景观列入世界遗产名录</a> (170)</li>
<li><a href="javascript:;">西湖文化景观列入世界遗产名录</a> (170)</li>
<li><a href="javascript:;">西湖文化景观列入世界遗产名录</a> (170)</li>
<li><a href="javascript:;">西湖文化景观列入世界遗产名录</a> (170)</li>
<li><a href="javascript:;">西湖文化景观列入世界遗产名录</a> (170)</li>
<li><a href="javascript:;">西湖文化景观列入世界遗产名录</a> (170)</li>
</div>
</div> -->
<!--layer 3-->
<!-- 
<div class="layer">
<div class="layerTitle">
<a href="javascript:;">征稿需求</a>
</div>
<div class="leftContent">

</div>
</div> -->
<!--layer 4-->
<!-- 
<div class="layer">
<div class="layerTitle">
<a href="javascript:;">联系我们</a>
</div>
<div class="leftContent">
  <p>中国新闻部联系方式：<br />
    TEL:0571-28800708<br />
    MSN:<br />
    QQ:</p>
  <p>客服部联系方式：<br />
    TEL:0571-28800609<br />
    MSN:<br />
    QQ:</p>
</div>
</div> -->

</div>