<div class="gjSearch">
拍摄地点 &nbsp;
  <select name="select4" id="select4" style="width:68px">
    <option>请选择</option>
  </select>&nbsp;
  <select name="select5" id="select5" style="width:68px">
    <option>请选择</option>
  </select>&nbsp;
  <select name="select6" id="select6" style="width:68px">
    <option>请选择</option>
  </select>
  &nbsp;&nbsp;拍摄时间 &nbsp;
  <select name="select7" id="select7" style="width:68px" >
    <option> </option>
  </select>&nbsp;
  <select name="select8" id="select8" style="width:68px" >
    <option> </option>
  </select>&nbsp;
  <select name="select9" id="select9" style="width:68px" >
    <option>图片分类</option>
  </select>&nbsp;
  <select name="select10" id="select10" style="width:68px">
    <option>长边&gt;  像素</option>
  </select>&nbsp;
  <select name="select11" id="select11" style="width:68px">
    <option>大小&gt;  KB</option>
  </select>&nbsp;
  <input type="submit" name="button3" id="button3" value="提交" style="width:43px; height:21px; background:url(images/qc.jpg) no-repeat; border:none; color:#ffffff" />
</div>
<div class="gjSearch">
人物名称 &nbsp;
  <input name="textfield4" type="text" id="textfield4" style="width:199px"/>&nbsp;
  <select name="select4" id="select4" style="width:64px">
    <option>构图</option>
  </select>&nbsp;
  <select name="select5" id="select5" style="width:64px">
    <option>人数</option>
  </select>&nbsp;
  <select name="select6" id="select6" style="width:64px">
    <option>图形</option>
  </select>&nbsp;
  <select name="select7" id="select7" style="width:64px" >
    <option>格式</option>
  </select>&nbsp;
  <input name="textfield2" type="text" id="textfield2" value="主色调" style="width:103px"/>&nbsp;
  <input name="textfield3" type="text" id="textfield3" value="关键词" style="width:210px"/>&nbsp;
<input type="submit" name="button3" id="button3" value="提交" style="width:43px; height:21px; background:url(images/ss2.jpg) no-repeat; border:none; color:#ffffff" />
</div>