<div id="Menu">
<div class="menuLeft"></div>
<div class="menu">
<ul>
<li><a href="{:U('Group/index',array('hot'=>1))}" class="none"><img src="../Public/images/24.gif" />小时热图</a></li>
<volist name="column" id="vo" key="k">
<eq name="vo.name" value="体育">
<li><a href="{:U('Group/osports')}">{$vo.name}</a></li>
<else />
<li><a href="{:U('Group/index',array('id'=>$vo['groupid']))}">{$vo.name}</a></li>
</eq>
</volist>
<!-- <li><a href="{:U('Group/index',array('id'=>20000))}">创意图片</a></li>
<li><a href="{:U('Group/index',array('id'=>30000))}">摄影专题</a></li>
<li><a href="{:U('Group/index',array('id'=>60000))}">历史图片</a></li>
<li><a href="{:U('Group/index',array('id'=>40000))}">素材图片</a></li>-->
</ul>
</div>
<div class="menuRight"></div>
<if condition="!empty($second_menu)">
<div class="subMenu">
<volist name="second_menu" id="vo">
<if condition="$vo['groupid'] eq 100600">
<li <eq name="MODULE_NAME" value="Xml">class="on"</eq>><a href="{:U('Xml/index')}">{$vo.name}</a></li>
<elseif condition="$vo['groupid'] eq 100700" />
<li <eq name="MODULE_NAME" value="Video">class="on"</eq>><a href="{:U('Video/index')}">{$vo.name}</a></li>
<else />
<li <if condition="$vo['groupid'] eq $second_id and MODULE_NAME neq 'Xml'and MODULE_NAME neq 'Video'" value="$second_id">class="on"</if>><a href="{:U('Group/index',array('id'=>$vo['groupid']))}">{$vo.name}</a></li>
</if>
</volist>
<!-- <li class="on"><a href="{:U('Group/index',array('id'=>1,'sid'=>1))}">时事</a></li>
<li><a href="{:U('Group/index',array('id'=>1,'sid'=>1))}">体育</a></li>
<li><a href="{:U('Group/index',array('id'=>1,'sid'=>1))}">文娱</a></li>
<li><a href="{:U('Group/index',array('id'=>1,'sid'=>1))}">财经</a></li>
<li><a href="{:U('Group/index',array('id'=>1,'sid'=>1))}">时尚</a></li> -->
</div>
</if>
</div>