<div id="top">
<div class="logo">
<a href="{:U('Index/index')}"><img src="../Public/images/logo.jpg" width="202" height="74" /></a>
</div>
<div class="topRight">
 <div class="topSearch">
 <form action="{:U('Images/search')}" method="get" onsubmit="return Vali.vali(this,2)">
     <input name="m" type="hidden" value="Images"/>
     <input name="a" type="hidden" value="search"/>
     <input name="keyword" type="text" style="margin-left:10px; padding-left:5px; width:150px; height:18px; line-height:18px" value="图片ID或关键词" onfocus="cjx.chkfocusValue(this)" onblur="cjx.chkblurValue(this)" dataType="LimitB" min="1" max="50" allowDefaultValue="false" msg="请输入查询关键字"/>
     <select name="type_one">
       <option value="">全部分类</option>
       <foreach name="column" item="v">
       <option value="{$v.groupid}">{$v.name}</option>
       </foreach>
     </select>
     <input type="submit" style="background:url(../Public/images/ss.jpg) no-repeat; border:none; width:49px; height:22px" value="搜索" />
     <!-- <input type="button" name="button2" id="button2" style="background:url(../Public/images/gjss.jpg) no-repeat; border:none; width:63px; height:22px" value="高级搜索" onclick="showSearch()" /> -->
 </form>
 </div>
 <div class="topLink">
 <include file="Public:login_info" />
 </div>
</div>
</div>