
<div id="gjSearch_div" style="display:none">
<load href="__PUBLIC__/Js/MyDate/WdatePicker.js"/>
<form action="{:U('Images/search')}" method="get">
<input type="hidden" name="m" value="Images" />
<input type="hidden" name="a" value="search" />
<input type="hidden" name="issearch" value="1" />
<div class="gjSearch" >
拍摄地点 &nbsp;
  <input type="text" name="address" maxlength="20" length="10" style="width:170px"/>
  &nbsp;&nbsp;拍摄时间 &nbsp;
  <input  class="Wdate input-text  "  name="photo_time" type="text" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  style="width:140px;"/>&nbsp;
  &nbsp;&nbsp;
  <select name="type_one" id="select9" style="width:85px" >
    <option value="">所有分类</option>
    <foreach name="column" item="v">
    <option value="{$v.groupid}">{$v.name}</option>
    </foreach>
  </select>&nbsp;
  <select name="width"  style="width:85px">
    <option value="">不限长边像素</option>
    <option value="1">1-1000像素</option>
    <option value="1000">1000-2000PX</option>
    <option value="2000">2000-3000PX</option>
    <option value="3000">3000-4000PX</option>
    <option value="4000">4000-5000PX</option>
    <option value="5000">5000-6000PX</option>
    <option value="6000">6000-7000PX</option>
    <option value="7000">7000-8000PX</option>
    <option value="8000">8000-9000PX</option>
    <option value="9000">9000PX以上</option>
  </select>&nbsp;
  <select name="filesize" style="width:85px">
    <option value="">不限文件大小</option>
    <option value="1">1M及以下</option>
    <option value="2">1M-2M</option>
    <option value="3">2M-3M</option>
    <option value="4">3M-4M</option>
    <option value="5">4M-5M</option>
    <option value="6">5M-6M</option>
    <option value="7">7M-8M</option>
    <option value="8">8M-9M</option>
    <option value="10">10M-11M</option>
    <option value="11">11M-12M</option>
    <option value="12">12M-13M</option>
    <option value="13">13M-14M</option>
    <option value="14">15M-16M</option>
    <option value="15">16M-17M</option>
    <option value="16">17M-18M</option>
    <option value="17">18M-19M</option>
    <option value="18">19M-20M</option>
    <option value="19">20M以上</option>
  </select>&nbsp;
</div>
<div class="gjSearch">
人物名称 &nbsp;
  <input name="renwu_name" type="text"  style="width:170px"/>&nbsp;
  <select name="position" style="width:64px">
    <option value="">不限</option>
    <option value="1">横图</option>
    <option value="2">竖图</option>
    <option value="3">方图</option>
  </select>&nbsp;
  <select name="ren" style="width:64px">
    <option value="">不限</option>
    <option value="0">无人物图</option>
    <option value="1">1人</option>
    <option value="2">2人</option>
    <option value="3">3人</option>
    <option value="4">多人合影</option>
  </select>&nbsp;
  <select name="texie" id="select6" style="width:64px">
    <option value="">不限</option>
    <option value="1">特写</option>
    <option value="2">半身</option>
    <option value="3">全身</option>
  </select>&nbsp;
  <select name="fileext" id="select7" style="width:64px" >
    <option value="">格式不限</option>
    <option value="1">JPG/JPEG</option>
    <option value="2">PSD</option>
  </select>&nbsp;
  <!-- <input name="textfield2" type="text" id="textfield2" value="主色调" style="width:103px"/>&nbsp; -->
&nbsp;关键字<input name="keyword" type="text" value="" style="width:170px"/>&nbsp;
<input type="submit" value="提交" style="width:43px; height:21px; background:url(../Public/images/ss2.jpg) no-repeat; border:none; color:#ffffff" />
</div>
</form>
</div>