<div id="Menu" style="height:35px;">
<div class="menu">
<ul>
<li><a href="{:U('Group/index',array('hot'=>1))}" class="none"><img src="../Public/images/24.gif" />小时热图</a></li>
<volist name="column" id="vo" key="k">
<eq name="vo.name" value="体育">
<li><a href="{:U('Group/osports')}">{$vo.name}</a></li>
<else />
<li><a href="{:U('Group/index',array('id'=>$vo['groupid']))}">{$vo.name}</a></li>
</eq>
</volist>
</ul>
</div>

</div>