<div class="select">
    个人图库<span>您共上传了{$login.count}张图片</span> 
     关键词<input type="text" name="top_keyword" id="top_keyword" class="keywords" style="width:80px" value="{$keyword}"/> 时间范围从
    <input  class="Wdate input-text  " name="top_begindate" id="top_begindate" type="text"  size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{$begindate|date="Y-m-d",###}" style="width:120px; height:15px"/>
  
    到 <input  class="Wdate input-text  " name="top_enddate" id="top_enddate" type="text" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  style="width:120px; height:15px" value="{$enddate|date="Y-m-d",###}"/>
    <a href="#" onclick="onQuery()" style="cursor:hand">查询</a>
</div>
<script language="JavaScript">
    function onQuery()
    {   
        document.queryform.submit();
    }
</script>   