<div id="foot">
    <div class="top">
    <a href="{:U('Home-About/index')}">关于我们</a> | <a href="{:U('Home-About/contact')}">联系我们</a> | <a href="{:U('Home-About/copyright')}">版权声明</a>
    </div>
    <div class="mid">浙ICP证20111126  COpyRight@futu.com  All right reserved 推荐使用IE5.5以上浏览器访问本站以获得最佳效果，如有问题请联系我们</div>

    
</div>