<div id="menu">
        <ul>
            <li><a href="{:U('Home-Index/index')}" style="color:#FFF">富图主页</a></li>
            <li><a href="{:U('Index/index')}" style="color:#FFF">会员主页</a></li>
            <li><a href="{:U('Index/basic')}" style="color:#FFF">基本资料</a></li>
            <li><a href="{:U('Index/pwd')}" style="color:#FFF">修改密码</a></li>
            <li><a href="{:U('Pay/index')}" style="color:#FFF">消费明细</a></li>
            <li><a href="{:U('Buy/index')}" style="color:#FFF">购买记录</a></li>
            <li><a href="{:U('Message/index')}" style="color:#FFF">需求通道</a></li>
            <li><a href="{:U('Home-Index/logout')}" style="color:#FFF">退出登录</a></li>
        </ul>
  </div>