<div class="user">
    <a href="#"><img src="{$login.head_image_path}"  title="{$login.role}"/></a>
    <p><a href="#">{$login.account}</a></p>   
    <p>{$login.role}</p>
</div>
<!-- <div class="sell_msg">
  <p class="biaoti">销售信息<a href="#">More</a></p>
    <div class="googimg">
        <a href="#">
        <?php
        if($down_info[small_url])
                        echo '<img src="'.$down_info[small_url].'" />';
                    else
                        echo '<img src="../Public/images/nopicture.jpg"/>';
                    
                    ?>
        
        </a>
        <p>最佳单片<br /><a href="#" class="spans">ID/{$down_info[id]}</a></p><p>本周下载次数<br /><a class="spans">{$down_info[down_number]}</a></p>
    </div>
  <div class="googimg">
        <a href="#"><img src="../Public/images/Photoer/goog_img2.jpg" /></a>
        <p>最佳专题<br /><a href="#" class="spans">专题图片名称</a></p><p>本周下载次数<br /><a class="spans">280次</a></p>
  </div>
    <div class="loadtimes">
      <ul><li>本日图片下载总次数：100</li><li>本周图片下载总次数：1005</li><li>本月图片下载总次数：3450</li></ul>
  </div>
</div>
 -->