<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
		
			
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('AddvalueQuery/index')}" method="get">
			<input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
			{:L('account_query')}: <input type="text" style="width:80px;height:18px" name="account" class="input-text" value="{$account}"/>	
			{:L('oper_persion')}: <input type="text" style="width:80px;height:18px" name="oper" class="input-text" value="{$oper}"/>
			 操作类型：<select name="type">
             <option value="0" <eq name="type" value="0">selected</eq>>所有</option>
             <option value="1" <eq name="type" value="1">selected</eq>>充值</option>
             <option value="2" <eq name="type" value="2">selected</eq>>消费</option>
             <option value="3" <eq name="type" value="3">selected</eq>>结算</option>
             <option value="4" <eq name="type" value="4">selected</eq>>销售</option>
             </select>
             &nbsp;图片ID：<input type="text" name="pid" value="{$pid}" style="width:80px"/>
             {:L('start_query')}: <input  class="Wdate input-text  "  validate=" required:true"   name="startdate" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})" style="height:17px;" />
			{:L('to_query')}: <input  class="Wdate input-text  "  validate=" required:true"   name="enddate" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="height:17px;" /> 
			
			<input type="submit" value="{:L('chaxun')}"  class="button" />
			<input type="reset" value="{:L('reset')}" class="button"  />
			</form>
		</td>
	</tr>
    <tr><td>总记录数：<strong>{$count}</strong>&nbsp;&nbsp;总点数：<strong>{$sum}</strong> 点</td></tr>
</table>

<form name="myform" action="" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">图片ID</th>
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('account')}</th>
			<th width="120" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">{:L('oper_persion')}</th>
			<th width="120" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">操作点数</th>
			<!-- <th width="120" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">可用点数</th> -->
			<th width="150" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">操作类型</th>
			<th width="150" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">操作时间</th>	
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="addvaluelist" key="k">
      		<tr>
      		<td align="left">{$addvaluelist['pid']}</td>
      		<td align="left">{$addvaluelist['account']}</td>
			<td align="left">{$addvaluelist['oper']}</td>
      		<td align="left">{$addvaluelist['points']}</td>
      		<!-- <td align="left">{$addvaluelist['use_points']}</td> -->
      		<td align="left">{:getPayType($addvaluelist['type'])}</td>
      		<td align="left">{$addvaluelist.createtime|date="Y-m-d H:i:s",###}</td>
      		</volist>
      	</tbody>
    </table>
</div>
</form>

<div id="pages" class="page">{$page}</div>



