<include file="Admin:header" />
<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">结算管理</strong>
 <img src="../Public/images/heixian.jpg" />
 <table  class="search_table" width="100%">
    <tr>
      <td>
        <form action="{:U('Baobiao/photojs')}" method="POST">
          
          <strong>用户名:</strong> <input type="text" name="account" class="input-text" style="width:120px; height:15px;"/>	  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>创建日期:</strong>
        <input  class="Wdate input-text  "  validate=" required:true"   name="start_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})" style="height:17px;" /> - <input  class="Wdate input-text  "  validate=" required:true"   name="end_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="height:17px;"/>
        

          &nbsp;&nbsp;<input type="submit" value="{:L('chaxun')}"  class="button" style="width:60px" />
          &nbsp;<input type="reset" value="{:L('reset')}" class="button" style="width:60px" />
          <SCRIPT language=javascript defer>
				new PCAS("province","city");
			</SCRIPT>
        </form>
      </td>
      
    </tr>
  </table>
  <form name="myform" action="{:U('Baobiao/downer_info')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">编号ID</th>
			<th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">申请用户</th>	
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">申请时间</th>
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">申请金额</th> 
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">状态</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="downloader" key="k">
      		<tr>
			<td align="center" style="border:1px solid #c6c6c6; ">{$downloader['id']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['account']}</td>
			<td align="left" style="border:1px solid #c6c6c6; "><?php
          echo date("Y-m-d",$downloader['createtime']);    
		     ?></td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['query_value']}</td>
      		<td style="border:1px solid #c6c6c6; ">
            <?php
            if($downloader['state']==0)
            	echo "正常";
             else
             	echo "未激活";    
		     ?></td></td>
      				
      		</tr>
      		</volist>
      	</tbody>
    </table>
    </div> 

</form>

<div id="pages" class="page">{$page}</div>
