<include file="Admin:header" />
<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">用户购买管理</strong>
 <img src="../Public/images/heixian.jpg" />
 <table  class="search_table" width="100%">
    <tr>
      <td>
        <form action="{:U('Baobiao/phototj')}" method="POST">
          
          <strong>用户账号:</strong> <input type="text" name="account" class="input-text" style="width:120px; height:15px;"/>	
          &nbsp;<strong>用户姓名: </strong><input type="text" name="name" class="input-text"  style="width:110px; height:15px;"/>
         
          &nbsp;<strong>工作单位:</strong> <input type="text" name="company" class="input-text"  style="width:120px; height:15px;"/><br />
          
          &nbsp;<strong>省份:</strong> <select name=province size="1" style="width:100px;"></select>
          &nbsp<strong>城市:</strong> <select name=city  style="width:100px;"></select>		
       &nbsp;&nbsp;&nbsp;<strong>日期:</strong>    <input  class="Wdate input-text  "  validate=" required:true"   name="start_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})" style="height:17px;" />-<input  class="Wdate input-text  "  validate=" required:true"   name="end_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'
		})"  style="height:17px;"/>
          &nbsp;&nbsp;<input type="submit" value="{:L('chaxun')}"  class="button" style="width:60px" />
          &nbsp;<input type="reset" value="{:L('reset')}" class="button" style="width:60px" />
          <SCRIPT language=javascript defer>
				new PCAS("province","city");
			</SCRIPT>
        </form>
      </td>
      
    </tr>
  </table>
  <form name="myform" action="{:U('Baobiao/downer_info')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">用户ID</th>
			<th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">会员类型</th>	
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">用户账号</th>
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">用户姓名</th> 
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">工作单位</th>
			<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">城市</th>
			<th width="250" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">联系电话</th>	
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">图组数量</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">图片数量</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">审核通过</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">销售数量</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">销售收入</th>
            <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">已结算</th>
             <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">状态</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="downloader" key="k">
      		<tr>
			<td align="center" style="border:1px solid #c6c6c6; ">{$downloader['id']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['role']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['account']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$downloader['name']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['company_name']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$downloader['city']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['phone']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['group']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['images']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['simages']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['sellnum']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['values']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['remark']}</td>
            <td style="border:1px solid #c6c6c6; ">{$downloader['state']}</td>
      				
      		</tr>
      		</volist>
      	</tbody>
    </table>
    </div> 

</form>

<div id="pages" class="page">{$page}</div>
