<include file="Admin:header" />
<load href="__PUBLIC__/Js/pcasunzip.js"/>
        
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">用户购买管理</strong>
 <img src="../Public/images/heixian.jpg" />
  <table  class="search_table" width="100%">
    <tr>
      <td>
        <form action="{:U('Baobiao/index')}" method="get">
          <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />       
            <input type="hidden" name="type" value="{$type}" />       
          <strong>用户账号:</strong> <input type="text" name="account" class="input-text" style="width:98px; height:15px;" value="{$account}"/> 
          <!-- &nbsp;<strong>用户姓名:</strong> <input type="text" name="name" class="input-text"  style="width:80px; height:15px;" value="{$name}"/> -->
          &nbsp;<strong>单位:</strong> <input type="text" name="company" class="input-text"  style="width:100px; height:15px;" value="{$company}"/>
           &nbsp;<strong>图片ID:</strong> <input type="text" name="images_id" style="width:111px;" value="{$images_id}"/>   
          <!-- &nbsp;<strong>省份:</strong> <select name=province size="1" style="width:100px;"></select>
          &nbsp<strong>城市:</strong> <select name=city  style="width:100px;"></select>       
          <BR> -->
          <strong>日期:</strong> <input type="text" name="start_query"  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate input-text" >-<input type="text" name="end_query" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  class="Wdate input-text">
         
          <br>&nbsp;&nbsp;<input type="submit" value="{:L('chaxun')}"  class="button" style="width:60px" />
          &nbsp;<input type="reset" value="{:L('reset')}" class="button" style="width:60px" />&nbsp;共下载 <b>{$count}</b> 张图，总费用 <b>{$buy_count}</b> 点
          <SCRIPT language=javascript defer>
                //new PCAS("province","city");
            </SCRIPT>
        </form>
      </td>
      
    </tr>
  </table>
    
  <form name="myform" action="{:U('Baobiao/supplement')}" method="post">
  <div class="table-list">
    <table width="100%" cellspacing="0">
      <thead>
        <tr>
          <th width="75" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">图片ID</th>
          
          <th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">
          用户账号</th> 
          
          <th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">单位</th>
          <th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">
          图组名称</th>   
          <th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">图片</th>
          <th width="250" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">购买时间</th>    
          <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">支付点数</th>
          <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">销售点数</th>
          <th width="150" align="left" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">下载IP</th>
        </tr>
      </thead>
      <tbody>   
      <volist name="mlist" id="downloader" key="k"> 
        <tr>
          <td align="center" style="border:1px solid #c6c6c6; ">{$downloader['images_id']}</td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['account']}</td>
          <td align="left" style="border:1px solid #c6c6c6; ">{$downloader['company_name']}</td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['title']}</td>
          <td style="border:1px solid #c6c6c6; "><img src="{:getPicUrl($downloader['url'],$downloader['up_userid'],$downloader['up_time'])}" style="width:70px; height:40px"></td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['buytime']|date="Y-m-d H:i:s",###}</td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['buy_values']}</td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['sell_values']}</td>
          <td style="border:1px solid #c6c6c6; ">{$downloader['ip']}</td>
        </tr>   
        </volist>
      </tbody>
    </table>
</div>
<div id="pages" class="page">{$page}</div>