<include file="Admin:header" />
<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">会员充值</strong>
 <img src="../Public/images/heixian.jpg" />
 
<form action="{:U('Downloader/Saveinfo')}" method="POST"> 
<input type="text" name="id"  value="{$userinfo['id']}" style=" display:none;"/>
<table  class="search_table" width="100%">
    <tr><td style="width:150px">用户账号:</td><td>{$userinfo['account']}</td>	</tr>
     <tr><td style="widht:150px">充值点数: </td><td><input type="text" name="value" class="input-text"  style=" height:15px;"/></td></tr>     
          <tr><td style="widht:150px">用户名称:</td><td>{$userinfo['name']}</td></tr>
          <tr><td style="widht:150px">充值点数说明:</td><td> <input type="text" name="remark" class="input-text"  style=" height:15px;"/></td></tr>
  </table>
   <input type="submit" style="width:80px;height:25px" value="{:L('dosave')}"   class="button">
    </form>
    