<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">修改折扣</strong>
 <img src="../Public/images/heixian.jpg" />
 
<form action="{:U('Downloader/Savediscount')}" method="POST"> 
<input type="text" name="id"  value="{$userinfo['id']}" style=" display:none;"/>
<table  class="search_table" width="100%">
    <tr><td style="width:150px; height:20px">用户账号:</td><td>{$userinfo['account']}</td>	</tr>
    <tr><td style="widht:150px; height:20px">用户名称:</td><td>{$userinfo['name']}</td></tr>
     <tr><td style="widht:150px">修改折扣: </td><td><input type="text" name="discount" class="input-text"  value="{$userinfo['discount']}" style=" height:20px;"/></td></tr>     
      
  </table>
   <input type="submit" style="width:80px;height:25px" value="{:L('dosave')}"   class="button">
    </form>