<include file="Admin:header" />

<div id="nav" class="mainnav_title">
<div id="lang"></div><ul>
<a href="index.php?g=Admin&m=gonggao&a=index">公告管理</a>|
<a href="index.php?g=Admin&m=gonggao&a=add">新增公告</a>|</ul>
</div>

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<form action="{:U('gonggao/index')}" method="POST">
	<table>
	<tr>
	<td>起始时间:</td>
	<td><input class="Wdate input-text"  validate=" required:true"  name="start" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  /></td>
	<td>结束时间:</td>
	<td><input  class="Wdate input-text"  validate=" required:true"   name="end" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /></td>
	<td><input type="submit" value="查询" /></td>
	</tr>
	</table>
</form>
<br><br>
<table width="100%">
<thead>
<tr>
<td width=50 align="left">编号</td>
<td width=200>公告标题</td>
<td width=150>发布时间</td>
<td width=100>操作</td>
</tr>
</thead>
<tbody>
	<volist name="glist" id="gg" key="id">
		<tr>
			<td>{$id}</td>
			<td><a target="_blank" href="?g=admin&m=gonggao&a=show&id={$gg['id']}">{$gg['title']}</td>
			<td><?php echo date('Y-m-d H:i:s',$gg['time']) ?></td>
			<td><a href="?g=admin&m=gonggao&a=add&id={$gg['id']}">修改</a> | <a href="?g=admin&m=gonggao&a=del&id={$gg['id']}">删除</a></td>
		</tr>
	</volist>
</tbody>
</table>