<include file="Admin:header" />

<div id="nav" class="mainnav_title">
<div id="lang"></div><ul>
<a href="index.php?g=Admin&m=gonggao&a=index">公告管理</a>|
<a href="index.php?g=Admin&m=gonggao&a=add">新增公告</a>|</ul>
</div>

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<form action="{:U('gonggao/subadd')}" method="POST">
	<input name="id" value="{$glist['id']}" style="display:none" />
	<table>
	<tr><td>公告标题:</td>
	<td><input type="text" name="title" id="title" value="{$glist['title']}" style="width:820px" /></td></tr>
	<tr><td>公告内容:</td>
	<td><textarea name="context" style="width:800px;height:400px"  />{$glist['content']}</textarea></td></tr>
	<tr><td><input type="submit" value="保存" /></td></tr>
	</table>
</form>

