<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<load href="./Public/Js/jquery.min.js"/>
<load href="./Public/Js/jquery.validate.js"/>
<load href="./Public/Js/artDialog.min.js"/>
<load href="./Public/Js/jquery.form.js"/>

<div id="nav" class="mainnav_title">
<ul>
<a href="{:U('Group/index',array('edit_id'=>$edit_id))}">摄影师图组</a>|
<a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>1))}">待发布图组</a>|
<a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>3))}">已发布图组</a>| {$edit_group_msg} |
<a href="#" onclick="window.history.go(-1);">返回</a> |
<a href="#" onclick="window.location.reload()">刷新</a></ul>
</div>

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<load href='./Public/Css/seltype.css' />

<style >
	.imagetd{width:300px;
				height:300px;
				border:1px solid #666;
				vertical-align:middle;
	}
	
	.stable{ 
			color:#00C;
	}
	
	.keydiv{ position:absolute;
	border:1px solid #666;;
	left:280px;
	top:120px;
	width:250px;
	display:none;
	background:#99C;
	};

</style>

		


<script language="javascript">
    function setPoint(value)
    {
    	var ids = $("input[name='ids[]']");
    	if(ids)
    	{
    		ids.each(function(i,o){
    			var id = $(o).val();
    			var obj = $('#point'+id);
    			obj.val(value);
    		});
    	}
    }
    function selecttype(seq,id,name)
    {
        if(seq==1)
        {
            document.getElementById("typeoneid").value=id;
            document.getElementById("stypeone").innerHTML=name;
            if(id>=80000 && id<90000)
        	{
            	//制图
            	setPoint(150);
        	}
            else if(id>100000)
        	{
            	//奥运
                setPoint(200);
        	}
        }
        else if(seq==2)
        {
            document.getElementById("typetwoid").value=id;
            document.getElementById("stypetwo").innerHTML=name;
        }
        else if(seq==3)
        {
            document.getElementById("typethreeid").value=id;
            document.getElementById("stypethree").innerHTML=name;
        }
    }
	//图片旋转
	function onImgRotation(obj,type,id)
	{
		var url = '{:U('Group/imgRotation',array('edit_id'=>$edit_id))}';
        url += '&imgid='+id+'&rationtype='+type;
        obj.disabled=true;
        $.getJSON(url,function(result){
            obj.disabled=false;
            var img = $('#imageid'+id);
            var src = img.attr('src');
            if(src.indexOf('?')>0)
            {
            	src += new Date().toString();
            }
            else
            {
            	src +='?' + new Date().toString();
            }
            img.attr('src',src);
            chkResult(result,'旋转');
        });
	}
	//移除一张图片
	function removeimg(obj,ids)
	{
		if(!ids)
        {
            ids = getChecked();
            if('' === ids)
            {
                malert('没有选择要操作的对象');
                return false;
            }
        }
		var del = "{:U('Group/removeeditimg',array('edit_id'=>$edit_id))}";
		window.location.href=del+"&ids="+ids;
	}
	
	//删除图组
	function delgroup()
	{
		window.location.href='{:U('Group/deleditgroup',array('edit_id'=>$edit_id))}';
	}
	
	function chkvalid()
	{
		var typeone = $('#typeoneid').val();
		typeone = parseInt(typeone);
		if(isNaN(typeone) || typeone<=0)
		{
			  malert('没有选择分类');
			  return false;
		}
		var title = $("input[name='gtitle']").val();
		if(!title)
        {
              malert('没有输入图组标题');
              return false;
        }
		var remark = $("textarea[name='gremark']").val();
		if(!remark)
        {
              malert('没有输入图组描述');
              return false;
        }
		/*var gcountry = $('#country').val();
		if('国外' == gcountry)
		{
			$('#country').val($('#country1').val());
			$('#province').val($('#province1').val());
			$('#city').val($('#city1').val());
		
		}
		if($('#country').val().length<1)
        {
             // malert('没有选择图组国家');
             // return false;
        }
        if($('#province').val().length<1)
        {
             // malert('没有选择图组省份');
             // return false;
        }
        if($('#city').val().length<1)
        {
              //malert('没有选择图组城市');
              //return false;
        }*/
		var ischeck = true;
		var ids = $("input[name='ids[]']");
		if(!ids.length)
		{
			return true;//没有任何图片 直接退出检查
			//malert('当前编辑图组没有任何图片');
			//return false;
		}
	    ids.each(function(i,o){
	    	var id = $(o).val();
	    	if($('#imgcity'+id).val().length<1)
	    	{
	    		//malert('没有填写图片的城市');
	    		//ischeck = false;
	    		 // return false;
	    	}
	    	if($('#imagekey'+id).val().length<1)
	    	{
	    		malert('没有填写图片关键字');
	    		ischeck = false;
	    		  return false;
	    	}
	    	//if($('#rwname'+id).val().length<1)
	    	//{
	    	//	alert('没有填写图片人物姓名');
	    	//	ischeck = false;
	    	//	  return false;
	    	//}
	    	if($('#imageremark'+id).val().length<1)
	    	{
	    		malert('没有填写图片说明');
	    		ischeck = false;
	    		  return false;
	    	}
	    });
	    return ischeck;
	}
	
	//保存图组
	function savegroup()
	{
		if(!chkvalid())
		{
			return false;
		}
		//保存图组信息
		document.getElementById("subtype").value="0";//0表示保存不提交
		document.getElementById("mainfrm").submit();
	}
	
	//提交编辑图组
	function submitgroup()
	{
		if(!chkvalid())
        {
            return false;
        }
		//提交图组
		document.getElementById("subtype").value="1";//1表示保存且提交
		document.getElementById("mainfrm").submit();
	}
	
	//设置封面图片
	function onsetface(obj,id)
	{
		var url = '{:U('Group/seteditface',array('edit_id'=>$edit_id))}';
		url += '&mainfaceid='+id;
		obj.disabled=true;
        $.getJSON(url,function(result){
            obj.disabled=false;
            chkResult(result);
        });
	}
	
	function addarea()
    {
		var ids = getChecked();
        if('' == ids)
        {
            malert('没有选择要操作的图片');
            return;
        }
        var idsarr = ids.split(',');
        var gkey =$('#gkey').val();
        for(var i=0;i<idsarr.length;i++)
        {
            var o = $('#imagekey'+idsarr[i]);
            var cur = o.val();
            if(cur)
            {
                cur += ',' + gkey;
            }
            o.val(cur);
        }
        
        //country
        var country=document.getElementById("country").value;
        var province;
        var city;
        if(country!="国外")
        {
            country="中国";
            province=document.getElementById("province").value;
            city=document.getElementById("city").value;
        }
        else
        {
            country=document.getElementById("country1").value;
            province=document.getElementById("province1").value;
            city=document.getElementById("city1").value;
        }
        $("input[name='ids[]']").each(function(i,o){
        	 var countryid="imgcountry"+o.value;
             var provinceid="imgprovince"+o.value;
             var cityid="imgcity"+o.value;
        	document.getElementById(countryid).value=country;
            document.getElementById(provinceid).value=province;
            document.getElementById(cityid).value=city;
        });
    }
	function keyword_sure()
	{
	    var s = '';
	    $("input[name='keylist']").each(function(i,o){
	        if(o.checked)
	        {
	            if('' === s)
	            {
	                s = o.value;
	            }
	            else
	            {
	                s += ',' + o.value;
	            }
	        }
	    });
	    $('#gkey').val(s);
	    $('#keydivid').hide();
	}	
	function addkey()
    {
        var ids = getChecked();
        if('' == ids)
        {
            malert('没有选择要操作的图片');
            return;
        }
        var idsarr = ids.split(',');
        var gkey =$('#gkey').val();
        var chk = document.getElementById('chk_keyword');
        for(var i=0;i<idsarr.length;i++)
        {
            var o = $('#imagekey'+idsarr[i]);
            var cur = o.val();
            if(chk.checked)
        	{
                if(cur)
                {
                    cur += ',' + gkey;
                }
                else
            	{
                	cur = gkey;
            	}
                o.val(cur);
        	}
            else
            {
            	o.val(gkey);
            }
            
        }
    }
    
    function showdiv()
    {
        $('#keydivid').show();
    }
    
</script>


<!--选择关键字 -->
<div id="keydivid" class="keydiv" >
    <foreach name="keylist" item="ky">
    <input type="checkbox" value="{$ky.name}" name="keylist" />{$ky.name}&nbsp;&nbsp;
    </foreach>
    <input type="button" value="确定" onclick="keyword_sure()"/>
</div>
			
<form id="mainfrm" name="mainfrm" action="{:U('Group/saveeditgroup')}" method="POST" >
	<!--添加三个隐藏的文本框记录选择的类型 -->
    <input type="hidden" name="edit_id"  value="{$edit_id}" />
    <input type="hidden" name="typeoneid" id="typeoneid" value="{$vo['type_one']}" />
    <input type="hidden" name="typetwoid" id="typetwoid" value="{$vo['type_two']}" />
    <input type="hidden" name="typethreeid" id="typethreeid" value="{$vo['type_three']}" />
	<include file="Admin:menutype" />
    <table>
    	
        <tr>
		<td style="width:70px">发生时间:</td>
        <td> <input  class="Wdate input-text" name="gtime" id="gtime" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{$vo.photo_date|date="Y-m-d",###}" style="width:160px"/></td>
     	<td>拍摄地区：
              <select name="country" id="country" onChange="chgCountry(this)">
					<option value="中国" selected>中国</option>
					<option value="国外">国外</option>
		   	  </select>         
			  <span id="area0">省份：<select name=province id="province" class="Adress"></select>
				城市：<select name=city  id="city" class="Adress"></select>
            </span>
            <span id="area1" style="display:none">
            国家：<input type="text" name="country1" id="country1" maxlength="20" length="10" style="width:100px"/>
            州/区：<input type="text" name="province1" id="province1" maxlength="20" length="10" style="width:100px"/>
    城市:<input type="text" name="city1" maxlength="20" id="city1" length="10" style="width:100px"/>
            </span>
		<input type="button" value="添加" onclick="addarea()" /></td></tr>

        <tr>
        <!--<td>类别:</td>
        <td>
         <select name="keytype" id="keytype"  onchange="changekeytype()">
        <option>-----请选择类别-----</option>
        <foreach name="keytype" item="kw">
        <option value="{$kw.id}">{$kw.name}</option>
        </foreach>
		</select> </td>-->
		<td colspan="7">关键字:&nbsp;&nbsp<input name="gkey" id="gkey" style="width:650px" >
		<input type="button" value="全选" onclick="chkall()"/>&nbsp;<input type="checkbox" name="chk_keyword" id="chk_keyword" value="1">追加&nbsp;
		<input type="button" value="添加" onclick="addkey()"/></td>
		</tr>
        <tr>
		<td>图组标题:</td><td colspan="8"><input type="text" name="gtitle" value="{$vo['title']}" style="width:850px"/></td></tr>
        <tr>
		<td>图组说明:</td><td colspan="8"><textarea name="gremark" style="width:850px;height:100px">{$vo['remark']}</textarea></td></tr>
      </table>
        
        
		
		<!-- 加载图像 -->
		
        <input type="hidden" name="subtype" id="subtype"/>
		<table class="stable">
			<volist name="imagelist" id="image" key="id">
				<?php if( $id-1%3==0 ) echo "<tr>"; ?>
					<td >
                    	<table>
						<tr><td colspan="2">图片编号：<span id="imagespan{$id}">{$image['id']}</span></td></tr>
						<tr><td>
                        <div class="imagetd" align="center">
                		<a href="{:getPicUrl($image['url'],$image['userid'],$image['up_time'],110)}" target="_blank"><img src="{:getPicUrl($image['url'],$image['userid'],$image['up_time'],1)}" id="imageid{$image['id']}" style="max-width:290px;max-height:290px; vertical-align:middle; padding-top:5px" /></a></div></td></tr>
                        
            			</table>
                       
                       	<table>
						<tr><td style="width:80px">上传时间：</td><td>
                        <?php echo date('Y-m-d h:i:s',$image['up_time']); ?></td></tr>
						<tr><td>审核时间：</td><td><?php echo date('Y-m-d h:i:s',$image['check_time']); ?></td></tr>
						<tr><td>是否封面：</td>
                        <td><?php if($image['url']==$vo['main_url']) echo "封面图片"; else echo "否"; ?></td></tr>
						<tr><td>价格：</td>
                        <td>
                        <input type="input" name="point{$image['id']}" id="point{$image['id']}" value="<if condition="$image['value'] gt 0">{$image.value}<else />100</if>">
                        </td>
                        </tr>
                        <tr><td>地区:</td>
                        <td>
                        <input id="imgcountry{$image['id']}" name="imgcountry{$image['id']}" value="{$image['country']}" style="width:60px"/>
                        &nbsp;&nbsp;<input id="imgprovince{$image['id']}" name="imgprovince{$image['id']}" value="{$image['province']}" style="width:60px"/>
                        &nbsp;&nbsp;<input id="imgcity{$image['id']}" name="imgcity{$image['id']}" value="{$image['city']}" style="width:60px"/>
                      </td></tr>
						<tr><td>图片说明：</td></tr>
						<tr><td colspan="2"><textarea id="imageremark{$image['id']}" name="imageremark{$image['id']}" style="height:80px;width:290px">{$image['remark']}</textarea></td></tr>
						<tr><td>关键字:</td></tr>
						<tr><td colspan="2"><textarea style="height:60px;width:290px" name="imagekey{$image['id']}" id="imagekey{$image['id']}" >{$image['images_key']}</textarea></td></tr>
						<tr><td  name="rwname{$image['id']}">人物姓名：</td>
                        <td><input type="text" name="rwname{$image['id']}" id="rwname{$image['id']}" style="width:220px" value="{$image['renwu_name']}" /></td></tr>
						<!--<tr><td>艺名绰号：</td>
                        <td><input type="text" name="ymnick{$image['id']}" id="ymnick{$image['id']}" value="{$image['yiming']}"  style="width:220px" /></td></tr>-->
                        </table>
						<input type="radio" name="texie{$image['id']}"  <?php if($image['texie']=='1') echo "checked=checked"; ?> value="1"/>特写&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="texie{$image['id']}" <?php if($image['texie']=='2') echo "checked=checked"; ?> value="2"/>半身&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="texie{$image['id']}" <?php if($image['texie']=='3') echo "checked=checked"; ?> value="3"/>全身
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="texie{$image['id']}" <?php if($image['texie']=='0') echo "checked=checked"; ?> value="0"/>无<br>

						<input type="radio" name="ren{$image['id']}"   <?php if($image['ren']=='1') echo "checked=checked"; ?> value="1"/>1人&nbsp;&nbsp;
						<input type="radio" name="ren{$image['id']}"  <?php if($image['ren']=='2') echo "checked=checked"; ?> value="2"/>2人&nbsp;&nbsp;
						<input type="radio" name="ren{$image['id']}"  <?php if($image['ren']=='3') echo "checked=checked"; ?> value="3"/>3人&nbsp;&nbsp;
						<input type="radio" name="ren{$image['id']}"  <?php if($image['ren']=='4') echo "checked=checked"; ?> value="4"/>合影
						&nbsp;&nbsp;
						<input type="radio" name="ren{$image['id']}"  <?php if($image['ren']=='0') echo "checked=checked"; ?> value="0"/>无<br>

						<input type="radio" name="position{$image['id']}"  <?php if($image['position']=='1') echo "checked=checked"; ?> value="1"/>横图&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="position{$image['id']}"   <?php if($image['position']=='2') echo "checked=checked"; ?> value="2"/>竖图&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="position{$image['id']}"   <?php if($image['position']=='3') echo "checked=checked"; ?> value="3"/>方图
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="position{$image['id']}"   <?php if($image['position']=='0') echo "checked=checked"; ?> value="0"/>无<br>
						<iframe src="{:U('Group/replaceimage',array('id'=>$image['id']))}" frameborder=0 height=40px width=310px SCROLLING="NO" ></iframe><br>
						<input type="checkbox" value="{$image['id']}" name="ids[]"/>
                        <input type="button" value="删除" onclick="removeimg(this,{$image['id']})"/>&nbsp;
						<input type="button" value="设为封面" onclick="onsetface(this,{$image['id']})"/>
						<img src="./Public/Images/ZUO.jpg" onclick="onImgRotation(this,'0','{$image['id']}')"/>
                         <img src="./Public/Images/YOU.jpg" onclick="onImgRotation(this,'1','{$image['id']}')"/>
                        <br><br>
					</td>
				<?php if( $id % 3==0 && $id>1 ) echo "</tr>"; ?>
			</volist>
		</table>
        <input type="checkbox"  onclick="chkall(null,0,this)"/>全选&nbsp;<input type="checkbox"  onclick="chkall(null,1)"/>反选
        <input type="button" value="刷新" onclick="document.location.reload()"/>
		<input type="button" value="删除图片" onclick="removeimg(this)"/>
		<input type="button" value="删除图组" onclick="delgroup()"/>
		<input type="button" value="保存" onclick="return savegroup(this)" />
		<input type="button" id="submain" name="submain" value="提交" onclick="return submitgroup(this)" />
        <input type="button" value="返回" onclick="window.history.go(-1)" />
</form>

<SCRIPT language=javascript defer>
            new PCAS("province","city");
            var province="{$vo.province}";
            var country="{$vo.country}";
            var city ="{$vo.city}";
            setTimeout(function(){
            	var obj = document.getElementById('country');
            	chgCountry(obj);
            	if(obj.value != '国外')
        		{
            		document.getElementById('province').value=province;
            		document.getElementById('province').onchange();
            		document.getElementById('city').value=city;
        		}
            	else
        		{
            		document.getElementById('country1').value=country; 
            		document.getElementById('province1').value=province;
                    document.getElementById('city1').value=city;
        		}
            },1000);
            function chg(obj)
            {
            	if(0 == obj.value)
            	{
            		document.getElementById('tbody').style.display="";
            	}
            	else
            	{
            		document.getElementById('tbody').style.display="none";
            	}
            }
            function chgCountry(obj)
            {
            	if(obj.value != '国外')
            	{
            		document.getElementById('area0').style.display="";
            		document.getElementById('area1').style.display="none";
            	}
            	else
            	{
            		document.getElementById('area0').style.display="none";
                    document.getElementById('area1').style.display="";
            	}
            }
 </SCRIPT>	
