<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>
		
<div id="nav" class="mainnav_title">
<div id="lang"></div><ul>
<a href="{:U('Group/index',array('edit_id'=>$edit_id))}">摄影师图组</a>|
<a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>1))}">待发布图组</a>|
<a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>3))}">已发布图组</a>|
<a href="{:U('Group/edit',array('edit_id'=>$edit_id))}">编辑图组</a>|  {$edit_group_msg} |
    <a href="#" onclick="window.location.reload()">刷新</a></ul>
</div>
<style>
<!--
.queryfrm{}
.queryfrm th{background:#7898A7;border:1px solid #c6c6c6; color:#FFF}
.queryfrm td{border:1px solid #c6c6c6;}
-->
</style>
<script type="text/javascript">
  
  function order(filed)
	{
		var f=document.getElementById("orderfiled").value;
		if(f==filed)
		{
			if(document.getElementById("order").value=="")
				document.getElementById("order").value="desc";
			else
				document.getElementById("order").value="";
		}
		else
		{
			document.getElementById("orderfiled").value=filed;
			document.getElementById("order").value="desc";
		}
		document.queryfrm.submit();
	}
</script>
			
<form name="queryfrm" action="{:U('Groupon/index')}" method="get">
<input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
<input type="hidden" name="edit_id" value="{$edit_id}" />
<table  class="search_table" width="100%">
	<tr>
		<td>
			图组类型: <select name="type">
			<option value="0">全部</option>
			<foreach name="column" item="vo">
                <optgroup label="{$vo.name}">
                <option value="{$vo.groupid}" <eq name="type" value="$vo['groupid']">selected</eq>>{$vo.name}全部</option>
                <foreach name="vo['sub']" item="voo">
                    <option value="{$voo.groupid}" <eq name="type" value="$voo['groupid']">selected</eq>>{$voo.name}</option>
                </foreach>
            </foreach>
			</select>
			&nbsp;&nbsp;&nbsp;审核人:
			<input type="text" name="username" class="input-text"  value="{$username}" />
            &nbsp;&nbsp;&nbsp;作者:
            <input type="text" name="author" class="input-text"  value="{$author}" />
			图组名称: <input type="text" name="group_name" value="{$group_name}" />
            
			&nbsp;&nbsp;&nbsp;图组状态: 
			<select name="state">
				<option value="1" <eq name="state" value="1">selected</eq>>待发布</option>
				<option value="3" <eq name="state" value="3">selected</eq>>正常</option>
				<option value="4" <eq name="state" value="4">selected</eq>>审核不通过</option>
				<option value="200" <eq name="state" value="200">selected</eq>>已删除</option>
				<option value="0" <eq name="state" value="0">selected</eq>>全部</option>
			</select>
			<BR> 
			
			更新时间: <input  class="Wdate input-text"  validate=" required:true"   name="start_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  value="{$start|date="Y-m-d",###}"/>
			- <input  class="Wdate input-text"  validate=" required:true"   name="end_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  value="{$end|date="Y-m-d",###}" />
			
			&nbsp;&nbsp;&nbsp;<input type="submit" value="搜索"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;<input type="reset" value="重置" class="button" style="width:60px" />
		
		</td>
		
	</tr>
</table>
</form>

<form name="myform" action="{:U('Groupon/checkwithdel',array('edit_id'=>$edit_id))}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
      		<tr>
      		<th width="20" >
            <input type="checkbox"  onclick="chkall()" /></th>
			<th width="30" >
            <a href="#" onclick="order('id')"><u>ID</u></th>
			<th width="200" align="left" >
            <a href="#" onclick="order('title')"><u>图组名称</u></a></th>	
            <th width="140" align="left" >
            <a href="#" onclick="order('update_time')"><u>更新时间</u></a></th>
			
			<th width="100" align="left" >
            <a href="#" onclick="order('city')"><u>拍摄地点</u></a></th>

            <th width="100" align="left" >
            <a href="#" onclick="order('author')"><u>作者</u></a></th>
            <th width="100" align="left" >
            <a href="#" onclick="order('check_oper')"><u>审核人</u></a></th>

			<th width="110" align="left" ><a href="#" onclick="order('type_one_name')"><u>图组类型</u></a></th>
			<th width="90" align="left" >图片组</th>
            
            <th width="100" align="left" >
            <a href="#" onclick="order('photo_date')"><u>拍摄日期</u></a></th>
      		
            <th width="50" align="left" >
            <a href="#" onclick="order('image_count')"><u>数量</u></a></th>
      		<th width="40" align="left" >状态</th>
      		<th width="80" align="left" >操作</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="glist" id="group" key="k">
      		<tr>
      		<td align="left" >
            <input type="checkbox" name="ids[]" value="{$group['id']}"  /></td>
			<td align="left" >{$group['id']}</td>
			<td align="left" >
           <a href="{:U('Groupon/images',array('groupid'=>$group['id'],'edit_id'=>$edit_id))}"><u><b>
            {$group['title']}</b></u></a><eq name="group['is_24hot']" value="1"><font color=red>【热】</font></eq>
            </td>
	
			<td align="left" ><?php echo date('Y-m-d',$group['update_time']); ?></td>
			<td align="left" >{$group['city']}</td>

            <td align="left" >{$group['author']}</td>
            <td align="left" >{$group['check_oper']}</td>
			<td align="left" >{$group['type_one_name']}
            <if condition="$group['type_two_name']"><br />{$group['type_two_name']}</if>
            <if condition="$group['type_three_name']"><br />{$group['type_three_name']}</if>
            </td>
			<td align="center" >
				<a href="{:U('Groupon/images',array('groupid'=>$group['id'],'edit_id'=>$edit_id))}"><img src="{:getPicUrl($group['main_url'],$group['main_url_userid'],$group['main_url_date'])}" style="max_width:100px;height:50px;"  /></a>
			</td>
			
            
      		<td align="left" >
            <?php echo date('Y-m-d',$group['photo_date']); ?></td>
            <td align="left" >{$group['image_count']}</td>
      		<td align="left" >
            <eq name="group.state" value="4">
            <img src="{:getImageState($group['state'])}" title="审核不通过，原因：{$group.fail_msg}"/>
            <else />
            <img src="{:getImageState($group['state'])}" title="{:getImageStateText($group['state'])}"/>
            </eq>
            </td>
      		<td >
            <a href="{:U('Group/edit',array('edit_id'=>$group['id']))}"><u><b>编辑</b></u></a>
            <eq name="group['state']" value="1">
      		<a href="{:U('Groupon/submit',array(id=>$group['id']))}"><u><b>发布</b></u></a>
            </eq>
            <eq name="group.state" value="3">
            <p><a href="{:U('Hotphotogroup/add',array('gid'=>$group['id']))}">设为热图</a></p>
            <p><a href="{:U('Mainpicture/update',array('gid'=>$group['id']))}">设为广告图</a></p>
            </eq>
            </td>
			</tr>
      		</volist>
      	</tbody>
    </table>
  	<input type="checkbox" id="allcheck" onclick="chkall()"/>全选
    &nbsp;<input type="text" name="fail_msg" id="fail_msg" ><input type="submit" class="button" name="notchecked" value="审核不通过" onclick="return checkNoPass()"/>
    <neq name="state" value="200">
    <input type="submit" class="button" name="delchecked" value="删除图组"  onclick="return chkChecked()"/>
    </neq>
    <eq name="state" value="3">
    <input type="submit" class="button" name="checked24" value="24小时热图"  onclick="return chkChecked()"/>
    </eq>
</div>
</form>
<script language="javascript">
function checkNoPass(obj)
{
	if(!chkChecked())
	{
		return false;
	}
	var o = document.getElementById('fail_msg').value;
	if(o.length<1 || o.length>128)
	{
		malert('请填写审核不通过原因');
		return false;
	}
	return true;
}
</script>

<div id="pages" class="page">{$page}</div>



