<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<div id="nav" class="mainnav_title"><div id="lang"></div><ul>

    <a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>1))}">待发布图组</a>|
    <a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>3))}">已发布图组</a> | 
    <a href="{:U('Group/edit',array('edit_id'=>$edit_id))}">编辑图组</a>| {$edit_group_msg} |
    <a href="#" onclick="window.location.reload()">刷新</a></ul>
    </div>
<style>
<!--
.queryfrm{}
.queryfrm th{background:#7898A7;border:1px solid #c6c6c6; color:#FFF}
.queryfrm td{border:1px solid #c6c6c6;}
-->
</style>
<!-- 这个界面要做成一个动态的框架  -->
<script type="text/javascript">
    //var c = new Calendar("c");
    //document.write(c);
</script>

<script type="text/javascript">
    function order(filed)
    {
    	var url = "{:U('Group/index',array('edit_id'=>$edit_id))}";
    	var orderfield = '{$orderfiled}';
    	var order = '{$order}';
        if(orderfield==filed)
        {
            if('desc' == order)
        	{
            	order = 'asc';
        	}
            else
        	{
            	order = 'desc';
        	}
        }
        else
        {
            order = 'desc';
        }
        url = url + '&orderfiled='+orderfield+'&order='+order;
        window.location.href = url;
    }
</script>
        
<form name="queryfrm" action="{:U('Group/index')}" method="get">
<input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
<input type="hidden" name="edit_id" value="{$edit_id}" />
<table  class="search_table" width="100%">
    <tr>
        <td>
            <input type="hidden" name="edit_id" value="{$edit_id}" />
            
            图组类型: <select name="type">
            <option value="0">全部</option>
            <foreach name="column" item="vo">
                <optgroup label="{$vo.name}">
                <option value="{$vo.groupid}" <eq name="type" value="$vo['groupid']">selected</eq>>{$vo.name}全部</option>
                <foreach name="vo['sub']" item="voo">
                    <option value="{$voo.groupid}" <eq name="type" value="$voo['groupid']">selected</eq>>{$voo.name}</option>
                </foreach>
            </foreach>
            </select>
            &nbsp;&nbsp;&nbsp;用户名:
            <input type="text" name="username" class="input-text"  value="{$username}" />
            &nbsp;&nbsp;&nbsp;作者:
            <input type="text" name="author" class="input-text"  value="{$author}" />
            图组名称: <input type="text" name="group_name" value="{$group_name}" />
            
            &nbsp;&nbsp;&nbsp;图组状态: 
            <select name="state">
                <option value="1" <eq name="state" value="1">selected</eq>>待发布</option>
                <option value="3" <eq name="state" value="3">selected</eq>>正常</option>
                <option value="4" <eq name="state" value="4">selected</eq>>审核不通过</option>
                <option value="200" <eq name="state" value="200">selected</eq>>已删除</option>
                <option value="0" <eq name="state" value="0">selected</eq>>全部</option>
            </select>
            <BR> 
            
            创建时间: <input  class="Wdate input-text"  validate=" required:true"   name="start_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{$start|date="Y-m-d",###}"/>
            - <input  class="Wdate input-text"  validate=" required:true"   name="end_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"   value="{$end|date="Y-m-d",###}"/>
            &nbsp;&nbsp;&nbsp;<input type="submit" value="搜索"  class="button" style="width:60px" />
            &nbsp;&nbsp;&nbsp;<input type="reset" value="重置" class="button" style="width:60px" />
        
        </td>
        
    </tr>
</table>
</form>

<form name="myform" action="{:U('Group/checkwithdel',array('edit_id'=>$edit_id))}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
            <tr>
            <th width="20" style=""><input type="checkbox"  onclick="chkall()" /></th>
            <th width="40" >
            <a href="#" onclick="order('id')"><u>ID</u></a>
            </th>
            <th width="100" align="left" >
            <a href="#" onclick="order('old_title')"><u>图组名称</u></a></th>
            
            <th width="80" align="left" >
            <a href="#" onclick="order('account')"><u>用户名</u></a></th>
            <th width="80" align="left" >
            <a href="#" onclick="order('author')"><u>作者</u></a></th>

            <th width="80" align="left" >
            <a href="#" onclick="order('photo_date')"><u>拍摄日期</u></a></th>

            <th width="80" align="left" >
            <a href="#" onclick="order('city')"><u>拍摄地点</u></a></th>
                
            <th width="90" align="left" >图组类型</th>
            <th width="80" align="left" >图片组</th>
            <th width="80" align="left" >
            <a href="#" onclick="order('up_time')"><u>创建时间</u></a></th>
            
            <th width="50" align="left" >
            <a href="#" onclick="order('image_num')"><u>数量</u></a></th>
            <th width="50" align="left" >状态</th>
            <th width="60" align="left" >编辑状态</th>
            </tr>
        </thead>
        <tbody>
            <volist name="mlist" id="vo" key="k">
            <tr>
            <td align="center" >
            <input type="checkbox" name="ids[]" value="{$vo['id']}" /></td>
            <td align="center" >{$vo['id']}</td>
            <td ><a href="{:U('Group/images',array('groupid'=>$vo['id'],'edit_id'=>$edit_id))}"><u><b>{$vo['title']}</b></u></a></td>
            <td >{$vo['account']}</td>
            <td >{$vo['author']}</td>
            <td ><?php echo date('Y-m-d',$vo['photo_date']); ?></td>
            <td >{$vo['city']}</td>
            <td align="left" ><eq name="vo['type']" value="1">时效图片<else />资料图片</eq></td>
            <td align="center" >
            <a href="{:U('Group/images',array('groupid'=>$vo['id'],'edit_id'=>$edit_id))}"><img src="{:getPicUrl($vo['main_url'],$vo['userid'],$vo['main_url_date'])}" style="max_width:100px;height:50px;" /></a>
            </td>
            <td >
             <?php echo date('Y-m-d H:i:s',$vo['up_time']); ?></td>
            <td >{$vo['image_count']}</td>      
            <td >
            <img src="{:getImageState($vo['state'])}" title="{:getImageStateText($vo['state'])}"/>
            </td>
            <td >
            <eq name="vo['edit_state']" value="1">
            <a title="点击取消编辑状态" href="{:U('Group/canceledit',array('groupid'=>$vo['id'],'edit_id'=>$edit_id))}"><font color=red>{$vo['check_oper']}</font><br>正在编辑</a>
            <else />
            &nbsp;未在编辑
            </eq>
            </td>
            </tr>
            </volist>
        </tbody>
    </table>
    <input type="checkbox" id="allcheckbox" onclick="chkall()"/>全选
    <eq name="state" value="200">
    <input type="submit" class="button" name="redelchecked" value="还原图组" onclick="return chkChecked();"/>
    <else />
    <input type="submit" class="button" name="notchecked" value="审核不通过" onclick="return chkChecked();"/>
    <input type="submit" class="button" name="delchecked" value="删除图组" onclick="return chkChecked();"/>
    </eq>
</div>
</form>

<div id="pages" class="page">{$page}</div>