<div id="nav" class="mainnav_title">
<ul>
<a href="{:U('Group/index',array('edit_id'=>$edit_id))}">摄影师图组</a>|
<a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>1))}">待发布图组</a>|
<a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>3))}">已发布图组</a>| {$edit_group_msg} |
<a href="#" onclick="window.history.go(-1);">返回</a> |
<a href="#" onclick="window.location.reload()">刷新</a></ul>
</div>