<include file="Admin:header" />

<load href="./Public/Js/jquery.min.js"/>
<load href="./Public/Js/jquery.validate.js"/>
<load href="./Public/Js/artDialog.min.js"/>
<load href="./Public/Js/jquery.form.js"/>

<div id="nav" class="mainnav_title">
<ul>
<a href="{:U('Group/index',array('edit_id'=>$edit_id))}">摄影师图组</a>|
<a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>1))}">待发布图组</a>|
<a href="{:U('Groupon/index',array('edit_id'=>$edit_id,'state'=>3))}">已发布图组</a>|
<a href="{:U('Group/edit',array('edit_id'=>$groupid))}">编辑该图组</a>| {$edit_group_msg}</ul>
</ul>
</div>
<style >
    .imagetd{width:300px;
                height:300px;
                line-height:300px;
                border:1px solid #666;
                vertical-align:middle;
                overflow:hidden;
                position:relative;
                text-align:center;
    }
    
    div p {
      position:static;
      +position:absolute;
      top:50%;
      vertical-align:middle
    }
    
    .stable{ 
            color:#00C;
    }

</style>

<script language="javascript">
    var edit_id='{$edit_id}';
    function copy(obj,ids)
    {
        //obj.disabled=true;
        if(!ids)
        {
            ids = getChecked();
            if('' === ids)
            {
                malert('没有选择要操作的对象');
                return false;
            }
        }
        var url = '{:U('Groupon/copy',array('edit_id'=>$edit_id,'groupid'=>$groupid))}';
        url += '&ids='+ids;
        obj.disabled=true;
        $.getJSON(url,function(result){
            obj.disabled=false;
            chkResult(result,'复制');
        });
    }
    
</script>


<table width="98%">
    <tr>
        <td>图组分类:</td>
        <td ><select name="c_type" readonly>
        <option value="1" <eq name="vo.c_type" value="1">selected</eq>>资料图片</option>
        <option value="2" <eq name="vo.c_type" value="1">selected</eq>>时事图片</option>
        
        </select></td>
        <td >地点:</td>
        <td >{$vo['city']}</td>
        <td>
    </tr>
    <tr>
        <td >拍摄时间:</td>
        <td>{$vo['photo_date']|date="Y-m-d h:i:s",###}</td> 
        <td >创建时间:</td>
        <td><?php echo date('Y-m-d h:i:s',$vo['up_time']); ?></td>
        <!--<td style="width:52px">编辑时间:</td>
        <td>{$vo['edittime']}</td>!-->
    </tr>
</table>


<br><br>
<table width="98%">
<tr>
<td>图组标题:</td>
<td><input type="text" name="gtitle" style="width:760px" value="{$vo['title']}" readonly/></td></tr>
<tr><td>关键字:</td>
<td><input type="text" name="gkey" style="width:760px" value="{$vo['group_key']}"  readonly/></td></tr>
<tr><td>图组说明:</td>
<td><textarea name="gremark" style="width:750px;height:100px" readonly>{$vo['remark']}</textarea></td></tr>
</table>

<!-- 加载图像 -->
<table class="stable">
    
        <tr>
        <volist name="imagelist" id="image" key="id">
        <td>
            <table>
                <tr><td colspan="2">图片编号：<span id="imagespan{$id}">{$image['id']}</span></td></tr>
                <tr><td>
                <div class="imagetd" align="center">
                 <a href="{:getPicUrl($image['url'],$image['userid'],$image['up_time'],110,$image['bigurl'])}" target="_blank"><img src="{:getPicUrl($image['url'],$image['userid'],$image['up_time'],1)}" style="max-width:290px;max-height:290px;vertical-align:middle;line-height:290px; padding-top:5px" /></a>
                 </div></td></tr>
                 
             </table>
              
            <table>          
            <tr><td>上传时间：</td><td><?php echo date('Y-m-d h:i:s',$image['up_time']); ?></td></tr>
            <tr><td>拍摄时间：</td><td>{$vo['photo_date']|date="Y-m-d h:i:s",###}</td></tr>
            <tr><td>状态：</td><td><img src="{:getImageState($image['state'])}" /> 点数：{$image.value}
            </td></tr>
            <!--<tr><td style="font-size:15px">价格：</td><td style="font-size:16px">{$image['point']}</td></tr>-->
            <tr><td>图片说明：</td></tr>
            <tr><td colspan="2"><textarea style="height:80px;width:290px" name="remark{$image['id']}" readonly>{$image['remark']}</textarea></td></tr>
            <tr><td>关键字:</td></tr>
            <tr><td colspan="2"><textarea style="width:80px;width:290px" name="keyword{$image['id']}" readonly>{$image['images_key']}</textarea></td></tr>
            </table>
            <input type="checkbox" name="ids[]" value="{$image['id']}" /><input type="button" value="复制" onclick="copy(this,{$image['id']})"/>&nbsp;
        </td>
        
        <?php if( $id % 3==0 && $id>=1 ) echo "</tr><tr>"; ?>
    </volist>
    </tr>
</table>    
<input type="checkbox" onclick="chkall()"/>全选
<input type="button" value="复制图片" onclick="copy(this)"/>
<input type="button" value="返回" onclick="window.history.go(-1);"/>                  
</table>