<include file="Admin:header" />

<a href="{:U('Hotphotogroup/add')}" style=" position:absolute;right:80px;top:10px"><u><b>新增热门图片</b></u></a>

<form action="" method="POST">
<table>
	<tr>
	<td>相片推荐位置:</td>
    <td><select name="pos">
    <option>全部</option>
    <option>首页专题推荐</option>
    <option>热门图片推荐</option>
	<option>内页专题推荐</option>
    </select></td>
    <td><input type="submit" value="搜索" /></td>
    </tr>
 </table>
 <table style="border-collapse: collapse;padding-left=50px">
	<thead>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7;padding-left=50px">编号</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">图片名称</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">相片图片</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">开始时间</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">结束时间</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">排序</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">相片推荐位置</td>
    <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">修改信息</td>
    <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">删除</td>
	</thead>
    <tbody>
    	<volist name="info" id="detail">
    		<tr>
            	<td align="left" style="border:1px solid #c6c6c6; ">{$detail['id']}</td>
            	<td align="left" style="border:1px solid #c6c6c6; ">{$detail['picturename']}</td>
                <td align="left" style="border:1px solid #c6c6c6; "><img src="{$detail['imgurl']}" style="width:70px;height:40px"/></td>
                <td align="left" style="border:1px solid #c6c6c6; "><?php
                echo date("Y-m-d h:s:m",$detail['begintime']);    
                ?></td>
                <td align="left" style="border:1px solid #c6c6c6; ">

<?php
                echo date("Y-m-d h:s:m",$detail['endtime']);    
                ?></td>
                <td align="left" style="border:1px solid #c6c6c6; ">{$detail['number']}</td>
                <td align="left" style="border:1px solid #c6c6c6; ">{$detail['place']}</td>
                <td align="left" style="border:1px solid #c6c6c6; "><a href="{:U('Hotphotogroup/update',array(id=>$detail['id']))}">
                <u><b>修改信息</b></u>
                </a></td>
                <td align="left" style="border:1px solid #c6c6c6; "><a href="{:U('Hotphotogroup/delete',array(id=>$detail['id']))}"><u><b>删除</b></u></td>
            </tr>
    	</volist>
    </tbody>
    </table>
</form>
