<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>
<script type="text/javascript">
  function oncheckchange()
  {
	  for(i=1;i<100;i++)
	  {
		  var sid="listcheck"+i;
		  
		  if( document.getElementById("allcheck").checked==true )
		  	document.getElementById(sid).checked=true;
		  else
		  	document.getElementById(sid).checked=false;
	  }
  }
  function oncheckchangeup()
  {
	 for(i=1;i<100;i++)
	  {
		  var sid="listcheck"+i;
		  
		  if( document.getElementById("check_box").checked==true )
		  	document.getElementById(sid).checked=true;
		  else
		  	document.getElementById(sid).checked=false;
	  }
  }

	function onSelectFile()
	{
		document.execCommand("BackgroundImageCache", false, true);
		document.getElementById("simg").src=document.getElementById("file").value;
		//alert(document.getElementById("file").value);
	}
</script>
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">添加修改热门图片</strong>
 <img src="../Public/images/heixian.jpg"/>
 <form action="{:U('Hotphotogroup/addsave')}"  method="POST" ENCTYPE="multipart/form-data">
	<input type="hidden" name="old_imgurl"  value="{$vo.imgurl}" />
	<table  class="search_table" width="100%">
	<tr><td style="width:150px">图片:<br><font color="red">尺寸：184*120</font></td>
    	<td>
        <img align="left" src="<if condition="empty($vo['imgurl'])">../Public/images/noimg2.jpg<else />{$vo['imgurl']}</if>" border="0" id="simg" style="width:200px;height:160px" /></td></tr>
		<tr><td style="width:150px"></td><td><input align="bottom" type="file"  id="file" name="file" onchange="onSelectFile()"/></td></tr>		    
    	<tr><td style="width:150px">图组说明:</td><td><input type="text" name="picturename" class="input-text"  style=" height:20px;" value="{$vo['picturename']}"/></td>	</tr>
     <tr><td style="widht:150px">链接地址: </td><td><input type="text" name="url" class="input-text" size="100" style=" height:20px;" value="{$vo['url']}"/></td></tr>     
          <tr><td style="widht:150px">显示位置:</td><td><input type="text" name="number" class="input-text"  style=" height:20px;" value="{$vo['number']}"/></td></tr>
          <tr><td style="widht:150px">开始时间:</td><td><input  class="Wdate input-text  "  validate=" required:true"   name="begintime" value={$vo.begintime|date="Y-m-d",###} type="text" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  style="width:150px; height:20px" />
          
          </td></tr>
          <tr><td style="widht:150px">结束时间:</td><td><input  class="Wdate input-text  "  validate=" required:true"   name="endtime" value="{$vo.endtime|date="Y-m-d H:i:s",###}" type="text" size="25" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  style="width:150px; height:20px" /></td></tr>
  </table>
  <gt name="id" value="0">
  <input type="hidden" name="id" value="{$id}" />
  </gt>
   <input type="submit" style="width:80px;height:25px" value="{:L('dosave')}">
   <input type="button" style="width:80px;height:25px" value="返回" onclick="document.location.href='{:U(Hotphotogroup/index)}'"  />
    </form>
