<include file="Admin:header" />


<form action="{:U('keyword/subaddtype')}" method="POST">
	<table >
    <tr><td>父类编号:</td><td><input type="text" readonly="readonly" name="parentid" value="{$vo['id']}" /></td></tr>
    <tr><td>父类名称:</td><td><input type="text" readonly="readonly" name="parentname" value="{$vo['name']}" /></td></tr>
    <tr><td>类别名称:</td>
    <td><input type="text" name="typename" /></td>
    </tr>
	</table>
	<input type="submit" value="保存" />
    <input type="button" value="返回" onclick="document.location.href='{:U('keyword/type')}'"/>
</form>