<include file="Admin:header" />


<form action="?g=admin&m=keyword&a=subaddkey" method="POST">
<input typ="text" name="tid" id="tid" value="{$vo['id']}" style="display:none" />
<input typ="text" name="tname" id="tname" value="{$vo['name']}" style="display:none" />
<table style="font-size:14px">
	<tr><td>类型编号:</td>
    <td>{$vo['id']}</td>
    </tr>
    <tr><td>类型名称:</td>
    <td>{$vo['name']}</td>
    </tr>
    <tr><td>关键字:</td>
    <td><input type="text" name="key" style="widht:300px"  /></td>
    </tr>
</table>
	<input type="submit" value="保存" style="widht:20px" />
    <input type="button" value="返回" style="widht:20px" onclick="document.location.href='{:U('keyword/type')}'" />
</form>