<include file="Admin:header" />


<form action="{:U('keyword/subedittype')}" method="POST">
	<table>
    <tr><td>类别编号:</td><td>
    <input type="text" readonly="readonly" name="id" value="{$vo['id']}" style="background:#CCC" />
    </td></tr>
    <tr><td>类别名称:</td><td><input type="text"  name="name" value="{$vo['name']}" /></td></tr>
    
	</table>
	<input type="submit" value="保存" />
    <input type="button" value="返回" onclick="document.location.href='{:U('keyword/type')}'"/>
</form>