<include file="Admin:header" />
<script>
if(self==top){
	window.top.location.href = '{:U("Login/index")}';
}
function resetVerifyCode(){
	var timenow = new Date().getTime();
	document.getElementById('verifyImage').src= '{:U("Login/verify")}#'+timenow;
}
</script>
<style>.mainnav_title{display:none;}</style>
<form id="myform" method='post' name="login" action="{:U('Main/password')}">
<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
<tr><td width="140">{:L('oldpassword')}</td><td><input type="password" class="input-text" name="oldpassword" validate=" required:true, minlength:5, maxlength:20"></td></tr>
<tr><td>{:L('newpassword')}</td><td><input type="password" class="input-text"  name="password" id="password" validate=" required:true, minlength:5, maxlength:20"></td></tr>
<tr><td>{:L('repassword')}</td><td><input type="password" class="input-text"  name="repassword" validate=" required:true,equalTo: '#password', minlength:5, maxlength:20"></td></tr>
<tr><td>{:L('verify')}</td><td><input type="text" class="input-text" size="6" name="verify"> <img SRC="{:U('Login/verify')}" BORDER="0" ALT="{:L('reverify')}" id="verifyImage" onClick="resetVerifyCode()" style="cursor:pointer" align="absmiddle"></td></tr>
</table>
<div class="btn">
<INPUT TYPE="submit"  name="dosubmit" value="{:L('dosubmit')}" class="button" >
<input type="reset"  value="{:L('cancel')}" onclick="window.history.go(-1);" class="button">
</div>
</form>

