<include file="Admin:header" />			
<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">广告图片管理</strong>
<a href="{:U('Mainpicture/update')}" style=" position:absolute;right:80px;top:25px"><u><b>新增首页图片</b></u></a>
 <img src="../Public/images/heixian.jpg" />
 <form action="{:U('Mainpicture/delete')}" method="post">
<table style="border-collapse: collapse;padding-left=50px">
	<thead>
    <td width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">
<input type="checkbox"  id="check_box"  onclick="selectall('ids[]')" /></td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7;padding-left=50px">ID</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">图片</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">文字说明</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">开始时间</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">结束时间</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">显示排序</td>
    <td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">修改信息</td>
    
	</thead>
    <tbody>
    	<volist name="info" id="detail">
    		<tr>
            <td align="center" style="border:1px solid #c6c6c6; ">
            <input type="checkbox" name="ids[]" value="{$detail['id']}" /></td>
            	<td align="left" style="border:1px solid #c6c6c6; ">{$detail['id']}</td>
                <td align="left" style="border:1px solid #c6c6c6; ">
                <img src="{$detail['imgurl']}" style="width:70px;height:40px"/></td>
                <td align="left" style="border:1px solid #c6c6c6; ">{$detail['remark']}</td>
                <td align="left" style="border:1px solid #c6c6c6; "><?php
                echo date("Y-m-d h:s:m",$detail['begintime']);    
                ?></td>
                <td align="left" style="border:1px solid #c6c6c6; ">

<?php
                echo date("Y-m-d h:s:m",$detail['endtime']);    
                ?></td>
                <td align="left" style="border:1px solid #c6c6c6; ">{$detail['number']}</td>
               
                <td align="left" style="border:1px solid #c6c6c6; "><a href="{:U('Mainpicture/update',array(id=>$detail['id']))}">修改</a></td>   
            </tr>
    	</volist>
    </tbody>
    </table>
    <input type="checkbox" id="allcheck" onclick="selectall('ids[]')" />全选
 	<input type="submit" value="删除" />
</form>
