<include file="Admin:header" />
<form method='post'  id="myform" action="<if condition="$action_name=='add'">{:U('Menu/insert')}<else />{:U('Menu/update')}</if>">
<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
<tr>
	<td width="140">{:L('menu_parent_menu')}:</td>
	<td><SELECT   name="parentid">
	<option value="0">{:L('menu_top_menu')}</option>
	{$select_categorys}
	</SELECT></td>
</tr>
<tr>
	<td>{:L('name')}:</td>
	<td><input type="text" class="input-text"  name="name" value="{$vo.name}"  validate="required:true,cn_username:true, minlength:2, maxlength:20"></td>
</tr>
<tr>
	<td>{:L('menu_model')}:</td>
	<td><input type="text" class="input-text" name="model" value="{$vo.model}"  validate="required:true,english:true, minlength:2, maxlength:20"></td>
</tr>
<tr>
	<td>{:L('menu_action')}:</td>
	<td><input type="text" class="input-text"  name="action" value="{$vo.action}"  validate="english:true, minlength:2, maxlength:20"> {:L('default')}:index</td>
</tr>
<tr>
	<td>{:L('menu_option')}:</td>
	<td><input type="text" class="input-text"  name="data" value="{$vo.data}"> {:L('examples')}:groupid=1&type=2</td>
</tr>
<tr>
	<td>{:L('menu_remark')}:</td>
	<td><TEXTAREA   name="remark" rows="5" cols="57">{$vo.remark}</textarea></td>
</tr>
<tr>
	<td>{:L('status')}:</td>
	<td><SELECT name="status">
	<option value="1"<eq name="vo.status" value="1"> selected</eq>>{:L('enable')}</option>
	<option value="0"<eq name="vo.status" value="0"> selected</eq>>{:L('disable')}</option>
	</SELECT></td>
</tr>
<tr>
	<td>{:L('menu_type')}:</td>
	<td><SELECT name="type">
	<option value="1"<eq name="vo.type" value="1"> selected</eq>>{:L('menu_type1')}</option>
	<option value="2"<eq name="vo.type" value="2"> selected</eq>>{:L('menu_type2')}</option>
	</SELECT></td>
</tr>
</table>
<div class="btn">
<if condition="$vo[id]!=''"><input TYPE="hidden" name="id" value="{$vo.id}"></if>
<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
<input TYPE="reset"  value="{:L('reset')}" class="button">
</div>{__TOKEN__}
</form>
</div>