<include file="Admin:header" />

<form name="myform" action="{:U('Node/listorder')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="40">{:L('listorder')}</th>
            <th width="40">id</th>
            <th align="left">{:L('node_title')}</th>
			<th width="80" align="left">{:L('node_name')}</th>			
			<th  width="100" align="left">{:L('remark')}</th>
			<th width="40">{:L('status')}</th>
			<th  width="120">{:L('manage')}</th>
            </tr>
        </thead>
	<tbody>
    {$nodes}
	</tbody>
    </table>
  
    <div class="btn"><input type="submit" class="button" name="dosubmit" value="<?php echo L('listorder')?>" /></div>  </div>
</div>
</form></div> 