﻿<include file="Admin:header" />

 <form id="myform" action="<if condition="$action_name=='edit'">{:U('Org/update')}<else />{:U('Org/insert')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
        <tr>
        <td width="120">机构名称:</td>
        <td><input type="text" name="name" class="inputbox" class="input-text"  value="{$vo['name']}"  validate="required:true, minlength:2, maxlength:50"/></td>
        </tr>
      	<tr>
		<td width="120">注册会员名称:</td>
		<td><input type="text" name="username" class="inputbox" class="input-text"  value="{$vo['username']}"  validate="required:true,  minlength:2, maxlength:20"/></td>
		</tr>
      	<tr>
		<td width="120">机构折扣:</td>
		<td><input type="text" name="zheke" class="inputbox" class="input-text"  value="{$vo['zheke']}" /></td>
		</tr>
        <tr>
        <td width="120">源图片路径:</td>
        <td><input type="text" name="from_path" class="inputbox" style="width:300px" class="input-text"  value="{$vo['from_path']}"  validate="required:true, minlength:2, maxlength:128"/>(注:需要填写绝对路径)</td>
        </tr>
        <tr>
        <td width="120">上传路径:</td>
        <td><input type="text" name="to_path" class="inputbox" class="input-text" style="width:300px"  value="{$vo['to_path']}"  validate="required:true, minlength:2, maxlength:128"/>(注:需要填写绝对路径)</td>
        </tr>
        <tr>
        <td width="120">缩略图路径:</td>
        <td><input type="text" name="thumb_path" class="inputbox" class="input-text" style="width:300px"  value="{$vo['thumb_path']}"  validate="required:true, minlength:2, maxlength:128"/>(注:需要填写绝对路径)</td>
        </tr>
        <tr>
        <td width="120">网站图片相对路径:</td>
        <td><input type="text" name="web_images_path" class="inputbox" class="input-text" style="width:300px" value="{$vo['web_images_path']}"  validate="required:true, minlength:2, maxlength:128"/>(注:需要填写网站图片文件夹的相对路径)</td>
        </tr>
        <tr>
        <td width="120">网站缩略图相对路径:</td>
        <td><input type="text" name="web_thumb_path" class="inputbox" class="input-text" style="width:300px" value="{$vo['web_thumb_path']}"  validate="required:true, minlength:2, maxlength:128"/>(注:需要填写绝对路径)</td>
        </tr>
		</table>
		<div class="btn">
		<if condition="$action_name=='edit'"><input type="hidden" id="id" name="id" value="{$vo['id']}" /></if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" onclick="window.history.go(-1);" class="button">
		</div>{__TOKEN__}
      </form>
</div>