<include file="Admin:header" />

<div id="nav" class="mainnav_title"><div id="lang"></div>
	<ul><a href="index.php?g=Admin&m=Org">机构管理</a>|
	<a href="index.php?g=Admin&m=Org&a=add">机构新增</a>|</ul>
</div>

<script>
function openwin(url,title,width,height){
	art.dialog.open(url, {
			id: 'license',
			title: title,
			lock: 'true',
			window: 'top',
			width: width,
			height: height,
			yesFn: function(iframeWin, topWin){
					iframeWin.document.getElementById('myform').submit();
					return false;

			},
			noFn: function(){}
		}
	);
}
</script>
<div class="table-list">
    <table width="100%" cellspacing="0" border="0">
        <thead>
      		<tr>
			<th width="40" align="center">ID</th>
			<th width="100" align="center">注册用户ID</th>
			<th width="100" align="center">注册用户名</th>
			<th width="" align="center">机构名称</th>
			<th width="150" align="center">源图路径</th>
			<th width="220" align="center">{:L('manage')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="list" id="Org" key="k">
      		<tr>
			<td align="center">{$Org['id']}</td>
      		<td align="center">{$Org['userid']}</td>
      		<td align="center">{$Org['username']}</td>
      		<td align="center">{$Org['name']}</td>
      		<td align="center">{$Org['from_path']}</td>
      		<td align="center">
			<a href="{:U('Org/edit',array(id=>$Org['id']))}">{:L('edit')}</a> |
			<a href="javascript:confirm_delete('{:U('Org/delete',array(id=>$Org['id']))}')">{:L('delete')}</a>
      		</td>

      		</tr>
      		</volist>
      	</tbody>
      	</table>
        <p style="color:red">注:最多支持10个机构</p>
</div>

