<include file="Admin:header" />

     
<form id="myform" action="{:U('Photoer/doshe2')}" method="POST" onsubmit="return Vali.vali(this,2)">
<table cellpadding=1 cellspacing=1 class="table_form" width="100%" >
<tr >
    <td width="120"></td>
    <td></td>
    </tr>
    <tr >
    <td width="120"></td>
    <td></td>
    </tr>
    <tr bgcolor="#EEEEFF">
    <td width="120">摄影机分成折扣:</td>
    <td><input type="text" name="zheke" value="{$vo.zheke}" />(请输入小于1的值 默认为0.5 表示5折)</td>
    </tr>
</table>
<center>
<input type="hidden" name="id" value="{$id}">
<input type="hidden" name="type" value="{$type}">
<input type="hidden" name="subtype" value="{$subtype}">
{__TOKEN__}
</center>

</form>