<include file="Admin:header" />


<form action="{:U('PhotoerImageGroup/groupnull')}" method="POST" >

<input type="submit" style="width:150px;height:50px;font-size:25px" value="刷新" />


</form>