<include file="Admin:header" />

     
<form id="myform" name="myform" action="{:U('Photoer/doShe')}" method="POST" onsubmit="return Vali.vali(this,2)">
<table cellpadding=1 cellspacing=1 class="table_form" width="100%">
    <tr bgcolor="#EEEEFF">
    <td width="120">请选择用户类型:</td>
    <td><select name="user_type" id="user_type" dataType="Require" msg="请选择用户类型" onchange="chg(this)">
    <option value="">请选择</option>
    <!-- <option value="1" <eq name="vo['subtype']" value="1">selected</eq>>包年用户</option> -->
    <option value="2" <eq name="vo['subtype']" value="2">selected</eq>>预付款用户</option>
    <!-- <option value="3" <eq name="vo['subtype']" value="3">selected</eq>>后结算用户</option> -->
    <option value="4" <eq name="vo['subtype']" value="4">selected</eq>>专线用户</option>
    <option value="5" <eq name="vo['subtype']" value="5">selected</eq>>下载合作机构</option>
    <option value="6" <eq name="vo['subtype']" value="6">selected</eq>>浏览用户</option>
    </select></td>
    </tr>
    <tr bgcolor="#EEEEFF" id="tr_user_num">
    <td width="120">最大下载图片数量:</td>
    <td><input type="text" name="user_num" value="{$vo.allow_down_num}">(<font color=red>必须是整数</font>)</td>
    </tr>
    <tr bgcolor="#EEEEFF" id="tr_user_numed">
    <td width="120">已经下载图片数量:</td>
    <td><input type="text" name="user_numed" value="{$vo.downed_num}">(<font color=red>必须是整数 默认为0</font>)</td>
    </tr>
    <tr bgcolor="#EEEEFF" id="tr_user_zheke">
    <td width="120">图片折扣:</td>
    <td><input type="text" name="user_zheke" value="{$vo.zheke}"><br>(<font color=red>请填写大于0的小数  如95折，请填写：0.95</font>)</td>
    </tr>
    <tr bgcolor="#EEEEFF" id="tr_user_zq">
    <td width="120">结算周期:</td>
    <td><input type="text" name="user_zq" value="{$vo.every_pay_day}">(<font color=red>单位：天</font>)</td>
    </tr>
    <tr bgcolor="#EEEEFF">
    <td width="120">会员开始时间:</td>
    <td><input type="text" name="start_time"  value="{$vo.start_time|date='Y-m-d H:i:s',###}" style="width:180px" class="Wdate input-text" onFocus="WdatePicker()"></td>
    </tr>
    <tr bgcolor="#EEEEFF">
    <td width="120">会员结束时间:</td>
    <td><input type="text" name="end_time" value="<gt name="vo.end_time" value="0">{$vo.end_time|date='Y-m-d H:i:s',###}</gt>" class="Wdate input-text" style="width:180px" onFocus="WdatePicker()">(<font color=red>不填表示永不过期</font>)</td>
    </tr>
    <tr bgcolor="#EEEEFF">
    <td width="120">拒绝下图:</td>
    <td><input type="radio" name="nodown" id="nodown" value="1" class="Wdate input-text" <eq name="vo.nodown" value="1">checked</eq> onclick="chkAllowDown(this)">是 &nbsp; &nbsp;<input type="radio" name="nodown" value="0" <eq name="vo.nodown" value="0">checked</eq> onclick="chkAllowDown(this)">否(<font color=red>勾选表示禁止在本站下图</font>)</td>
    </tr>
    <tr bgcolor="#EEEEFF" id="allowdown_tr">
    <td width="120">例外栏目ID:</td>
    <td><input type="text" name="allowdown_type" value="{$vo.allowdown_type}" class="input-text" style="width:220px"/></td>
    </tr>
</table>
<center>
<input type="hidden" name="id" value="{$id}">
<input type="hidden" name="type" value="{$type}">
<input type="hidden" name="subtype" value="{$subtype}">
{__TOKEN__}
</center>

</form>
<script language="javascript">
function chkAllowDown(obj)
{
	var tr = document.getElementById('allowdown_tr');
	if(obj.value==1 && obj.checked == true)
	{
		   tr.style.display = '';
	}
	else
	{
		tr.style.display = 'none';
	}
}
function setShow(objs,show)
{
	for(var i=0;i<objs.length;i++)
	{
		objs[i].style.display=(show)?'inline':'none';
	}
	
}
function chg(obj)
{
	var user_num = document.getElementById('tr_user_num');//针对包年、专线用户有效 必须是整数
	var user_numed = document.getElementById('tr_user_numed');//针对包年、专线用户有效 必须是整数 默认为0
	var user_zheke = document.getElementById('tr_user_zheke');//针对除浏览用户外所有用户有效 请填写大于0小于1的小数 如95折，请填写：0.95
	var user_zq = document.getElementById('tr_user_zq');//只针对后结算用户有效 单位：天
	setShow([user_num,user_numed,user_zheke,user_zq],false);
	switch(parseInt(obj.value))
	{
	   case 1://包年
	   case 4://专线
		   setShow([user_num,user_numed,user_zheke],true);
		   break;
	   case 2://预付款
		   setShow([user_zheke],true);
           break;
	   case 3://后结算
		   setShow([user_zheke,user_zq],true);
           break;
	   case 5://下载合作机构
	   case 6://浏览用户
	}
}
$(document).ready(function(){
	chkAllowDown(document.getElementById('nodown'));
	chg(document.getElementById('user_type'));
});

</script>