<include file="Admin:header" />


<form name="myform"  id="myform"  action="<if condition="ACTION_NAME=='add'">{:U('Phototype/insert')}<else />{:U('Phototype/update')}</if>" method="post">
<input type="hidden" name="pid" value="{$pid}" />
<input type="hidden" name="secid" value="{$secid}" />
<table cellpadding=0 cellspacing=0 class="table_form"width="100%">
<if condition="$parentname">
      <tr>
        <td width="140">父分类名称</td>
        <td>
		{$parentname}
		</td>
      </tr>
</if>
      	<tr>
		<td>{:L('catname')}</td>
		<td><input type="text" name="name" class="input-text  required" value="{$vo['name']}"  minlength="2"  maxlength="30"  title="分类必须是2个字符"/></td>
		</tr>

      	<tr>
		<td>排序</td>
		<td><input type="text" name="sort" class="input-text " value="{$vo['sort']}" /></td>
		</tr>
      	<tr>
		<td>允许下载用户</td>
		<td><textarea name="allowlist" cols="50" rows="5">{$vo['allowlist']}</textarea>(多个以,分隔; 留空表示所有用户都能访问)</td>
		</tr>
</table>


		<div class="btn">
		<if condition="$vo['groupid']"><input TYPE="hidden" name="id" value="{$vo.groupid}"></if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" onclick="window.history.go(-1);" class="button">
		</div>

</form></div>
