<include file="Admin:header" />

     
<form id="myform" action="{:U('Photoer/dopay')}" method="POST">
<input type="hidden" name="id" value="{$vo.id}" />
<table cellpadding=1 cellspacing=1 class="table_form" width="100%" >
<tr >
    <td width="120"></td>
    <td></td>
    </tr>
    <tr >
    <td width="120"></td>
    <td></td>
    </tr>
    <tr bgcolor="#EEEEFF">
    <td width="120">结算点数：</td>
    <td><input type="input" name="pvalue" value="{$vo.pvalue}">(当前可用点数 <b>{$vo.pvalue}</b>)</td>
    </tr>
</table>
{__TOKEN__}
</form>