<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<div id="nav" class="mainnav_title"><div id="lang"></div><ul>

    <a href="index.php?g=Admin&m=waitrealsephotoer&a=index&edit_id={$edit_id}">待发布图组</a>|
    <a href="index.php?g=Admin&m=realsephotoer&a=index&edit_id={$edit_id}">已发布图组</a> | 
	<a href="index.php?g=Admin&m=PhotoerImageGroup&a=editgroup&edit_id={$edit_id}">编辑图组</a>| {$edit_group_msg}</ul>
	</div>
		
		
<!-- 这个界面要做成一个动态的框架  -->
<script type="text/javascript">
    //var c = new Calendar("c");
    //document.write(c);
</script>

<script type="text/javascript">
	function onselectall()
	{
		var ch=document.getElementById("allcheckbox").checked;
		document.getElementById("check_box").checked=ch;
		selectall('ids[]');
	}
	
	function order(filed)
	{
		var f=document.getElementById("orderfiled").value;
		if(f==filed)
		{
			if(document.getElementById("order").value=="")
				document.getElementById("order").value="desc";
			else
				document.getElementById("order").value="";
		}
		else
		{
			document.getElementById("orderfiled").value=filed;
			document.getElementById("order").value="desc";
		}
		document.queryfrm.submit();
	}
</script>
		
<form name="queryfrm" action="{:U('PhotoerImageGroup/query',array('edit_id'=>$edit_id))}" method="POST">
<input type="text" name="orderfiled" id="orderfiled" value="{$vo['filed']}" style="display:none" />
<input type="text" name="order" id="order" value="{$vo['order']}" style="display:none" />
<table  class="search_table" width="100%">
	<tr>
		<td>
			图组类型: <select name="c_type">
            <option value="0">全部</option>
			<option value="1">资料图片</option>
			<option value="2">时效图片</option>
			</select>
			
			&nbsp;&nbsp;&nbsp;用户名称: 
			<input type="text" name="name" class="input-text" />
			&nbsp;&nbsp;&nbsp;图组状态: 
			<select name="state">
            	<option value="1">待审核</option>
				<option value="3">正常</option>
				<option value="2">部分通过</option>
				<option value="4">审核不通过</option>
				<option value="200">已删除</option>
				<option value="0">全部</option>
			</select>
			<BR> 
			
			创建时间: 
            <input  class="Wdate input-text"  validate=" required:true"   name="start_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  />
			- <input  class="Wdate input-text"  validate=" required:true"   name="end_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  />
			
			图组名称: <input type="text" name="group_name" />

			&nbsp;&nbsp;&nbsp;
            <input type="submit" value="查询"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;
            <input type="reset" value="重置" class="button" style="width:60px" />
		</td>
	</tr>
</table>
</form>

<form name="myform" action="{:U('PhotoerImageGroup/checkwithdel',array('edit_id'=>$edit_id))}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('id')"><u>ID</u></a>
            </th>
			<th width="200" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('old_title')"><u>图组名称</u></a></th>
            
            <th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('account')"><u>用户名</u></a></th>

			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('photo_date')"><u>拍摄日期</u></a></th>

			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('city')"><u>拍摄地点</u></a></th>
            	
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            图组类型</th>
			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            图片组</th>
            
            <th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('up_time')"><u>上传时间</u></a></th>
			
            <th width="50" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('image_num')"><u>数量</u></a></th>
			<th width="50" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">状态</th>
			<th width="60" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">编辑状态</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="photoer" key="k">
      		<tr>
      		<td align="center" style="border:1px solid #c6c6c6; ">
            <input type="checkbox" name="ids[]" value="{$photoer['id']}" /></td>
			<td align="center" style="border:1px solid #c6c6c6; ">{$photoer['id']}</td>
      		<td style="border:1px solid #c6c6c6; "><a href="{:U('PhotoerImageGroup/editPhotoerGroup',array('groupid'=>$photoer['id'],'edit_id'=>$edit_id))}"><u><b>{$photoer['title']}</b></u></a></td>
            <td style="border:1px solid #c6c6c6; ">{$photoer['account']}</td>
			<td style="border:1px solid #c6c6c6; "><?php echo date('Y-m-d',$photoer['photo_date']); ?></td>
			<td style="border:1px solid #c6c6c6; ">{$photoer['city']}</td>
			<td align="left" style="border:1px solid #c6c6c6; "><eq name="photoer['type']" value="1">时效图片<else />资料图片</eq></td>
			<td align="center" style="border:1px solid #c6c6c6; ">
			<a href="{:U('PhotoerImageGroup/editPhotoerGroup',array('groupid'=>$photoer['id'],'edit_id'=>$edit_id))}"><img src="{:getPicUrl($photoer['main_url'],$photoer['userid'],$photoer['main_url_date'])}" style="max_width:100px;height:50px;" /></a>
			</td>
      		<td style="border:1px solid #c6c6c6; ">
             <?php echo date('Y-m-d H:i:s',$photoer['up_time']); ?></td>
            <td style="border:1px solid #c6c6c6; ">{$photoer['image_count']}</td>      
      		<td style="border:1px solid #c6c6c6; ">
            <img src="{:getImageState($photoer['state'])}" />
            </td>
			<td style="border:1px solid #c6c6c6; ">
			<?php
				if($photoer['edit_state']==0) 
                	echo '未在编辑'; //未在编辑状态
             	else if($photoer['edit_state']==1) 
				{
                	echo '<a title="取消编辑状态" href="index.php?g=Admin&m=PhotoerImageGroup&a=canceledit&groupid='.$photoer['id'].'&edit_id='.$edit_id;
					echo '"><font color=red>'.$photoer['check_oper'].'</font><br>正在编辑</a>'; //在编辑状态
				}
			?>
			</td>
      		</tr>
      		</volist>
      	</tbody>
    </table>
  	<input type="checkbox" id="allcheckbox" onclick="onselectall()"/>全选
    <input type="submit" class="button" name="notchecked" value="审核不通过" />
    <input type="submit" class="button" name="delchecked" value="删除图组"/>
</div>
</form>

<div id="pages" class="page">{$page}</div>



