<include file="Admin:header" />
<load href="__PUBLIC__/Js/pcasunzip.js"/>
     
<form id="myform" action="{:U('Photoer/Update')}" ENCTYPE="multipart/form-data" method="POST">
<table cellpadding=1 cellspacing=1 class="table_form" width="100%">
    <tr>
	<td>{:L('member_head_image')}:</td><td><img align="left" src="{$vo['head_image_path']}" border="0" id="simg" style="width:100px;height:80px" />
	<input align="bottom" type="file" id="file" name="head_image_file"  onchange="onSelectFile()"/>
    <script language="javascript">
		function onSelectFile()
		{
			document.execCommand("BackgroundImageCache", false, true);
			var obj = document.getElementById("file");
			var src = obj.value;
			if(src.indexOf('fakepath')>0)
			{
				obj.select();
				src = document.selection.createRange().text;
			}
			document.getElementById("simg").src=src;
			//alert(document.getElementById("simg").src);
		}
	</script>
	<tr bgcolor="#EEEEFF" style="height:10px">
    <td width="120">类型:</td>
    <td><eq name="vo.type" value="1">下载用户<else />摄影师</eq></td>
    <td width="120">{:L('member_reg_time')}:</td><td>{$vo['createtime']|date="Y-m-d H:i:s",###}</td>
    </tr>
	<tr bgcolor="#EEEEDD" style="height:10px">
	<td width="120">{:L('account_query')}:</td>
	<td>{$vo['account']}&nbsp;&nbsp;<a href="{:U('Photoer/reset',array('id'=>$vo['id']))}" onclick="return confirm('确认要重置密码操作吗？')">重置密码</a></td>
	<td widht="120">{:L('name_query')}:</td>
	<td><input style="width:150px;height:18px;font-size:13px" type="text" class="input_text" name="name" value={$vo['name']}></td>
	</tr>
	<tr bgcolor="#EEEEFF">
	<td widht="120">QQ:</td>
	<td><input style="width:150px;height:18px;font-size:13px" type="text" class="input_text" name="qq" value={$vo['qq']}></td>
	<td width="120">可用点数:</td><td>{$vo.pvalue}</td>
	</tr>
	
	<tr bgcolor="#EEEEDD">
	<td width="120">{:L('member_sex')}:</td>

	<td><select name="sex">
	   <option  value={:L('sex_man')} <eq name="vo.sex" value="{:L('sex_man')}">selected="selected"</eq>>{:L('sex_man')}</option>
	   <option  value={:L('sex_woman')} <eq name="vo.sex" value="{:L('sex_woman')}">selected="selected"</eq>>{:L('sex_woman')}</option>
	</select></td>

    <td width="120">{:L('phone_query')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="phone" value={$vo['phone']}></td>
	</tr>
	<tr bgcolor="#EEEEFF">
		<td width="120">{:L('email_query')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="email" value={$vo['email']}></td>
		<td width="120">{:L('member_link_addr')}:</td><td><input style="width:200px;height:18px;font-size:13px" type="text" name="link_addr" value={$vo['link_addr']}></td>
    </tr>
	<tr bgcolor="#EEEEDD">
		<td width="120">{:L('post_code')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="post_code" name="post_code" value={$vo['post_code']}></td>
        <td width="120">{:L('member_company_name')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="company_name" value={$vo['company_name']}></td>
	</tr>
    <tr bgcolor="#EEEEFF">
        <td width="120">城市地区:</td><td>省份：<select name=province id="province" class="Adress"></select>
                城市：<select name=city  id="city" class="Adress"></select></td>
        <td width="120"></td><td></td>
    </tr>
    <eq name="vo.type" value="2">
	<tr bgcolor="#EEEEFF">
        <td width="120">{:L('member_card_no')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="card_no" value={$vo['card_no']}></td>
        <td width="120">{:L('member_pen_name')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="pen_name" name="pen_name" value={$vo['pen_name']}></td>
	</tr>
	<tr bgcolor="#EEEEDD">
		<td width="120">{:L('work_years')}:</td><td>{$vo['work_years']}</td>
    	<td width="120">{:L('main_photo')}:</td><td>{$vo['main_photo']}</td>
    </tr>
	<tr bgcolor="#EEEEFF">
		<td width="120">{:L('main_post_local')}:</td><td>{$vo['main_post_local']}</td>
        <td width="120">{:L('all_equipment')}:</td><td>{$vo['all_equipment']}</td>
	</tr>
	<tr bgcolor="#EEEEDD">
		<td width="120">{:L('cameras')}:</td><td>{$vo['cameras']}</td>	
	<td width="120">{:L('settlement_model')}:</td>
	<td><select name="bank">
		<option <if condition="$vo['bank'] == L('zhaoshang_bank')">selected</if>>{:L('zhaoshang_bank')}</option>
		<option <if condition="$vo['bank'] == L('nongye_bank')">selected</if>>{:L('nongye_bank')}</option>
		<option <if condition="$vo['bank'] == L('gongshang_bank')">selected</if>>{:L('gongshang_bank')}</option>
		<option <if condition="$vo['bank'] == L('zhongguo_bank')">selected</if>>{:L('zhongguo_bank')}</option>
		<option <if condition="$vo['bank'] == L('jianse_bank')">selected</if>>{:L('jianse_bank')}</option>
		<option <if condition="$vo['bank'] == L('jiaotong_bank')">selected</if>>{:L('jiaotong_bank')}</option>
		<option <if condition="$vo['bank'] == L('mingsheng_bank')">selected</if>>{:L('mingsheng_bank')}</option>
		<option <if condition="$vo['bank'] == L('youzheng_bank')">selected</if>>{:L('youzheng_bank')}</option>
		<option <if condition="$vo['bank'] == L('other_bank')">selected</if>>{:L('other_bank')}</option>
	</select></td>
	</tr>
	<tr bgcolor="#EEEEFF">
	<td width="120">{:L('while_open_name')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="bank_truename" value={$vo['bank_truename']}></td>
    <td width="120">{:L('which_bank')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="bank_area" value={$vo['bank_area']}></td>	
	</tr>
	<tr bgcolor="#EEEEDD">
    <td width="120">{:L('bank_card_no')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="bank_num" value={$vo['bank_num']}></td>
	<td width="120">{:L('join_team')}:</td><td><input style="width:150px;height:18px;font-size:13px" type="text" name="join_team" value="{$vo['join_team']}"></td>
	
	</tr>
    </eq>
</table>
<center>
{__TOKEN__}
<input type="hidden" name="id" value="{$vo['id']}">
<input type="submit" style="width:80px;height:25px" value="{:L('dosave')}"   class="button">
<input type="button" style="width:80px;height:25px" value="{:L('doreturn')}" onclick="window.history.go(-1);" class="button" onclick="window.history.go(-1)">
</center>

</form>
<SCRIPT language=javascript defer>
            new PCAS("province","city");
            var province="{$vo.province}";
            var city ="{$vo.city}";
            setTimeout(function(){
            	document.getElementById('province').value=province;
                document.getElementById('province').onchange();
                document.getElementById('city').value=city;
            },1000);
 </SCRIPT>  