<include file="Admin:header" />

     
<form id="myform" action="{:U('Photoer/dopoint')}" method="POST" onsubmit="return Vali.vali(this,2)">
<table cellpadding=1 cellspacing=1 class="table_form" width="100%" >
<tr >
    <td width="120"></td>
    <td></td>
    </tr>
    <tr >
    <td width="120"></td>
    <td></td>
    </tr>
    <tr bgcolor="#EEEEFF">
    <td width="120">要增加的点数:</td>
    <td><input type="text" name="point"  dataType="Number" msg="请输入大于0的数字"/>(请输入大于0的数字)</td>
    </tr>
    <tr bgcolor="#EEEEFF">
    <td width="120">备注:</td>
    <td><textarea name="remark" col="10" row="5" dataType="Require" msg="请输入备注"></textarea></td>
    </tr>
</table>
<center>
<input type="hidden" name="id" value="{$id}">
{__TOKEN__}
</center>

</form>