<include file="Admin:header" />


<table width="100%" cellspacing="0">
	<tr>
	<td align="center" width="80px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">分类ID</td>
	<td align="center" width="80px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">分类名称</td>
	<td align="center" width="80px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">状态</td>
	<td align="center" width="80px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">排序值</td>
	<td align="center" width="180px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">操作</td>
	</tr>
    <tbody>
    	<volist name="list" id="v">
    		<tr height="28">
                <td align="center">{$v.groupid}</td>
                <td align="center">{$v.name}</td>
                <td align="center"><a href="{:U('Phototype/hide',array('id'=>$v['groupid'],'pid'=>$pid,'secid'=>$secid,'state'=>$v['state']))}"><eq name="v['state']" value="1"><font color=green>显示</font><else /><font color=red>隐藏</font></eq></a></td>
                <td align="center"><a href="{:U('Phototype/sort',array('id'=>$v['groupid'],'pid'=>$pid,'secid'=>$secid,'sort'=>$v['sort']+1))}">+</a> {$v.sort} <a href="{:U('Phototype/sort',array('id'=>$v['groupid'],'pid'=>$pid,'secid'=>$secid,'sort'=>$v['sort']-1))}">-</a></td>
                <td align="center">
                <a href="{:U('Phototype/edit',array('id'=>$v['groupid'],'pid'=>$pid,'secid'=>$secid))}">修改</a>
                <if condition="$v['parentid']==0"> 
                    | <a href="{:U('Phototype/index',array('pid'=>$v['groupid']))}">查看子分类</a>
                    | <a href="{:U('Phototype/add',array('pid'=>$v['groupid']))}">增加子分类</a>
                <elseif condition="$v['secondid']==0" />
                    | <a href="{:U('Phototype/index',array('pid'=>$v['parentid'],'secid'=>$v['groupid']))}">查看子分类</a>
                    | <a href="{:U('Phototype/add',array('pid'=>$v['parentid'],'secid'=>$v['groupid']))}">增加子分类</a>
                </if>
                </td>
            </tr>
    	</volist>
    </tbody>
    </table>
    <div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="添加" onclick="window.location.href='{:U('Phototype/add',array('pid'=>$pid,'secid'=>$secid))}';" >&nbsp;&nbsp;
    <if condition="$secid gt 0">
    <input type="button" value="返回" onclick="window.location.href='{:U('Phototype/index',array('pid'=>$pid))}';" >
    <elseif condition="$pid gt 0" />
    <input type="button" value="返回" onclick="window.location.href='{:U('Phototype/index')}';" >
    </if>
    </div>

