<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<script type="text/javascript">
    function order(filed)
    {
        var url = "{:U('Photoer/index',array('type'=>$type))}";
        var orderfield = '{$orderfield}';
        var order = '{$order}';
        if(orderfield==filed)
        {
            if('desc' == order)
            {
                order = 'asc';
            }
            else
            {
                order = 'desc';
            }
        }
        else
        {
            order = 'desc';
        }
        url = url + '&orderfield='+filed+'&order='+order;
        window.location.href = url;
    }
</script>
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('Photoer/index')}" method="get">
			<input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />       
            <input type="hidden" name="type" value="{$type}" />       
			{:L('account_query')}: <input type="text" name="account"  class="input-text" value="{$account}"/>	
			&nbsp;&nbsp;&nbsp;{:L('name_query')}: <input type="text" name="name" class="input-text" value="{$name}"/>
			&nbsp;&nbsp;&nbsp;{:L('email_query')}: <input type="text" name="email" class="input-text" value="{$email}"/>&nbsp;&nbsp;单位: <input type="text" name="company_name" class="input-text" value="{$company_name}"/>
			<BR> 
			{:L('phone_query')}: <input type="text" name="phone" class="input-text" value="{$phone}"/>
			
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;省份: <input type="text" name="province" value="{$province}" />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;城市: <input type="text" name="city" value="{$city}" /> <eq name="type" value='2'><input type="checkbox" name="no_pvalue" value="1" <eq name="no_pvalue" value="1">checked</eq>>申请结算</eq>
			
			<BR>
            
			{:L('start_query')}: <input  class="Wdate input-text  "  validate=" required:true"   name="start_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" style="height:17px;"/>
			{:L('to_query')}: <input  class="Wdate input-text  "  validate=" required:true"   name="end_query" type="text" id="createtime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" style="height:17px;"/>
   
			
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp{:L('state_query')}:&nbsp <select name='state'>
			<option>{:L('member_state_all')}</option>
			<option>{:L('member_state_normal')}</option>
			<option>{:L('member_state_wait_check')}</option>
			<option>{:L('member_state_lock')}</option>
			<option>{:L('member_state_del')}</option>
			</select>
			<eq name="type" value="1">
会员类型：<select name="subtype">
<option value="0" <eq name="subtype" value="0">selected</eq>>全部</option>
<option value="1" <eq name="subtype" value="1">selected</eq>>包年用户</option>
<option value="2" <eq name="subtype" value="2">selected</eq>>预付款用户</option>
<option value="3" <eq name="subtype" value="3">selected</eq>>后结算用户</option>
<option value="4" <eq name="subtype" value="4">selected</eq>>专线用户</option>
<option value="5" <eq name="subtype" value="5">selected</eq>>下载合作机构</option>
<option value="6" <eq name="subtype" value="6">selected</eq>>浏览用户</option>
</select>
</eq>
			&nbsp;&nbsp;&nbsp;<input type="submit" value="{:L('chaxun')}"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;<input type="reset" value="{:L('reset')}" class="button" style="width:60px" />
			
    <input type="hidden" name="type" value="{$type}" />
			</form>
		</td>
		
	</tr>
</table>

<!-- 显示摄影师当天的信息 -->
<div style="padding-left:60px;padding-right:60px">
<table style="border-collapse: collapse;padding-left=50px">
	<thead>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7;padding-left=50px">{:L('p_today_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_yes_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_before_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_before7_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_month_reg_num')}</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">{:L('p_total_reg_num')}</td>
    <eq name="type" value="1">
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">须续费</td>
	<td align="center" width="140px" height="20px" style="border:1px solid #c6c6c6; background:#7898A7">将过期</td>
    </eq>
	</thead>
	<tbody>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['today_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['yer_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['before_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['before7_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['month_reg_num']}</td>
	<td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;">{$vo['total_reg_num']}</td>
    <eq name="type" value="1">
    <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;"><a href="{:U('Photoer/index',array('type'=>$type,'money'=>1))}">{$vo['need_money']}</a></td>
    <td align="center" style="border:1px solid #c6c6c6;background:#CADEE7;"><a href="{:U('Photoer/index',array('type'=>$type,'valid'=>1))}">{$vo['will_valid']}</a></td>
    </eq>
	</tbody>
</table>
</div>

<br/>

<form name="myform" action="{:U('Photoer/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('id')">ID</a></th>
			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('id')">{:L('account_query')}</a></th>	
			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('account')">{:L('name_query')}</a></th>
            <eq name="type" value="1">
			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('subtype')">用户类型</a></th>
			</eq>
            <th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('company_name')">单位</a></th>
			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('city')">{:L('city_query')}</a></th>
			<th width="100" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('email')">{:L('email_query')}</a></th>
			<th width="100" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('phone')">{:L('phone_query')}</a></th>
			<th width="100" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('createtime')">{:L('create_time_member')}</a></th>	
			<th width="60" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('state')">{:L('status')}</a></th>
			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('pvalue')">可用</a></th>
			<th width="150" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">{:L('oper')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="photoer" key="k">
      		<tr>
      		<td align="center" style="border:1px solid #c6c6c6; "><input type="checkbox" name="ids[]" value="{$photoer['id']}" /></td>
			<td align="center" style="border:1px solid #c6c6c6; ">{$photoer['id']}</td>
      		<td style="border:1px solid #c6c6c6; "><a href="{:U('photoer/edit',array(id=>$photoer['id']))}">{$photoer['account']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$photoer['name']}</td>
            <eq name="type" value="1">
			<td align="left" style="border:1px solid #c6c6c6; ">{:getUserTypeName($photoer['subtype'])}</td>
            </eq>
			<td align="left" style="border:1px solid #c6c6c6; ">{$photoer['company_name']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$photoer['city']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$photoer['email']}</td>
      		<td style="border:1px solid #c6c6c6; ">{$photoer['phone']}</td>
      		<td align="left" style="border:1px solid #c6c6c6; "><?php
            echo date("Y-m-d",$photoer['createtime']);
            
            ?></td>     		
			 <td style="border:1px solid #c6c6c6; ">
             <?php
            if($photoer['state']== 0)
                   echo '<a href="'.$url.'">未激活</a>';
             elseif($photoer['state']==1)
             	echo "正常";  
             elseif($photoer['state']==2)
            	echo '<a href="'.U('Photoer/unlock',array('id'=>$photoer['id'])).'" title="点击解除锁定">锁定</a>'; 
               elseif($photoer['state']==3)
            	echo "<span class='red'>已过期</span>";    
               else
            	echo "<span class='red'>已删除</span>";    
		     ?>
      		</td>
            <td align="left" style="border:1px solid #c6c6c6; ">{$photoer['pvalue']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">
            &nbsp;<a href="javascript:openwin('{:U('Photoer/point',array('id'=>$photoer['id']))}','加点',600,150)">加点</a>
            &nbsp;<a href="javascript:openwin('{:U('Photoer/point2',array('id'=>$photoer['id']))}','扣点',600,180)">扣点</a>
            <eq name="type" value="1">
            &nbsp;<a href="javascript:openwin('{:U('Photoer/she',array('id'=>$photoer['id'],'type'=>$photoer['type']))}','设置',520,360);">设置</a>
           <else />
           <if condition="$photoer['no_pvalue'] gt 0 ">
           &nbsp;<a href="javascript:openwin('{:U('Photoer/topay',array('id'=>$photoer['id'],'type'=>$photoer['type']))}','处理结算申请',600,150);">处理结算</a>
           <elseif condition="$photoer['pvalue'] gt 0" />
           &nbsp;<a href="javascript:openwin('{:U('Photoer/pay',array('id'=>$photoer['id'],'type'=>$photoer['type']))}','结算',600,150);">结算</a>
           </if>
           &nbsp;<a href="javascript:openwin('{:U('Photoer/she2',array('id'=>$photoer['id'],'type'=>$photoer['type']))}','设置',600,150);">设置</a>
           </eq>
            &nbsp;<a href="{:U('Home-Index/doLogin',array('account'=>$photoer['account'],'password'=>$photoer['password']))}" target="_blank">后台</a>
</td>      		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <input type="submit" class="button" name="deletesubmit" value="<?php echo L('delete')?>" onclick="return myconfirm();"/>
    <input type="submit" class="button" name="2submit" value="<?php echo L('account_lock'); ?>" />
    
</div>
</form>

<div id="pages" class="page">{$page}</div>



