<include file="Admin:header" />

     
<form id="myform" action="{:U('Photoer/dotopay')}" method="POST">
<input type="hidden" name="id" value="{$vo.id}" />
<table cellpadding=1 cellspacing=1 class="table_form" width="100%" >
<tr >
    <td width="120"></td>
    <td></td>
    </tr>
    <tr >
    <td width="120"></td>
    <td></td>
    </tr>
    <tr bgcolor="#EEEEFF">
    <td width="120">申请结算点数 <b>{$vo.no_pvalue}</b> 点</td>
    <td><input type="radio" name="yesorno" value="1" checked>同意申请&nbsp;&nbsp;<input type="radio" name="yesorno" value="0">拒绝申请</td>
    </tr>
</table>
{__TOKEN__}
</form>