<include file="Admin:header" />


<form action="{:U('Phototype/submtype')}" method="POST">
	<input type="text" name="id" value="{$vo['id']}" style="display:none" />
	<table>
	<tr><td>类别编号:</td><td>{$vo['groupid']}</td></tr>
    <tr><td>类型名称:</td>
    <td><input type="text" name="name" value="{$vo['name']}" /></td></tr>
	</table>
    <input type="submit" value="提交" />
</form>