<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<div id="nav" class="mainnav_title"><div id="lang"></div><ul>
	<a href="index.php?g=Admin&m=Realsephotoer&a=checkgroup&id={$rgid}">发布图组</a>|
	<a href="index.php?g=Admin&m=Realsephotoer&a=photoquery&rgid={$rgid}">摄影师图组</a>|
	<a href="index.php?g=Admin&m=Realsephotoer&a=wait&id={$rgid}">待发布图组</a>|
</div>

		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>

<script type="text/javascript">
  function oncheckchange()
  {
	  for(i=1;i<100;i++)
	  {
		  var sid="listcheck"+i;
		  
		  if( document.getElementById("allcheck").checked==true )
		  	document.getElementById(sid).checked=true;
		  else
		  	document.getElementById(sid).checked=false;
	  }
  }
  function oncheckchangeup()
  {
	 for(i=1;i<100;i++)
	  {
		  var sid="listcheck"+i;
		  
		  if( document.getElementById("check_box").checked==true )
		  	document.getElementById(sid).checked=true;
		  else
		  	document.getElementById(sid).checked=false;
	  }
  }
  function order(filed)
	{
		var f=document.getElementById("orderfiled").value;
		if(f==filed)
		{
			if(document.getElementById("order").value=="")
				document.getElementById("order").value="desc";
			else
				document.getElementById("order").value="";
		}
		else
		{
			document.getElementById("orderfiled").value=filed;
			document.getElementById("order").value="desc";
		}
		document.queryfrm.submit();
	}
</script>
			
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form name="queryfrm" action="{:U('waitrealsephotoer/index')}" method="POST">
            
            <input type="text" name="orderfiled" id="orderfiled" value="{$vo['filed']}" style="display:none" />
			<input type="text" name="order" id="order" value="{$vo['order']}" style="display:none" />
			
			图组类型: <select name="type">
			<option value="0">全部</option>
			<option value="1000">新闻图片</option>
			<option value="2000">创意图片</option>
            <option value="3000">摄影专题</option>
			<option value="4000">素材图片</option>
			</select>
			
			<input type="text" name="typeid" id="typeid" style="display:none" />
			
			&nbsp;&nbsp;&nbsp;用户名称:
			<input type="text" name="username" class="input-text" />
			图组名称: <input type="text" name="group_name" />
            
			&nbsp;&nbsp;&nbsp;图组状态: 
			<select name="state">
				<option>待发布</option>
				<option>正常</option>
				<option>审核不通过</option>
				<option>已删除</option>
				<option>全部</option>
			</select>
			<BR> 
			
			创建时间: <input  class="Wdate input-text"  validate=" required:true"   name="start_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  />
			- <input  class="Wdate input-text"  validate=" required:true"   name="end_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  />
			
			&nbsp;&nbsp;&nbsp;<input type="submit" value="搜索"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;<input type="reset" value="重置" class="button" style="width:60px" />
		
			</form>
		</td>
		
	</tr>
</table>

<form name="myform" action="{:U('waitrealsephotoer/checkwithdel')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">
            <input type="checkbox"  id="check_box"  onclick="selectall()" /></th>
			<th width="30" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('id')"><u>ID</u></th>
			<th width="200" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('title')"><u>图组名称</u></a></th>	

			<th width="100" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('photo_date')"><u>拍摄日期</u></a></th>
			<th width="100" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('city')"><u>拍摄地点</u></a></th>

            <th width="100" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('up_account')"><u>用户名</u></a></th>

			

			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF"><a href="#" onclick="order('type_one_name')"><u>图组类型</u></a></th>
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">图片组</th>
            

			<th width="140" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('up_time')"><u>创建时间</u></a></th>
      		<th width="140" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('check_time')"><u>审核时间</u></a></th>
            <th width="50" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('image_count')"><u>数量</u></a></th>
      		<th width="40" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            状态</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="glist" id="group" key="k">
      		<tr>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <input type="checkbox" name="ids[]" value="{$group['id']}"  /></td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['id']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">
            <a href="index.php?g=Admin&m=Realsephotoer&a=waitcheckgroup&id={$group['id']}&rgid={$rgid}"><u><b>
            {$group['title']}</b></u></a>
            </td>
	
			<td align="left" style="border:1px solid #c6c6c6; "><?php echo date('Y-m-d',$group['photo_date']); ?></td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['city']}</td>

            <td align="left" style="border:1px solid #c6c6c6; ">{$group['up_account']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['type_one_name']}</td>
			<td align="center" style="border:1px solid #c6c6c6; ">
				<img src="{$group['main_url']}" style="max_width:100px;height:50px;"  />
			</td>
			
            
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <?php echo date('Y-m-d H:i:m',$group['up_time']); ?></td>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <?php echo date('Y-m-d H:i:m',$group['check_time']); ?></td>
            <td align="left" style="border:1px solid #c6c6c6; ">{$group['image_count']}</td>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <?php
            	if($photoer['check_state']==0) 
                	echo '<img src="./Public/Images/write.jpg" />'; //待审核
             	else if($photoer['check_state']==1) 
                	echo '<img src="./Public/Images/yellow.jpg" />'; //部分通过
                else if($photoer['check_state']==2) 
                	echo '<img src="./Public/Images/green.jpg" />'; //全部通过
                else if($photoer['check_state']==3) 
                	echo '<img src="./Public/Images/red.jpg" />'; //全部不通过
            ?>
            </td>
			</tr>
      		</volist>
      	</tbody>
    </table>
  	<input type="checkbox" id="allcheck" onclick="oncheckchange()"/>全选
    <input type="submit" class="button" name="notchecked" value="审核不通过" />
    <input type="button" class="button" name="delchecked" value="删除图组" />
</div>
</form>

<div id="pages" class="page">{$page}</div>



