<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<load href="./Public/Js/jquery.min.js"/>
<load href="./Public/Js/jquery.validate.js"/>
<load href="./Public/Js/artDialog.min.js"/>
<load href="./Public/Js/jquery.form.js"/>

<div id="nav" class="mainnav_title"><div id="lang"></div><ul>
	<a href="index.php?g=Admin&m=Realsephotoer&a=checkgroup&id={$rgid}">发布图组</a>|
	<a href="index.php?g=Admin&m=Realsephotoer&a=photoquery&rgid={$rgid}">摄影师图组</a>|
	<a href="index.php?g=Admin&m=Realsephotoer&a=wait&id={$rgid}">待发布图组</a>|
</ul></div>


<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<load href='./Public/Css/seltype.css' />

<style >
	.imagetd{width:300px;
				height:300px;
				border:1px solid #666;
				vertical-align:middle;
	}
	
	.stable{ 
			color:#00C;
	}
	
	.keydiv{ position:absolute;
	border:1px solid #666;;
	left:290px;
	top:80px;
	width:250px;
	display:none;
	background:#99C;
	};

</style>

		
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>

<script language="javascript">

	//复制图片
	function oncopyto(id)
	{
		document.getElementById("copyid").value=id;
		document.getElementById("cpsubmit").click();
	}

	//复制所有选中的图片
	function oncopytoall()
	{
		var cnt=document.getElementById("imagenum").value;
		var ids="";
		for(i=1;i<=parseInt(cnt);i++)
		{
			var sid="check"+i;
			if( document.getElementById(sid).checked )
			{
				sid="imagespan"+i;
				var imageid=document.getElementById(sid).innerHTML;
				ids=ids+imageid+",";
			}
		}
		document.getElementById("copyid").value=ids;
		document.getElementById("cpsubmit").click(); //提交复制
	}
	
	//图片旋转
	function onImgRotation(type,id)
	{
		document.getElementById("rationtype").value=type;
		document.getElementById("imgid").value=id;
		document.getElementById("subrotation").click();
	}
	
	function addkey()
	{
		var key=document.getElementById("gkey").value;
		//把关键字添加到选中项里面
		for(i=1;i<100;i++)
		{
			var cid="check"+i;
			if( document.getElementById(cid).checked )
			{
				var imgid="imagespan"+i;
				var iid=document.getElementById(imgid).innerHTML;
				var keyid="imagekey"+iid;
				
				document.getElementById(keyid).innerHTML=document.getElementById(keyid).innerHTML+","+key;
			}
		}
	}
	
	function addarea()
	{
		var key=document.getElementById("gkey").value;
		
		//country
		var country=document.getElementById("country").value;
		var province;
		var city;
		if(country!="国外")
		{
			country="中国";
			province=document.getElementById("province").value;
			city=document.getElementById("city").value;
		}
		else
		{
			country=document.getElementById("country1").value;
			province=document.getElementById("province1").value;
			city=document.getElementById("city1").value;
		}
	
		//把关键字添加到选中项里面
		for(i=1;i<100;i++)
		{
			var cid="check"+i;
			if( document.getElementById(cid).checked )
			{
				var imgid="imagespan"+i;
				var iid=document.getElementById(imgid).innerHTML;
				var countryid="imgcountry"+iid;
				var provinceid="imgprovince"+iid;
				var cityid="imgcity"+iid;
				
				document.getElementById(countryid).value=country;
				document.getElementById(provinceid).value=province;
				document.getElementById(cityid).value=city;
			}
		}
	}
	
	function changetype()
	{
		//清空面板
		for(i=1;i<=20;i++)
		{
			c="ckey"+i;
			t="tid"+i;
			if(document.getElementById(c)!=null)
				document.getElementById(c).style.display="none";
			if(document.getElementById(t)!=null)
				document.getElementById(t).innerHTML="";
		}

		//查询该类别的关键字
		var type=document.getElementById("keytype").value;
		document.getElementById("keyqueryname").value=type;
		document.getElementById("keyquerysubmit").click();
	}

	//审核通过
	function onpass(id)
	{
		document.getElementById("checktype").value="1";
		document.getElementById("checkid").value=id;
		document.checkfrm.submit();
	}
	
	//审核不通过
	function onnotpass(id)
	{
		document.getElementById("checktype").value="2";
		document.getElementById("checkid").value=id;
		document.checkfrm.submit();
	}
	
	function showdiv()
	{
		//weizhi
		//var left=document.getElementById("gkey").style.left;
		//var top=document.getElementById("gkey").style.top;
	
		
		//document.getElementById("keydivid").style.left=left;
		//document.getElementById("keydivid").style.top=top+10;
		
		document.getElementById("keydivid").style.display="block";
		
	}
	
	//全选关键字
	function selallkey()
	{
		var key=0;
		var x=0;
		for(i=1;i<100;i++)
		{
			c="ckey"+i;
			t="tid"+i;
			
			var ctrl=document.getElementById(c);
			var ctrl2=document.getElementById(t);
			if(ctrl!=null && ctrl2!=null)
			{
				var kt=document.getElementById(t).innerHTML;
				if(kt!="")
				{
					document.getElementById(c).checked=true;
				
					if(x==0)
						key=document.getElementById(t).innerHTML;
					else
						key=key+","+document.getElementById(t).innerHTML
					x++;
				}
			}
			else
			{
				
				document.getElementById("gkey").value=key;
				break;
			}
		}
	}
	
	function selkey(id)
	{
		var key="";
		var x=0;
		//更新关键字
		for(i=1;i<100;i++)
		{
			c="ckey"+i;
			t="tid"+i;
			if( document.getElementById(c)==null )
			{
				document.getElementById("gkey").value=key;
				break;
			}
			
			if( document.getElementById(c).checked )
			{
				if(x==0)
					key=document.getElementById(t).innerHTML;
				else
					key=key+","+document.getElementById(t).innerHTML;
					
				x++;
			}
		}
	}
	
	function selectall() //全选/全不选
	{
		var bIsSelect=document.getElementById("sall").checked;
		for(i=1;i<200;i++)
		{
			var sid="check"+i;
			document.getElementById(sid).checked=bIsSelect;
		}
	}
	
	//
	function selecttype(seq,id,name)
	{
		if(seq==1)
		{
			document.getElementById("typeoneid").value=id;
			document.getElementById("stypeone").innerHTML=name;
		}
		else if(seq==2)
		{
			document.getElementById("typetwoid").value=id;
			document.getElementById("stypetwo").innerHTML=name;
		}
		else if(seq==3)
		{
			document.getElementById("typethreeid").value=id;
			document.getElementById("stypethree").innerHTML=name;
		}
	}
	
	//移除一张图片
	function removeimg(id)
	{
		document.getElementById("removeid").value=id;
		document.getElementById("removesubmit").click();
	}
	
	//移除所有已选择的图片
	function removeall()
	{
		//找出所有选择的图片
		var cnt=document.getElementById("imagenum").value;
		var ids="";
		for(i=1;i<=parseInt(cnt);i++)
		{
			var sid="check"+i;
			if( document.getElementById(sid).checked )
			{
				sid="imagespan"+i;
				var imageid=document.getElementById(sid).innerHTML;
				ids=ids+imageid+",";
			}
		}
		document.getElementById("removeid").value=ids;
		document.getElementById("removesubmit").click(); //提交复制	
	}
	
	//删除图组
	function delgroup()
	{
		document.getElementById("delgroupsubmit").click();
	}
	
	//保存图组
	function savegroup(type)
	{
		//保存图组信息
		document.getElementById("subtype").value=type;
		document.getElementById("subgroup").click();
	}
	
	//提交编辑图组
	function submitgroup()
	{
		//提交图组
		document.getElementById("subtype").value="1";//1表示保存且提交
		document.getElementById("subgroup").click();
	}
	
	//设置封面图片
	function onsetface(id)
	{
		document.getElementById("mainfaceid").value=id;
		document.setfacefrm.submit();
	}
	
	$(function(){
	$('#removefrm').ajaxForm({
	success:    completeremove,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#delgroupfrm').ajaxForm({
	success:    completedelgroup,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#groupfrm').ajaxForm({
	success:    completesaveinfo,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#keyfrm').ajaxForm({
	success:    completekey,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#rotationfrm').ajaxForm({
	success:    completerotation,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#copyform').ajaxForm({
	success:    completecopy,  // post-submit callback
	dataType: 'json'
	});
	});

	function completedelgroup(data){
        if (data.status==1)
        {
			//alert('删除成功');
			document.location="{:U('Waitrealsephotoer/checkgroup',array(id=>$vo['id']))}";
        }else{
            alert('删除失败');
        }
	};
	
	function completeremove(data){
        if (data.status==1)
        {
			//alert('删除成功');
			document.location="{:U('Waitrealsephotoer/checkgroup',array(id=>$vo['id']))}";
        }else{
            alert('删除失败');
        }
	};

	function completecopy(data){
        if (data.status==1)
        {
			alert('复制成功');
        }else{
            alert('复制失败,原因：'+data.info);
        }
	}
	
	function completekey(data){
		if(data.status==1)
		{
			var n=1;
			for(i=1;i<100;i++)
			{
				if(data.info[i-1].name.length>0)
				{
					c="ckey"+n;
					t="tid"+n;
					document.getElementById(t).innerHTML=data.info[i-1].name;
					document.getElementById(c).style.display="block";
					n=n+1;
				}
			}
		}
		else
		{
			alert('查找关键字失败');
		}
	}
	
	function completesaveinfo(data){
        if (data.status==1)
        {
			//保存组信息成功，保存具体图片信息
			
			document.mainfrm.submit();
			//alert('保存成功');
			//document.location="{:U('PhotoerImageGroup/editGroup')}";
        }
		else{
			if( data.info.length>0 )
            	alert('保存组信息失败，信息：'+data.info);
			else
				document.mainfrm.submit();
        }
	}
	
	//图片旋转
	function completerotation(data)
	{
		if (data.status==1)
        {
			var r = Math.random(); 
			var id=document.getElementById("imgid").value;
			var imgid="imageid"+id;
			var src=document.getElementById(imgid).src;
			document.getElementById(imgid).src=src+"?"+r;
		}
		else
		{
			alert("旋转失败:"+data.info);
		}
	}
	
</script>

 <!--隐藏的form 只提交 复制图片 -->
 <form name="copyform" id="copyform" action="{:U('realsephotoer/copyimagefromwait')}" method="POST">
     <input type="text" name="rgid" id="rgid" value="{$rgid}" style="display:none"/>
     <input type="text" name="copyid" id="copyid" style="display:none" />
     <input type="text" name="imagenum" id="imagenum" value="<?php echo count($imagelist); ?>" style="display:none" />
	 <input type="submit" id="cpsubmit" style="display:none"/>
 </form>


<!--图片旋转的form-->
<form name="rotationfrm" id="rotationfrm" action="{:U('realsephotoer/imgRotation')}" method="POST">
	<input type="text" name="rationtype" id="rationtype" style="display:none" />
    <input type="text" name="imgid" id="imgid" style="display:none" />
	<input type="submit" name="subrotation" id="subrotation" style="display:none" />
</form>

<!--单个图片审核-->
<form name="checkfrm" id="checkfrm" action="{:U('realsephotoer/checkimage')}" method="POST">
	<input type="text" name="checktype" id="checktype" style="display:none" />
	<input type="text" name="checkid" id="checkid" style="display:none" />
</form>

<!--查找关键字-->
<form name="keyfrm" id="keyfrm" action="{:U('waitrealsephotoer/querykey')}" method="POST">
	<input type="text" id="keyqueryname" name="keyqueryname" style="display:none" />
    <input type="submit" id="keyquerysubmit" style="display:none" />
</form>

<!--选择关键字 -->
<div id="keydivid" class="keydiv" >
	<table>
    <tr><td><input type="checkbox"  id="ckey1" style="display:none" onclick="selkey('ckey1')"/></td>
    <td id="tid1"></td></tr>
	<tr><td><input type="checkbox"  id="ckey2" style="display:none" onclick="selkey('ckey2')"/></td>
    <td id="tid2"></td></tr>
    <tr><td><input type="checkbox" id="ckey3" style="display:none" onclick="selkey('ckey3')"/></td>
    <td id="tid3"></td></tr>
	<tr><td><input type="checkbox" id="ckey4" style="display:none" onclick="selkey('ckey4')"/></td>
    <td id="tid4"></td></tr>
    <tr><td><input type="checkbox" id="ckey5" style="display:none" onclick="selkey('ckey5')"/></td>
    <td id="tid5"></td></tr>
    <tr><td><input type="checkbox" id="ckey6" style="display:none" onclick="selkey('ckey6')"/></td>
    <td id="tid6"></td></tr>
    <tr><td><input type="checkbox" id="ckey7" style="display:none" onclick="selkey('ckey7')"/></td>
    <td id="tid7"></td></tr>
    <tr><td><input type="checkbox" id="ckey8" style="display:none" onclick="selkey('ckey8')"/></td>
    <td id="tid8"></td></tr>
    <tr><td><input type="checkbox" id="ckey9" style="display:none" onclick="selkey('ckey9')"/></td>
    <td id="tid9"></td></tr>
    <tr><td><input type="checkbox" id="ckey10" style="display:none" onclick="selkey('ckey10')"/></td>
    <td id="tid10"></td></tr>
    <tr><td><input type="checkbox" id="ckey11" style="display:none" onclick="selkey('ckey11')"/></td>
    <td id="tid11"></td></tr>
    <tr><td><input type="checkbox" id="ckey12" style="display:none" onclick="selkey('ckey12')"/></td>
    <td id="tid12"></td></tr>
    <tr><td><input type="checkbox" id="ckey13" style="display:none" onclick="selkey('ckey13')"/></td>
    <td id="tid13"></td></tr>
    <tr><td><input type="checkbox" id="ckey14" style="display:none" onclick="selkey('ckey14')"/></td>
    <td id="tid14"></td></tr>
    <tr><td><input type="checkbox" id="ckey15" style="display:none" onclick="selkey('ckey15')"/></td>
    <td id="tid15"></td></tr>
    <tr><td><input type="checkbox" id="ckey16" style="display:none" onclick="selkey('ckey16')"/></td>
    <td id="tid16"></td></tr>
    <tr><td><input type="checkbox" id="ckey17" style="display:none" onclick="selkey('ckey17')"/></td>
    <td id="tid17"></td></tr>
    <tr><td><input type="checkbox" id="ckey18" style="display:none" onclick="selkey('ckey18')"/></td>
    <td id="ckey18"></td></tr>
    <tr><td><input type="checkbox" id="ckey19" style="display:none" onclick="selkey('ckey19')"/></td>
    <td id="tid19"></td></tr>
    <tr><td><input type="checkbox" id="ckey20" style="display:none" onclick="selkey('ckey20')"/></td>
    <td id="tid20"></td></tr>
    </table>
    <input type="button" value="确定" onclick="document.getElementById('keydivid').style.display='none';"/>
</div>
			
<form name="groupfrm" id="groupfrm" action="{:U('waitrealsephotoer/savegroupinfo',array(id=>$vo['id']))}" method="POST">
	<!--添加三个隐藏的文本框记录选择的类型 -->
    <input name="typeoneid" id="typeoneid" value="{$vo['type_one']}" style="display:none" />
    <input name="typetwoid" id="typetwoid" value="{$vo['type_two']}" style="display:none" />
    <input name="typethreeid" id="typethreeid" value="{$vo['type_three']}" style="display:none" />
	<include file="Admin:menutype" />
   <table>
        <tr>
		<td style="width:70px">发生时间:</td>
		<td> <input  class="Wdate input-text"  validate=" required:true"   name="gtime" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  /></td>
		<td>拍摄地区：
              <select name="country" id="country" onChange="chgCountry(this)">
					<option value="中国" selected>国内</option>
					<option value="国外">国外</option>
		   	  </select>         
			  <span id="area0">
				省份：<select name=province id="province" class="Adress"></select>
				城市：<select name=city  id="city" class="Adress"></select>
            </span>
            <span id="area1" style="display:none">
            国家：<input type="text" name="country1" id="country1" maxlength="20" length="10" style="width:100px"/>
            州/区：<input type="text" name="province1" id="province1" maxlength="20" length="10" style="width:100px"/>
			城市:<input type="text" name="city1" maxlength="20" id="city1" length="10" style="width:100px"/>
            </span>
		<input type="button" value="添加" onclick="addarea()" /></td>
		</tr>

       <tr>
        <td>类别:</td>
        <td>
        <select name="keytype" id="keytype"  onchange="changetype()">
        <option style="display:none">-----请选择类别-----</option>
		<?php
        	$t=M('keyword_type');
            $tlist=$t->select();
            for($i=0;$i<count($tlist);$i++)
            	echo '<option value="'.$tlist[$i]['name'].'">'.$tlist[$i]['name'].'</option>';
        ?>
		</select></td>
		<td colspan="7">关键字:&nbsp;&nbsp<input name="gkey" id="gkey" style="width:650px" onfocus="showdiv()"/>
		<input type="button" value="全选" onclick="selallkey()"/>
		<input type="button" value="添加" onclick="addkey()"/></td>
		</tr>

        <tr>
		<td>图组标题:</td><td colspan="8"><input type="text" name="gtitle" value="{$vo['title']}" style="width:850px"/></td></tr>
        <tr>
		<td>图组说明:</td><td colspan="8"><textarea name="gremark" style="width:850px;height:100px">{$vo['group_remark']}</textarea></td></tr>
      </table>
      <input type="submit" id="subgroup" name="subgroup" style="display:none" />
   </form>
        
        <!--移除操作的form-->
        <form name="removefrm" id="removefrm" action="{:U('waitrealsephotoer/removeimg')}" method="POST" >
        	<input type="text" id="removeid" name="removeid" style="display:none" />
            <input type="submit" id="removesubmit" name="removesubmit" style="display:none" />
            <input type="text" name="imagenum" id="imagenum" value="<?php echo count($imagelist); ?>" style="display:none" />
        </form>
        
        <!--删除图组的form-->
        <form name="delgroupfrm" id="delgroupfrm" action="{:U('waitrealsephotoer/delgroup')}" method="POST" >
        	<input type="submit" id="delgroupsubmit" name="delgroupsubmit" style="display:none" />
        </form>
        
        <!--设置为封面的FORM-->
        <form name="setfacefrm" id="setfacefrm" action="{:U('waitrealsephotoer/setface')}" method="POST" >
        	<input type="text" id="mainfaceid" name="mainfaceid" style="display:none" />
        	<input type="submit" id="submainface" name="submainface" style="display:none" />
        </form>
		
		<!-- 加载图像 -->
		<form id="mainfrm" name="mainfrm" action="{:U('waitrealsephotoer/saveeditgroup',array(id=>$vo['id']))}" method="POST" >
        <input type="text" name="subtype" id="subtype" style="display:none"/>
		<table class="stable">
			<volist name="imglist" id="image" key="id">
				<?php if( $id-1%3==0 ) echo "<tr>"; ?>
					<td>
                    	<table>
						<tr><td colspan="2">图片编号：<span id="imagespan{$id}">{$image['id']}</span></td></tr>
						<tr><td>
                        <div class="imagetd" align="center">
                		<a href="{$image.url}" target=_blank><img src="{$image.big_url}" id="imageid{$image['id']}" style="max-width:290px;max-height:290px; vertical-align:middle; padding-top:5px" /></a>
                        </td></tr>
                        </div>
            			</table>
                       
                       	<table>
						<tr><td >上传时间：</td><td>
                        <?php echo date('Y-m-d h:i:s',$image['up_time']); ?></td></tr>
						<tr><td >审核时间：</td><td><?php echo date('Y-m-d h:i:s',$image['check_time']); ?></td></tr>
						<tr><td >是否封面：</td>
                        <td ><?php if($image['small_url']==$vo['main_url']) echo "封面图片"; else echo "否"; ?></td></tr>
						<tr><td >价格：</td>
                        <td >
                        <select name="point{$image['id']}" id="point{$image['id']}" >
                        <option <?php if( $image['value']==100 ) echo 'selected="selected"'; ?> >100</option>
                         <option <?php if( $image['value']==200 ) echo 'selected="selected"'; ?> >200</option>
                          <option <?php if( $image['value']==300 ) echo 'selected="selected"'; ?> >300</option>
                           <option <?php if( $image['value']==400 ) echo 'selected="selected"'; ?> >400</option>
                            <option <?php if( $image['value']==500 ) echo 'selected="selected"'; ?> >500</option>
                            </select>
                        </td>
                        </tr>
						<tr><td >审核状态：</td>
                        <td ><?php
                        	if($image['state']==0) 
                				echo '<img src="./Public/Images/write.jpg" />'; //待审核
                			else if($image['state']==1) 
                				echo '<img src="./Public/Images/green.jpg" />'; //通过
                			else if($image['state']==2) 
                				echo '<img src="./Public/Images/red.jpg" />'; //不通过
                         ?></td></tr>
                        <tr><td>地区:</td>
                        <td>
                        <input id="imgcountry{$image['id']}" name="imgcountry{$image['id']}" value="{$image['country']}" style="width:60px"/>
                        &nbsp;&nbsp;<input id="imgprovince{$image['id']}" name="imgprovince{$image['id']}" value="{$image['province']}" style="width:60px"/>
                        &nbsp;&nbsp;<input id="imgcity{$image['id']}" name="imgcity{$image['id']}" value="{$image['city']}" style="width:60px"/>
                      </td></tr>
						<tr><td >图片说明：</td></tr>
						<tr><td colspan="2"><textarea id="imageremark{$image['id']}" name="imageremark{$image['id']}" style="height:80px;width:290px">{$image['image_remark']}</textarea></td></tr>
						<tr><td >关键字:</td></tr>
						<tr><td colspan="2"><textarea style="height:60px;width:290px" name="imagekey{$image['id']}" id="imagekey{$image['id']}" >{$image['images_key']}</textarea></td></tr>
						<tr><td>人物姓名：</td>
                        <td><input type="text" name="rwname{$image['id']}" style="width:220px" value="{$image['name']}" /></td></tr>
                        </table>
						<input type="radio" name="txradio{$image['id']}"  <?php if($image['texie']==1) echo "checked=checked"; ?> value="1"/>特写&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="txradio{$image['id']}" <?php if($image['texie']==2) echo "checked=checked"; ?> value="2"/>半身&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="txradio{$image['id']}" <?php if($image['texie']==3) echo "checked=checked"; ?> value="3"/>全身
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="txradio{$image['id']}" <?php if($image['texie']==0) echo "checked=checked"; ?> value="0"/>无<br>

						<input type="radio" name="renradio{$image['id']}"   <?php if($image['ren']==1) echo "checked=checked"; ?> value="1"/>1人&nbsp;&nbsp;
						<input type="radio" name="renradio{$image['id']}"  <?php if($image['ren']==2) echo "checked=checked"; ?> value="2"/>2人&nbsp;&nbsp;
						<input type="radio" name="renradio{$image['id']}"  <?php if($image['ren']==3) echo "checked=checked"; ?> value="3"/>3人&nbsp;&nbsp;
						<input type="radio" name="renradio{$image['id']}"  <?php if($image['texie']==4) echo "checked=checked"; ?> value="4"/>合影
						&nbsp;&nbsp;
						<input type="radio" name="renradio{$image['id']}"  <?php if($image['ren']==0) echo "checked=checked"; ?> value="0"/>无<br>

						<input type="radio" name="htradio{$image['id']}"  <?php if($image['position']==1) echo "checked=checked"; ?> value="1"/>横图&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="htradio{$image['id']}"   <?php if($image['position']==2) echo "checked=checked"; ?> value="2"/>竖图&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="htradio{$image['id']}"   <?php if($image['position']==3) echo "checked=checked"; ?> value="3"/>方图
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="htradio{$image['id']}"   <?php if($image['position']==0) echo "checked=checked"; ?> value="0"/>无<br>
						<iframe src="index.php?g=Admin&m=waitrealsephotoer&a=replaceimage&id={$image['id']}" frameborder=0 height=40px width=310px SCROLLING="NO" ></iframe><br>
						<input type="checkbox" id="check{$id}"/>
                        <input type="button" value="删除" onclick="removeimg({$image['id']})"/>&nbsp;
						<input type="button" value="设为封面" onclick="onsetface({$image['id']})"/>
						<input type="button" <?php 
                        if($image['state']==2) 
                            echo 'value="通过" onclick="onpass('.$image['id'].')"/>';
                        else 
                            echo 'value="不通过" onclick="onnotpass('.$image['id'].')"/>';
                        ?>
						<input type="button" value="合并图片" onclick="oncopyto({$image['id']})"/>
						<img src="./Public/Images/ZUO.jpg" onclick="onImgRotation('0','{$image['id']}')"/>
                         <img src="./Public/Images/YOU.jpg" onclick="onImgRotation('1','{$image['id']}')"/>
                        <br><br>
					</td>
				<?php if( $id % 3==0 && $id>1 ) echo "</tr>"; ?>
			</volist>
		</table>
        <input type="checkbox" id="sall" onclick="selectall()"/>全选
		<input type="button" value="删除图片" onclick="removeall()"/>
		<input type="button" value="删除图组" onclick="delgroup()"/>
		<input type="button" value="保存" onclick="savegroup('0')" />
        <input type="button" value="保存并发布" onclick="savegroup('1')" />
		<input type="button" value="合并图片" onclick="oncopytoall()" />
        <input type="button" value="返回" onclick="javascript:history.go(-1)" />
</form>

<SCRIPT language=javascript defer>
            new PCAS("province","city");
            function chg(obj)
            {
            	if(0 == obj.value)
            	{
            		document.getElementById('tbody').style.display="";
            	}
            	else
            	{
            		document.getElementById('tbody').style.display="none";
            	}
            }
            function chgCountry(obj)
            {
            	if(obj.value == '中国')
            	{
            		document.getElementById('area0').style.display="";
            		document.getElementById('area1').style.display="none";
            	}
            	else
            	{
            		document.getElementById('area0').style.display="none";
                    document.getElementById('area1').style.display="";
            	}
            }
 </SCRIPT>	
