<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
		
		
<!-- 这个界面要做成一个动态的框架  -->
<script type="text/javascript">
    var c = new Calendar("c");
    document.write(c);
</script>

<div id="nav" class="mainnav_title"><div id="lang"></div><ul>
	<a href="index.php?g=Admin&m=Realsephotoer&a=checkgroup&id={$rgid}">发布图组</a>|
	<a href="index.php?g=Admin&m=Realsephotoer&a=photoquery&rgid={$rgid}">摄影师图组</a>|
	<a href="index.php?g=Admin&m=Realsephotoer&a=wait&id={$rgid}">待发布图组</a>|
</div>

<script type="text/javascript">
	function onselectall()
	{
		var ch=document.getElementById("allcheckbox").checked;
		document.getElementById("check_box").checked=ch;
		selectall('ids[]');
	}
	
	function order(filed)
	{
		var f=document.getElementById("orderfiled").value;
		if(f==filed)
		{
			if(document.getElementById("order").value=="")
				document.getElementById("order").value="desc";
			else
				document.getElementById("order").value="";
		}
		else
		{
			document.getElementById("orderfiled").value=filed;
			document.getElementById("order").value="desc";
		}
		document.queryfrm.submit();
	}
</script>
		
<form name="queryfrm" action="{:U('Realsephotoer/photoquery')}" method="POST">	
<input type="text" name="orderfiled" id="orderfiled" value="{$vo['filed']}" style="display:none" />
<input type="text" name="order" id="order" value="{$vo['order']}" style="display:none" />
<table  class="search_table" width="100%">
	<tr>
		<td>
			相片类型: <select name="type">
			<option>时效图片</option>
			<option>资料图片</option>
			</select>
			
			&nbsp;&nbsp;&nbsp;用户名称: 
			<input type="text" name="name" class="input-text" />
			&nbsp;&nbsp;&nbsp;相片组状态: 
			<select name="state">
				<option>等待审核</option>
				<option>正常</option>
				<option>审核不通过</option>
				<option>已删除</option>
				<option>全部</option>
			</select>
			<BR> 
			
			创建时间: 
            <input type="text" name="start_query" onfocus="MyCalendar.SetDate(this)" >
			- <input type="text" name="end_query" onfocus="MyCalendar.SetDate(this)" >
			
			相片组名称: <input type="text" name="group_name" />

			&nbsp;&nbsp;&nbsp;
            <input type="submit" value="查询"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;
            <input type="reset" value="重置" class="button" style="width:60px" />
		</td>
	</tr>
</table>
</form>

<form name="myform" action="{:U('Realsephotoer/checkwithdel')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('id')"><u>ID</u></a></th>
			<th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF" ><a href="#" onclick="order('title')"><u>相片组名称</u></a></th>	
            <th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF" ><a href="#" onclick="order('up_account')"><u>用户名称</u></a></th>
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">相片类型</th>
			<th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">组封面图片</th>
            <th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF" ><a href="#" onclick="order('image_num')"><u>图片数量</th>
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">状态</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="mlist" id="photoer" key="k">
      		<tr>
      		<td align="center" style="border:1px solid #c6c6c6; ">
            <input type="checkbox" name="ids[]" value="{$photoer['id']}" /></td>
			<td align="center" style="border:1px solid #c6c6c6; ">{$photoer['id']}</td>
      		<td style="border:1px solid #c6c6c6; "><a href="?g=admin&m=realsephotoer&a=editphotoergroup&id={$photoer['id']}&rgid={$rgid}"><u><b>{$photoer['title']}</b></u></a></td>
            <td style="border:1px solid #c6c6c6; ">{$photoer['up_account']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$photoer['type']}</td>
			<td align="center" style="border:1px solid #c6c6c6; ">
            <a href="?g=admin&m=realsephotoer&a=editphotoergroup&id={$photoer['id']}&rgid={$rgid}"><u><b>
			<img src="{$photoer['main_url']}" style="max_width:100px;height:50px;" /></b></u></a>
			</td>
            <td style="border:1px solid #c6c6c6; ">{$photoer['image_num']}</td>
      		<td style="border:1px solid #c6c6c6; ">
            <?php 
            	if($photoer['check_state']==0) 
                	echo '<img src="./Public/Images/write.jpg" />'; //待审核
             	else if($photoer['check_state']==1) 
                	echo '<img src="./Public/Images/yellow.jpg" />'; //部分通过
                else if($photoer['check_state']==2) 
                	echo '<img src="./Public/Images/green.jpg" />'; //全部通过
                else if($photoer['check_state']==3) 
                	echo '<img src="./Public/Images/red.jpg" />'; //全部不通过
             ?>
            </td>      		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  	<input type="checkbox" id="allcheckbox" onclick="onselectall()"/>全选
    <input type="submit" class="button" name="notchecked" value="审核不通过" />
    <input type="submit" class="button" name="delchecked" value="删除图组" />
</div>
</form>

<div id="pages" class="page">{$page}</div>



