<include file="Admin:header" />

<load href="./Public/Js/jquery.min.js"/>
<load href="./Public/Js/jquery.validate.js"/>
<load href="./Public/Js/artDialog.min.js"/>
<load href="./Public/Js/jquery.form.js"/>

<div id="nav" class="mainnav_title"><div id="lang"></div><ul>
	<a href="index.php?g=Admin&m=Realsephotoer&a=checkgroup&id={$rgid}">发布图组</a>|
	<a href="index.php?g=Admin&m=Realsephotoer&a=photoquery&rgid={$rgid}">摄影师图组</a>|
	<a href="index.php?g=Admin&m=Realsephotoer&a=wait&id={$rgid}">待发布图组</a>|
</ul></div>

<style >
	.imagetd{width:300px;
				height:300px;
				border:1px solid #666;
				vertical-align:middle;
	}
	
	.stable{ 
			color:#00C;
	}

</style>

<script language="javascript">

	function selectall() //全选/全不选
	{
		var bIsSelect=document.getElementById("sall").checked;
		for(i=1;i<20;i++)
		{
			var sid="check"+i;
			document.getElementById(sid).checked=bIsSelect;
		}
	}
	
	//复制所有选择图片
	function copyall()
	{
		//找出所有选择的图片
		var cnt=document.getElementById("imagenum").value;
		var ids="";
		for(i=1;i<=parseInt(cnt);i++)
		{
			var sid="check"+i;
			if( document.getElementById(sid).checked )
			{
				sid="imagespan"+i;
				var imageid=document.getElementById(sid).innerHTML;
				ids=ids+imageid+",";
			}
		}
		document.getElementById("copyid").value=ids;
		document.getElementById("cpsubmit").click(); //提交复制
	}
	
	//审核不通过
	function checknotpass()
	{
		var cnt=document.getElementById("imagenum").value;
		var ids="";
		for(i=1;i<=parseInt(cnt);i++)
		{
			var sid="check"+i;
			if( document.getElementById(sid).checked )
			{
				sid="imagespan"+i;
				var imageid=document.getElementById(sid).innerHTML;
				ids=ids+imageid+",";
			}
		}
		document.getElementById("nopassid").value=ids;
		document.getElementById("notpasssubmit").click(); //提交
	}
	
	function checksingenotpass(id)
	{
		document.getElementById("nopassid").value=id;
		document.getElementById("notpasssubmit").click(); //提交
	}
	
	function oncreategroup()
	{
		if( confirm("是否确认创建新的编辑图组？如果已在编辑的图组没保存将被覆盖.") )
		{
			//提交
			//document.myform.submit();
			return true;
		}
		return false;
	}
	
	//复制单个图片
	function copyimage(id)
	{
		document.getElementById("copyid").value=id;
		document.getElementById("cpsubmit").click();
	}
	
	$(function(){
	$('#copyform').ajaxForm({
	success:    completecopy,  // post-submit callback
	dataType: 'json'
	});
	});
	
	$(function(){
	$('#form1').ajaxForm({
		beforeSend: oncreategroup,
		success:    complete,  // post-submit callback
		dataType: 'json'
	});
	});
	
	$(function(){
	$('#notpassfrm').ajaxForm({
	success:    completenopass,  // post-submit callback
	dataType: 'json'
	});
	});
	
	function complete(data){
        if (data.status==1)
        {
			alert('创建成功');
        }else{
            alert('创建失败');
        }
	}
	
	function completecopy(data){
        if (data.status==1)
        {
			alert('复制成功');
        }else{
            alert('复制失败,原因：'+data.info);
        }
	}
	
	//审核不通过
	function completenopass(data){
		if (data.status==1)
        {
			alert('审核成功');
        }else{
            alert('审核失败,原因：'+data.info);
        }
	}

</script>



	<input type="text" name="groupid" style="display:none" value="{$vo['id']}" />
    <table   width="100%">
        <tr>
            <td>图组分类:</td>
            <td><input type="text" style="width:180px" value="{$vo['type']}" /></td>
            <td>地点:</td>
            <td><input type="text" style="width:180px" name="city" value="{$vo['city']}" /></td>
            <!--<td><input type="submit" value="创建编辑图组"  />-->
        </tr>
        <tr>
            <td>拍摄时间:</td>
            <td>{$vo['photo_date']}</td> 
            <td>创建时间:</td>
            <td><?php echo date('Y-m-d',$vo['up_time']); ?></td>
            <!--<td style="width:52px">编辑时间:</td>
            <td>{$vo['edittime']}</td>!-->
        </tr>
    </table>

    <br>
    <table>
        <tr>
        <td>图组标题:</td>
        <td><input type="text" name="gtitle" style="width:760px" value="{$vo['title']}" /></td></tr>
        <tr><td>关键字:</td>
        <td><input type="text" name="gkey" style="width:760px" value="{$vo['key']}" /></td></tr>
        <tr><td>图组说明:</td>
        <td><textarea name="gremark" style="width:750px;height:80px">{$vo['remark']}</textarea></td></tr>
    </table>

    <!--隐藏的form 只提交 复制图片 -->
    <form name="copyform" id="copyform" action="{:U('realsephotoer/copyimage')}" method="POST">
        <input type="text" name="rgid" id="rgid" value="{$rgid}" style="display:none"/>
        <input type="text" name="copyid" id="copyid" style="display:none" />
        <input type="text" name="imagenum" id="imagenum" value="<?php echo count($imagelist); ?>" style="display:none" />
		<input type="submit" id="cpsubmit" style="display:none"/>
</form>

<!--审核不通过的form-->
<form name="notpassfrm" id="notpassfrm" action="{:U('realsephotoer/checknotpass')}" method="POST">
	<input type="text" name="nopassid" id="nopassid" style="display:none" />
    <input type="submit" id="notpasssubmit" style="display:none"/>
</form>

<!-- 加载图像 -->
<table class="stable">
	<volist name="imagelist" id="image" key="id">
		<?php if( ($id-1)%3==0 ) echo "<tr>"; ?>
		<td>
			<table>
				<tr><td colspan="2">图片编号：<span id="imagespan{$id}">{$image['id']}</span></td></tr>
				<tr><td>
                <div class="imagetd" align="center">
                <img src="{$image.big_url}" id="imageid{$image['id']}" style="max-width:290px;max-height:290px; vertical-align:middle; padding-top:5px" /></div></td></tr>
                
            </table>
                        
			<table>
			<tr><td style="font-size:15px">上传时间：</td><td style="font-size:16px"><?php echo date('Y-m-d',$image['createtime']); ?></td></tr>
			<tr><td style="font-size:15px">拍摄时间：</td><td style="font-size:16px">{$vo['photo_date']}</td></tr>
			<tr><td style="font-size:15px">状态：</td><td>
            <?php
            	if( $image['check_state']==0 ) //未审核
                	echo '<img src="./Public/Images/write.jpg" />';
                else if( $image['check_state']==1 ) //审核通过
                	echo '<img src="./Public/Images/green.jpg" />';
                else if( $image['check_state']==2 ) //审核不通过
                	echo '<img src="./Public/Images/red.jpg" />';  
            ?>
            </td></tr>
			<!--<tr><td style="font-size:15px">价格：</td><td style="font-size:16px">{$image['point']}</td></tr>-->
			<tr><td style="font-size:15px">图片说明：</td></tr>
			<tr><td colspan="2"><textarea style="height:80px;width:270px">{$image['remark']}</textarea></td></tr>
			<tr><td style="font-size:15px">关键字:</td></tr>
            <tr><td colspan="2"><textarea style="height:60px;width:270px">{$image['key']}</textarea></td></tr>
			</table>
			<input type="checkbox" id="check{$id}" /><input type="button" value="复制" onclick="copyimage({$image['id']})"/>&nbsp;
			<input type="button" value="不通过" onclick="checksingenotpass({$image['id']}) "/>
		</td>
		<?php if( $id % 3==0 && $id>1 ) echo "</tr>"; ?>
	</volist>
</table>	
<input type="checkbox" id="sall" onclick="selectall()"/>全选
<input type="button" value="复制图片" onclick="copyall()"/>
<input type="button" value="审核不通过" onclick="checknotpass()" />
<a href="{:U('Realsephotoer/query')}" >
<input type="button" value="返回" onclick="document.location.href='{:U('Realsephotoer/photoquery')}'"/>	</a>						
</table>