<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>

<load href="./Public/Js/jquery.min.js"/>
<load href="./Public/Js/jquery.validate.js"/>
<load href="./Public/Js/artDialog.min.js"/>
<load href="./Public/Js/jquery.form.js"/>

<div id="nav" class="mainnav_title"><div id="lang"></div><ul>
	<a href="index.php?g=Admin&m=Realsephotoer&a=checkgroup&id={$vo['id']}">发布图组</a>|
	<a href="index.php?g=Admin&m=PhotoerImageGroup&a=query&rgid={$vo['id']}">摄影师图组</a>|
	<a href="index.php?g=Admin&m=waitrealsephotoer&a=index&id={$vo['id']}">待发布图组</a>|
</div>

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>

<load href='./Public/Css/seltype.css' />

<style >
	.imagetd{width:300px;
				height:300px;
				border:1px solid #666;
	}
	
	.stable{ 
			color:#00C;
	}
	
	.keydiv{ position:absolute;
	border:1px solid #666;;
	left:290px;
	top:83px;
	width:300px;
	display:none;
	background:#99C;
	};

</style>


	<!--添加三个隐藏的文本框记录选择的类型 -->
    <table>
        <tr>
		<td style="width:70px">审核时间:</td>
		<td>{$vo.check_time|date="Y-m-d H:i:s",###}</td>
		<td>拍摄地区：{$vo.country} {$vo.province} {$vo.city}</td>
		</tr>

       <tr>
        <td>类别:</td>
        <td>
        {$vo.type_one_name} {$vo.type_two_name} {$vo.type_three_name}
        </td>
		</tr>

        <tr>
		<td>图组标题:</td><td colspan="8">{$vo.title}</td></tr>
        <tr>
		<td>图组说明:</td><td colspan="8"><textarea name="gremark" style="width:850px;height:100px" readonly>{$vo['remark']}</textarea></td></tr>
      </table>
        
		
		<!-- 加载图像 -->
		<table class="stable">
			<volist name="imglist" id="image" key="id">
				<?php if( $id-1%3==0 ) echo "<tr>"; ?>
					<td>
                    	<table>
						<tr><td colspan="2">图片编号：<span id="imagespan{$id}">{$image['id']}</span></td></tr>
						<tr><td>
                        <div class="imagetd" align="center">
                		<a href="{$image.url}" target=_blank><img src="{:getPicUrl($image['url'],$image['userid'],$image['up_time'],1)}" style="max-width:290px;max-height:290px;vertical-align:middle;line-height:290px; padding-top:5px" /></a></div></td></tr>
            			</table>
                       
                       	<table>
						<tr><td >上传时间：</td><td>
                        <?php echo date('Y-m-d h:i:s',$image['up_time']); ?></td></tr>
						<tr><td >审核时间：</td><td><?php echo date('Y-m-d h:i:s',$image['check_time']); ?></td></tr>
						<tr><td >是否封面：</td>
                        <td ><?php if($image['url']==$vo['main_url']) echo "封面图片"; else echo "否"; ?></td></tr>
                        <tr><td>地区:</td>
                        <td>
                       {$images.country} {$images.province} {$images.city}
                      </td></tr>
						<tr><td >图片说明：</td></tr>
						<tr><td colspan="2"><textarea id="imageremark{$image['id']}" name="imageremark{$image['id']}" style="height:80px;width:290px" readonly>{$image['remark']}</textarea></td></tr>
						<tr><td >关键词:</td></tr>
						<tr><td colspan="2"><textarea style="height:60px;width:290px" name="imagekey{$image['id']}" id="imagekey{$image['id']}" readonly>{$image['images_key']}</textarea></td></tr>
                        </table>
					</td>
				<?php if( $id % 3==0 && $id>1 ) echo "</tr>"; ?>
			</volist>
		</table>
</form>
