<include file="Admin:header" />


<form action="" method="POST" >
<table>
	<tr><td>相片组名称:</td>
    </tr>
    <tr><td>相片组标题:</td>
    <td><input type="text" name="title" id="title" /></td>
    </tr>
    <tr><td>支付点数:</td>
    <td><input type="text" name="point" id="point" /></td>
    </tr>
    <tr>
    <td>图片:</td>
    <td><input type="file" /></td>
    </tr>
    <tr>
    <td>添加图片关键字:</td>
    <td><textarea name="key" id="key" ></textarea></td>
    </tr>
    <tr>
    <td>图片说明:</td>
     <td><textarea name="remark" id="remark" ></textarea></td>
    </tr>
    </table>
    <input type="submit" value="提交" />
    <input type="button" value="返回" />
</form>