<include file="Admin:header" />

<load href="__PUBLIC__/Js/calendar2.js"/>
<load href="__PUBLIC__/Js/pcasunzip.js"/>
<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>
<div id="nav" class="mainnav_title">
<div id="lang"></div><ul>
<a href="index.php?g=Admin&m=PhotoerImageGroup&a=query&edit_id={$edit_id}">摄影师图组</a>|
    <a href="index.php?g=Admin&m=waitrealsephotoer&a=index&edit_id={$edit_id}">待发布图组</a>|
    <a href="index.php?g=Admin&m=PhotoerImageGroup&a=editgroup&edit_id={$edit_id}">编辑图组</a>|{$edit_group_msg}</ul>
    </div>
<script type="text/javascript">
	
	function onselectall()
	{
		var ch=document.getElementById("allcheck").checked;
		document.getElementById("check_box").checked=ch;
		selectall('ids[]');
	}
	
	function order(filed)
	{
		var f=document.getElementById("orderfiled").value;
		if(f==filed)
		{
			if(document.getElementById("order").value=="")
				document.getElementById("order").value="desc";
			else
				document.getElementById("order").value="";
		}
		else
		{
			document.getElementById("orderfiled").value=filed;
			document.getElementById("order").value="desc";
		}
		document.queryfrm.submit();
	}
</script>

<table  class="search_table" width="100%">
	<tr>
		<td>
			<form name="queryfrm" action="{:U('realsephotoer/index',array('edit_id'=>$edit_id))}" method="POST">
            
            <input type="text" name="orderfiled" id="orderfiled" value="{$vo['filed']}" style="display:none" />
			<input type="text" name="order" id="order" value="{$vo['order']}" style="display:none" />
			
			图组类型: <select name="type">
			<option value="0">全部</option>
			<option value="10000">新闻图片</option>
			<option value="20000">创意图片</option>
            <option value="30000">摄影专题</option>
			<option value="40000">素材图片</option>
			</select>
			
			<input type="text" name="typeid" id="typeid" style="display:none" />
			
			&nbsp;&nbsp;&nbsp;用户名称:
			<input type="text" name="username" class="input-text" />
			图组名称: <input type="text" name="group_name" />
			
            &nbsp;&nbsp;&nbsp;图组状态: 
			<select name="state">
            	<option value="3" >正常</option>
				<option value="4" >>审核不通过</option>
				<option value="200" >已删除</option>
				<option value="0" >全部</option>
			</select>
			<BR> 
			
			创建时间<input  class="Wdate input-text"  validate=" required:true"   name="start_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  />
			- <input  class="Wdate input-text"  validate=" required:true"   name="end_query" type="text" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"  />
			
			&nbsp;&nbsp;&nbsp;<input type="submit" value="搜索"  class="button" style="width:60px" />
			&nbsp;&nbsp;&nbsp;<input type="reset" value="重置" class="button" style="width:60px" />
		
			</form>
		</td>
		
	</tr>
</table>

<form name="myform" action="{:U('realsephotoer/checkwithdel',array('edit_id'=>$edit_id))}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
        <thead>
      		<tr>
      		<th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF">
            <input type="checkbox"  id="check_box"  onclick="selectall('ids[]')" /></th>
			<th width="40" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('id')"><u>ID</u></th>
			<th width="380" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('title')"><u>图组名称</u></a></th>	

			<th width="100" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('photo_date')"><u>创建日期</u></a></th>
			<th width="100" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('city')"><u>拍摄地点</u></a></th>


			<th width="150" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('type_one_name')"><u>图组类型</u></a></th>
			<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">图片组</th>
            <th width="60" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('image_count')"><u>数量</u></a></th>
			<th width="80" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('check_oper')"><u>用户名</u></a></th>
      		<th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">
            <a href="#" onclick="order('check_time')"><u>审核时间</u></a></th>
      		<th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">操作</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="glist" id="group" key="k">
      		<tr>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <input type="checkbox" name="ids[]" value="{$group['id']}"  /></td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['id']}</td>
			<td align="left" style="border:1px solid #c6c6c6; ">
            <a href="{:U('Photoerimagegroup/editongroup',array('groupid'=>$group['id'],'edit_id'=>$edit_id))}"><u><b>
            {$group['title']}</b></u></a>
            </td>

			<td align="left" style="border:1px solid #c6c6c6; "><?php echo date('Y-m-d',$group['photo_date']); ?></td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['city']}</td>

			<td align="left" style="border:1px solid #c6c6c6; ">
            <?php
            if( strlen($group['type_two_name'])>0 )
             echo $group['type_two_name'].'->'.$group['type_one_name'];
            else
             echo $group['type_one_name'];
            ?>
            </td>
			<td align="center" style="border:1px solid #c6c6c6; ">
            	<a href="{:U('Photoerimagegroup/editongroup',array('groupid'=>$group['id'],'edit_id'=>$edit_id))}"><u><b>
				<img src="{:getPicUrl($group['main_url'],$group['main_url_userid'],$group['main_url_date'])}" style="max-width:100px;height:50px;"  />
                </b></u></a>
			</td>
			<td align="left" style="border:1px solid #c6c6c6; ">{$group['image_count']}</td>
            <td align="left" style="border:1px solid #c6c6c6; ">{$group['check_oper']}</td>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <?php echo date('Y-m-d h:i:s',$group['check_time']); ?></td>
      		<td align="left" style="border:1px solid #c6c6c6; ">
            <p><a href="{:U('RealsePhotoer/add24hot',array('id'=>$group['id']))}"><eq name="is_24hot" value="1">取消<else />设置</eq>24热图</a></p>
            <p><a href="{:U('Hotphotogroup/add',array('gid'=>$group['id']))}">设为热图</a></p>
            <p><a href="{:U('Mainpicture/update',array('gid'=>$group['id']))}">设为广告</a></p>
            </td>
			</tr>
      		</volist>
      	</tbody>
    </table>
  	<input type="checkbox" id="allcheck" onclick="onselectall()" />全选
    <input type="submit" class="button" name="notchecked" value="重新编辑" />
     <!--<input type="submit" class="button" name="checked" value="审核通过" />
   <input type="button" class="button" name="delchecked" value="删除图组" />-->
</div>
</form>

<div id="pages" class="page">{$page}</div>

