<include file="Admin:header" />

<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">新闻类型管理</strong>
 <img src="../Public/images/heixian.jpg" />
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('Request/new_type')}" method="POST">

			类型名称: <input type="text" name="key" />

			<input type="submit" value="搜素"  class="button" />
			</form>
		</td>
	</tr>
</table>

<form name="myform" action="{:U('Request/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">编号ID</th>
			<th width="180" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">类型名称</th>	
			<th width="180" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">添加新闻</th>	
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">删除</th>
      		</tr>
      	</thead>
      	<tbody>
      		
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$tuijian['id']}" /></td>
			<td align="center">9</td>
      		<td align="left">联系我们</td>
      		
			<td align="left"><a href="{:U('Request/addnew',array(id=>$tuijian['id']))}">添加新闻</td>
			<td align="left"><a href="{:U('Request/edit',array(id=>$tuijian['id']))}">删除</td>
      		  		   		
      		</tr>
      		
      	</tbody>
    </table>
   <input type="checkbox" name="quanxuan" id="check_box"  onclick="selectall('ids[]');" /> 全选</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="submit" class="button" name="dosubmit" value="<?php echo '删除所选'?>" />
</div>
</form>