<include file="Admin:header" />

<img src="../Public/images/userphoto.jpg"><strong style="font-size:16px">新闻管理</strong>
 <img src="../Public/images/heixian.jpg" />
<table  class="search_table" width="100%">
	<tr>
		<td>
			<form action="{:U('Request/new_management')}" method="POST">
			 &nbsp<strong>新闻类型:</strong> <select name='state'>
			<option>数码</option>
			<option>需求空间</option>
			<option>搜素指南</option>
            <option>公告</option>
            <option>版权声明</option>
			</select>
			 &nbsp<strong>新闻名称:</strong> <input type="text" name="key" />

			<input type="submit" value="搜素"  class="button" />
			</form>
		</td>
	</tr>
</table>

<form name="myform" action="{:U('Request/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">编号ID</th>
			<th width="180" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">新闻标题</th>	
			<th width="180" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">新闻类型名称</th>	
			<th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">添加人数</th>
            <th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">显示位置</th>
            <th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">首页显示</th>
            <th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">状态</th>
            <th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">修改新闻</th>
            <th width="110" align="left" style="border:1px solid #c6c6c6; background:#7898A7; color:#FFF">删除</th>
      		</tr>
      	</thead>
      	<tbody>
      		
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$tuijian['id']}" /></td>
			<td align="center">57</td>
      		<td align="left">10月2日晚服务器维护</td>
      		
			<td align="left">公告</td>
			<td align="left">金毅</td>
            <td align="left">100</td>
            <td align="left">首页</td>
            <td align="left">热门</td>
            <td align="left"><a href="{:U('Request/edit',array(id=>$tuijian['id']))}">修改新闻</td>
			<td align="left"><a href="{:U('Request/edit',array(id=>$tuijian['id']))}">删除</td>
            
      		  		   		
      		</tr>
      		
      	</tbody>
    </table>
   <input type="checkbox" name="quanxuan" id="check_box"  onclick="selectall('ids[]');" /> 全选</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="submit" class="button" name="0submit" value="删除所选"/>
    <input type="submit" class="button" name="1submit" value="审核通过"/>
    <input type="submit" class="button" name="2submit" value="首页显示"/>
</div>
</form>