<include file="Admin:header" />


<form action="{:U('Role/update')}" method="POST">
    <input type="text" name="roleid" id="roleid" value="{$vo['roleid']}" style="display:none" />
    <div class="table-list" />
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
            <th width="100" align="left"><input type="checkbox" id="check_box" name="check_box" onclick="selectall('ids[]')" /></th>
			<th width="100" align="left">ID</th>
			<th align="left">权限名称</th>
      		</tr>
      	</thead>
      	<tbody>
      		<?php
      			$menu=M('menu');
                $list=$menu->select();
                for($i=0;$i<count($list);$i++)
                {
                	//一级菜单
                	if( $list[$i]['parentid']==0 )
                    {
                        echo '<tr><td><input type="checkbox" id="ids[]" name="ids[]"';
                        echo ' value="'.$list[$i]['id'].'"';
                        if( in_array($list[$i]['id'],$vlist) )
                        	echo ' checked="checked" ';
                        echo '/></td>';
                        echo '<td>'.$list[$i]['id'].'</td>';
                        echo '<td>'.$list[$i]['name'].'</td></tr>';
                        
                        //二级菜单
                        for($j=0;$j<count($list);$j++)
                        {
                        	if( $list[$j]['parentid']==$list[$i]['id'] )
                            {
                            	echo '<tr><td>';
                                echo '<input type="checkbox" id="ids[]" name="ids[]" ';
                                echo ' value="'.$list[$j]['id'].'"';
                                if( in_array($list[$j]['id'],$vlist) )
                        			echo ' checked="checked" ';
                                echo '/></td>';
                                echo '<td>'.$list[$j]['id'].'</td>';
                                echo '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├─';
                                echo $list[$j]['name'].'</td></tr>';
                                
                                
                                //三级菜单
                                for($m=0;$m<count($list);$m++)
                        		{
                                	if($list[$m]['parentid']==$list[$j]['id'] )
                           			{
                                	echo '<tr><td>';
                                    echo '<input type="checkbox" id="ids[]" name="ids[]" ';
                                    echo ' value="'.$list[$m]['id'].'"';
                                    if( in_array($list[$m]['id'],$vlist) )
                        				echo ' checked="checked" ';
                                	echo '/></td>';
                                     
                                    echo '<td>'.$list[$m]['id'].'</td>';
                                    echo '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└─ ';
                                    echo $list[$m]['name'].'</td></tr>';
                                    
                                    }
                            	}
                            }
                        }
                    }
                }
            ?>
        </tbody>
    </table>
    </div>
     <input type="submit" value="保存" style="width:80px" />
</form>
