<include file="Admin:header" />
<script>
function openwin(url,title,width,height){
	art.dialog.open(url, {
			id: 'license',
			title: title,
			lock: 'true',
			window: 'top',
			width: width,
			height: height,
			yesFn: function(iframeWin, topWin){
					iframeWin.document.getElementById('myform').submit();
					return false;

			},
			noFn: function(){}
		}
	);
}
</script>
<br>
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
			<th width="40">ID</th>
			<th align="left">角色名称</th>
			<th align="left">说明</th>
			<th width="60">状态</th>
			<th width="220">权限管理</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="list" id="role" key="k">
      		<tr>
			<td align="center">{$role['id']}</td>
      		<td>{$role['name']}</td>
      		<td>{$role['remark']}</td>
			<td align="center">
      		<eq name="role['status']" value="1">
      		{:L('enable')}
      		<else />
      		{:L('disable')}
      		</eq>
      		</td>
      		<td align="center">
			<a href="{:U('Role/query',array(id=>$role['id']))}"><u><b>修改权限</b></u></a> 
      		</td>
      		</tr>
      		</volist>
      	</tbody>
      	</table>
</div>

