<include file="Admin:header" />

<script type="text/javascript">
	//
	function selecttype(seq,id,name)
	{
		if(seq==1)
		{
			document.getElementById("typeoneid").value=id;
			document.getElementById("stypeone").innerHTML=name;
		}
		else if(seq==2)
		{
			document.getElementById("typetwoid").value=id;
			document.getElementById("stypetwo").innerHTML=name;
		}
		else if(seq==3)
		{
			document.getElementById("typethreeid").value=id;
			document.getElementById("stypethree").innerHTML=name;
		}
	}
</script>

<form action="{:U('Topicimagegroup/newtopic')}" method="POST">
	<input name="typeoneid" id="typeoneid" value="{$vo['type_one']}" style="display:none" />
    <input name="typetwoid" id="typetwoid" value="{$vo['type_two']}" style="display:none" />
    <input name="typethreeid" id="typethreeid" value="{$vo['type_three']}" style="display:none" />
	<include file="Admin:menutype" />
	<table>
	<tr><td>专题图组标题:</td>
    <td colspan="5"><input name="title" style="width:600px"/></td></tr>
	<tr><td>专题图组说明:</td>
	<td colspan="5"><textarea name="remark"  style="width:600px;height:200px"></textarea></td></tr>
	<tr><td><input type="submit" value="保存"/></td></tr>
    </table>
</form>