<include file="Admin:header" />

<load href='./Public/Css/seltype.css' />

<div id="nav" class="mainnav_title"><div id="lang"></div><ul><a href="/index.php?g=Admin&m=Topicimagegroup&a=query&id={$vo['id']}">发布图组</a>|
	<a href="/index.php?g=Admin&m=Topicimagegroup&a=editgroup&id={$vo['id']}">专题图组</a>|</ul>
</div>

<script type="text/javascript">
	//
	function selecttype(seq,id,name)
	{
		if(seq==1)
		{
			document.getElementById("typeoneid").value=id;
			document.getElementById("stypeone").innerHTML=name;
		}
		else if(seq==2)
		{
			document.getElementById("typetwoid").value=id;
			document.getElementById("stypetwo").innerHTML=name;
		}
		else if(seq==3)
		{
			document.getElementById("typethreeid").value=id;
			document.getElementById("stypethree").innerHTML=name;
		}
	}
</script>

<form name="groupfrm" id="groupfrm" action="{:U('Topicimagegroup/savegroupinfo',array(id=>$vo['id']))}" method="POST">
	<!--添加三个隐藏的文本框记录选择的类型 -->
    <input name="typeoneid" id="typeoneid" value="{$vo['type_one']}" style="display:none" />
    <input name="typetwoid" id="typetwoid" value="{$vo['type_two']}" style="display:none" />
    <input name="typethreeid" id="typethreeid" value="{$vo['type_three']}" style="display:none" />
	<include file="Admin:menutype" />
    <table>
        <tr><td>专题图组标题:</td>
        <td colspan="5"><input name="title" style="width:600px" value="{$vo['title']}"/></td></tr>
        <tr><td>专题图组说明:</td>
        <td colspan="5"><textarea name="remark" style="width:600px;height:200px">{$vo['remark']}</textarea></td></tr>
        <tr><td><input type="submit" value="保存图组信息"/></td></tr>
        </table>
   </form>

	<!-- 专题编辑 -->
    <form name="myform" action="{:U('Topicimagegroup/deletegroup',array(id=>$vo['id']))}" method="post">
    <div class="table-list">
        <table width="100%" cellspacing="0" style="border-collapse: collapse;">
            <thead>
                <tr>
                <th width="20" style="background:#7898A7;border:1px solid #c6c6c6; color:#FFF"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
                <th width="40" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">ID</th>
                <th width="180" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">图组标题</th>	
                <th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">图组类型</th>
                <th width="110" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">图片</th>
                <th width="120" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">用户名</th>
                <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">状态</th>
                <th width="90" align="left" style="background:#7898A7;border:1px solid #c6c6c6;color:#FFF">封面</th>
                </tr>
            </thead>
            <tbody>
                <volist name="tlist" id="group" key="k">
                <tr>
                <td align="center" style="border:1px solid #c6c6c6; ">
                <input type="checkbox" name="ids[]" value="{$group['id']}"/></td>
                <td align="center" style="border:1px solid #c6c6c6; ">{$group['id']}</td>
                <td style="border:1px solid #c6c6c6; ">{$group['title']}</td>
                <td align="left" style="border:1px solid #c6c6c6; ">{$group['type_one_name']}</td>
                <td align="center" style="border:1px solid #c6c6c6; ">
				<img src="{$group['main_url']}" style="max_width:100px;height:50px;"  />
				</td>
                <td style="border:1px solid #c6c6c6; ">{$group['up_account']}</td>
                <td align="center" style="border:1px solid #c6c6c6; ">
                <?php
                    if($group['state']==0) 
                        echo '<img src="./Public/Images/write.jpg" title="待审核" />'; //待审核
                    else if($group['state']==1) 
                        echo '<img src="./Public/Images/green.jpg" title="已审核" />'; //全部通过
                    else if($group['state']==2) 
                        echo '<img src="./Public/Images/red.jpg" title="审核不通过" />'; //全部不通过
                    else if($group['state']==4) 
                        echo '<img src="./Public/Images/yellow.jpg" title="部分审核" />'; //部分通过
                        
                ?>
                </td>
                
                <td style="border:1px solid #c6c6c6; ">
                <?php 
                	if( $group['main_url']==$vo['main_url'] )
                    {
                    	echo '<a href="?g=admin&m=Topicimagegroup&a=cancelface&t='.$vo['id'].'&gid='.$group['id'].'">'; 
                        echo '<u>取消封面</u></a>';
                    }
                    else
                    {
                    	echo '<a href="?g=admin&m=Topicimagegroup&a=setface&t='.$vo['id'].'&gid='.$group['id'].'">'; 
                        echo '<u>设置封面</u></a>';
                    }    
                ?>
                </td>		
                </tr>
                </volist>
            </tbody>
        </table>
        <input type="checkbox" id="allcheck" onclick="selectall('ids[]')" />全选
        <input type="submit" class="button"  value="移除" />
    </div>
    </form>
    
    <div id="pages" class="page">{$page}</div>