﻿<form name="replacefrm" id="replacefrm" action="{:U('waitrealsephotoer/subreplaceimage')}" enctype="multipart/form-data" method="POST" style="font-size:12px">
	<input type="text" id="rimageid" name="rimageid" value="{$vo['id']}" style="display:none" />
	替换:<input type="file" id="file" name="file" style="font-size:12px" />
	<input type="submit" value="替换" style="font-size:12px" />
</form>