<include file="Admin:header" />

<load href="./Public/Js/jquery.min.js"/>
<load href="./Public/Js/jquery.validate.js"/>
<load href="./Public/Js/artDialog.min.js"/>
<load href="./Public/Js/jquery.form.js"/>

<div id="nav" class="mainnav_title">
<ul>
<a href="{:U('ZhuanTi/addgroup',array('groupid'=>$groupid,'edit_id'=>$edit_id))}">增加图组</a></ul>
</ul>
</div>
<style >
    .imagetd{width:300px;
                height:300px;
                line-height:300px;
                border:1px solid #666;
                vertical-align:middle;
                overflow:hidden;
                position:relative;
                text-align:center;
    }
    
    div p {
      position:static;
      +position:absolute;
      top:50%;
      vertical-align:middle
    }
    
    .stable{ 
            color:#00C;
    }

</style>


<table width="98%">
    <tr>
        <td >创建时间:</td>
        <td><?php echo date('Y-m-d h:i:s',$vo['up_time']); ?></td>
    </tr>
</table>


<br><br>
<form id="mainfrm" name="mainfrm" action="{:U('ZhuanTi/update')}" method="POST" >
    <!--添加三个隐藏的文本框记录选择的类型 -->
    <input type="hidden" name="groupid"  value="{$groupid}" />
    <input type="hidden" name="typeoneid" id="typeoneid" value="{$vo['type_one']}" />
    <input type="hidden" name="typetwoid" id="typetwoid" value="{$vo['type_two']}" />
    <input type="hidden" name="typethreeid" id="typethreeid" value="{$vo['type_three']}" />
    <include file="Admin:menutype" />
    <table>
        <tr>
        <td>图组标题:</td><td colspan="8"><input type="text" name="gtitle" value="{$vo['title']}" style="width:850px"/></td></tr>
        <tr>
        <td>图组说明:</td><td colspan="8"><textarea name="gremark" style="width:850px;height:100px">{$vo['remark']}</textarea></td></tr>
        <tr>
        <td colspan=2><input type="submit" name="保存" /></td>
        </tr>
      </table>
</form>
<!-- 加载图像 -->
<form action="{:U('ZhuanTi/delgroup')}" method="POST" >
<input type="hidden" value="{$groupid}" />
<table class="stable">
    
        <tr>
        <volist name="imagelist" id="image" key="id">
        <td>
            <table>
                <tr><td colspan="2">图组编号：<span id="imagespan{$id}">{$image['id']}</span></td></tr>
                <tr><td>
                <div class="imagetd" align="center">
                 <img src="{:getPicUrl($image['url'],$image['userid'],$image['up_time'],1)}" style="max-width:290px;max-height:290px;vertical-align:middle;line-height:290px; padding-top:5px" />
                 </div></td></tr>
                 
             </table>
              
            <table>          
            <tr><td>图组标题：</td><td>{$vo.title}</td></tr>
            </table>
            <input type="checkbox" name="ids[]" value="{$image['id']}" />
            <input type="button" value="删除图组" onclick="window.location.href='{:U('ZhuanTi/delgroup',array('groupid'=>$groupid,'ids'=>$images['id']))}';"/>
            <input type="button" value="编辑图组" onclick="window.location.href='{:U('Group/edit',array('edit_id'=>$images['id']))}';" />
            <input type="button" value="设置封面" onclick="window.location.href='{:U('ZhuanTi/setface',array('groupid'=>$groupid,'ids'=>$images['id']))}';" />
        </td>
        
        <?php if( $id % 3==0 && $id>=1 ) echo "</tr><tr>"; ?>
    </volist>
    </tr>
</table>    
<input type="checkbox" onclick="chkall()"/>全选
<input type="submit" value="删除图组"/>
<input type="button" value="删除专题" onclick="window.location.href='{:U('ZhuanTi/del',array('groupid'=>$groupid))}';"/>
<eq name="vo.state" value="1">
<input type="button" value="发布" onclick="window.location.href='{:U('ZhuanTi/send',array('groupid'=>$groupid))}';"/>
</eq>
<input type="button" value="返回" onclick="window.location.href='{:U('ZhuanTi/index')}';"/>                   
</table>