<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->

<!--图片/图组头部Menu begin-->
<include file="Public:top_menu" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<!--高级搜索头部Menu begin-->
<include file="Public:top_search" />
<!--高级搜索头部Menu end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft"><a href="{:U('Home-Index/index')}">首页</a> > 版权声明</div>
<div class="navCenter">&nbsp; <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->

<!--content begin-->
<div id="content">
<!--left begin-->
<include file="Public:left" />
<!--left end-->

<!--right begin-->
<div id="right">
<div class="products">
<p><h1 align="center">版权声明</h1></p>
<br>
<br>
<div style="line-height:30px;font-size:13px">
<P>版权所有<BR>本网站及本图片库归杭州华鸣文化创意有限公司所有。<BR>本网站及本图片库上所有标注信息或显示内容，包括但不限于摄影图片、影视素材、文本、数据、声音、插图、软件以及相应的排版设计，其所有权及著作权均归杭州华鸣文化创意有限公司所有。<BR>华鸣文化创意有限公司的著作权受到《中华人民共和国著作权法》及中国参与缔结的国际公约的保护，除非得到华鸣文化创意有限公司明确的书面许可，本网站及本图片库的任何内容均不得被复制或以其他任何形式的转载。</P>
<P>权利保护<BR>任何违反法律规定和上述声明的行为均视为对华鸣文化创意有限公司著作权利的侵犯，华鸣文化创意有限公司有权采取投递律师函或提起诉讼等措施，要求侵权人承担包括但不限于停止侵权行为、销毁侵权产品、赔偿经济损失及维权合理开支等侵权责任。</P>
</div>
</div>
<div class="clear0"></div>
</div>
<!--right end-->
</div>
<!--content end-->

<!--about begin-->
<include file="Public:foot" />
<!--copyRight end-->

</div>
</body>
</html>
