<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->

<!--图片/图组头部Menu begin-->
<include file="Public:top_menu" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<!--高级搜索头部Menu begin-->
<include file="Public:top_search" />
<!--高级搜索头部Menu end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft"><a href="{:U('Home-Index/index')}">首页</a> > 关于我们</div>
<div class="navCenter">&nbsp; <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->

<!--content begin-->
<div id="content">
<!--left begin-->
<include file="Public:left" />
<!--left end-->

<!--right begin-->
<div id="right">
<div class="products">
<p><h1 align="center">关于我们</h1></p>
<br>
<br>
<div style="line-height:30px;font-size:13px">
<p>富图影像（www.photochina.com.cn）创立于2010年8月，是中国唯一的公众人物图库运营商。致力于为国内外新老媒体及机构用户提供丰富而优质的公众人物影像及专业服务。</p>
<p>富图影像（www.photochina.com.cn）是新兴编辑类图片电子商务平台，拥有编辑图片、新闻图片、名人历史图片等各类影像，包含了娱乐、体育、政经、文化、科教、时尚和社会等领域的公众人物。</p>
<p>富图影像（www.photochina.com.cn）通过互联网建立无障碍的内容供应和分销网络。我们已与近千名国内摄影师签约合作，将他们提供的高质量公众人物影像进行编辑加工提供给国内近百家媒体和机构用户。 </p>
</div>
</div>
<div class="clear0"></div>
</div>
<!--right end-->
</div>
<!--content end-->

<!--about begin-->
<include file="Public:foot" />
<!--copyRight end-->

</div>
</body>
</html>
