<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->

<!--图片/图组头部Menu begin-->
<include file="Public:top_menu" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<!--高级搜索头部Menu begin-->
<include file="Public:top_search" />
<!--高级搜索头部Menu end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft"><a href="{:U('Home-Index/index')}">首页</a> > 联系我们</div>
<div class="navCenter">&nbsp; <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->

<!--content begin-->
<div id="content">
<!--left begin-->
<include file="Public:left" />
<!--left end-->

<!--right begin-->
<div id="right">
<div class="products">
<p><h1 align="center">联系我们</h1></p>
<br>
<br>
<div style="line-height:30px;;margin:10px">
<TABLE border=0 cellSpacing=5 cellPadding=5 align="center" style="font-size:13px">
<TBODY>
<TR>
<TD vAlign=top rowSpan=2><B>QQ：</B></TD>
<TD>QQ客服1：<A href="http://wpa.qq.com/msgrd?V=1&Uin=1638633268&Site=www.photochina.com.cn&Menu=yes" target=blank>
<IMG title=QQ客服1 border=0 alt=QQ客服1 src="http://wpa.qq.com/pa?p=1:1638633268:1"></A>
</TD></TR>
<TR>
<TD>QQ客服2：<A href="http://wpa.qq.com/msgrd?V=1&Uin=1140938540&Site=www.photochina.com.cn&Menu=yes" target=blank>
<IMG title=QQ客服2 border=0 alt=QQ客服2 src="http://wpa.qq.com/pa?p=1:1140938540:1"></A>
</TD></TR>
<TR>
<TD><B>MSN：</B></TD>
<TD>photochina2011@hotmail.com</TD></TR>
<TR>
<TD><B>新浪微博：</B></TD>
<TD>富图中国</TD></TR>
<TR>
<TD vAlign=top rowSpan=2><B>电话：</B></TD>
<TD>0571-28030661</TD></TR>
<TR>
<TD>0571-28801068</TD></TR>
<TR>
<TD><B>传真：</B></TD>
<TD>0571-28009972</TD></TR>
<TR>
<TD><B>地址：</B></TD>
<TD>杭州市拱墅区中山北路631号晶晖商务大厦4楼</TD></TR>
<TR>
<TD><B>邮编：</B></TD>
<TD>310000</TD></TR>
</TBODY></TABLE>

</div>
</div>
<div class="clear0"></div>
</div>
<!--right end-->
</div>
<!--content end-->

<!--about begin-->
<include file="Public:foot" />
<!--copyRight end-->

</div>
</body>
</html>
