<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->

<!--图片/图组头部Menu begin-->
<include file="Public:top_menu" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<!--高级搜索头部Menu begin-->
<include file="Public:top_search" />
<!--高级搜索头部Menu end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft"><eq name="is_24hot" value="1">24小时热图<else />{$nav}</eq></div>
<div class="navCenter">&nbsp;{$page} <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->

<!--content begin-->
<div id="content">
<!--left begin-->
<include file="Public:left" />
<!--left end-->

<!--right begin-->
<div id="right">
<div class="products">
<volist name="list" id="vo">
<li>
<div align="center">
<a href="{:U('Images/index',array('gid'=>$vo['id'],'type'=>$id))}" class="title">{$vo.title}</a>
</div>
<div style="height:220px;" align="center">
<a href="{:U('Images/index',array('gid'=>$vo['id'],'type'=>$id))}" class="floatImg" title="{$vo.title}"><img src="{:getPicUrl($vo['main_url'],$vo['main_url_userid'],$vo['main_url_date'])}"  /></a>
</div>
<span style="float:left">{//$vo.city}</span> 
<span style="float:right">{//$vo.up_time|date="Y/m/d",###}</span>
<div class="clear0"></div>
<span style="float:left"><a href="{:U('Images/index',array('gid'=>$vo['id'],'type'=>$id))}"><img src="../Public/images/ico1.jpg" width="14" height="14" align="middle" /></a> {$vo.image_count}张</span> 
<span style="float:right">{$vo.up_time|date="Y/m/d",###}<!-- <a href="{:U('Images/index',array('gid'=>$vo['id'],'type'=>$id))}"><img src="../Public/images/ico2.jpg" width="16" height="16" align="middle" /></a> &nbsp; --></span>
</li>
</volist>
</div>
<div class="clear0"></div>
</div>
<!--right end-->
</div>
<!--content end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft_2">&nbsp;</div>
<div class="navCenter">&nbsp; <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 -->{$page}</div>
<div class="navRight"></div>
</div>
<!--nav end-->
<!--about begin-->
<include file="Public:foot" />
<!--copyRight end-->

</div>
</body>
</html>
