<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div class="viewPic">
    <div class="viewPicTit">
        <div style="float:left">{$images.title}</div>
        <div style="float:right"><a href="#" onclick="top.$.jBox.close(true)"><img src="../Public/images/close.jpg" width="18" height="18" align="middle" /></a></div>
    </div>
    
    <div id="slideshow">
    <p class="arrow previous" <if condition="$pre">onclick="window.location.href='{:U('Images/show',array('id'=>$pre,'gid'=>$gid,'self'=>$self))}';"</if>></p>
        <ul class="slides">
            <img src="{:getPicUrl($images['url'],$images['userid'],$images['up_time'],1)}" title="{$images.remark}"/>
        </ul>
    <p class="arrow next" <if condition="$next">onclick="window.location.href='{:U('Images/show',array('id'=>$next,'gid'=>$gid,'self'=>$self))}';"</if>></p>
    </div>
    <div class="picDescription">
    <p class="viewPicTittle">{$images['remark']}</p>
    <p> PX:{$images.width}×{$images.height} {$images.filesize|getFileSize=###} {$images.value}点 </p>
    <p>
    ID:{$images.id}
    <eq name="self" value="0"><a href="{:U('Down-Cart/add',array('id'=>$images['id'],'gid'=>$gid))}"><img src="../Public/images/viewPicIco1.jpg" width="15" height="15" align="middle" />加入购物车</a></eq>
    <a href="{:U('Down-Index/down',array('ids'=>$images['id'],'gid'=>$gid))}" onclick="return confirm('下载图片会扣除您相应的点数，确认操作吗？');"><img src="../Public/images/viewPicIco2.jpg" width="15" height="15" align="middle" />下载图片</a>
    <a href="{:U('Down-Index/downText',array('id'=>$images['id'],'gid'=>$gid))}"><img src="../Public/images/ico01.jpg" width="15" height="15" align="middle" />下载文字</a></p>
    <p><textarea rows="5" cols="20" readonly>{$images.gremark}</textarea></p>
    </div>
</div>

</body>
</html>
