<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->

<!--图片/图组头部Menu begin-->
<include file="Public:top_menu" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<!--高级搜索头部Menu begin-->
<include file="Public:top_search" />
<!--高级搜索头部Menu end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft"><if condition="$findmsg">{$findmsg}<else />{$nav}</if><if condition="$gdata"> >> <a href="{:U('Images/index',array('gid'=>$gid,'type'=>$type))}">{$gdata.title}</a></if></div>
<div class="navCenter">&nbsp;{$page} <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->

<!--content begin-->
<div id="content">
<!--left begin-->
<include file="Public:left" />
<!--left end-->

<!--right begin-->
<div id="right">
<div class="products">
<volist name="list" id="vo">
<li>
<a href="#" onclick="showImages({$vo['id']},{$vo['gid']},0)" class="pimg"><img src="{:getPicUrl($vo['url'],$vo['userid'],$vo['up_time'])}" alt="{$vo.remark}"  title="{$vo.remark}"/></a>
<div class="imgLeft">
PX:{$vo.width}×{$vo.height}<br />
JPEG:{$vo.filesize|getFileSize=###}<br />
ID:{$vo.id} {$vo.value}点
</div> 
<div class="imgRight">
<a href="#" onclick="showImages({$vo['id']},{$vo['gid']},0)"><img src="../Public/images/ico03.jpg" class="floatImg" title="ID:{$vo.id}"></a> 
<a href="{:U('Down-Cart/add',array('id'=>$vo['id'],'gid'=>$vo['gid']))}"><img src="../Public/images/ico02.jpg" width="15" height="15" /></a> 
<a href="{:U('Down-Index/downText',array('id'=>$vo['id'],'gid'=>$vo['gid']))}"><img src="../Public/images/ico01.jpg" width="15" height="15" /></a> 
<a href="{:U('Down-Index/down',array('ids'=>$vo['id'],'gid'=>$vo['gid']))}" onclick="return confirm('下载图片会扣除您相应的点数，确认操作吗？');"><img src="../Public/images/ico04.jpg" width="15" height="15" /></a>
</div>
</li>
</volist>
</div>
<div class="clear0"></div>
</div>
<!--right end-->
</div>
<!--content end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft_2">&nbsp;</div>
<div class="navCenter">&nbsp; <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 -->{$page}</div>
<div class="navRight"></div>
</div>
<!--nav end-->
<!--about begin-->
<include file="Public:foot" />
<!--copyRight end-->

</div>
</body>
</html>
