<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />
<load href="../Public/Js/pcasunzip.js"/>
</head>
<body>
<style type="text/css">
.photovalue {
	background-color: #FFF;
	margin: 12px;
}
</style>

<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->
<!--图片/图组头部Menu begin-->
<include file="Public:top_menu_no_sub" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<h2>摄影师注册</h2>
<div class="main">
 <form id="myform" name="myform"  method="post" action="{:U('Index/doReg',array('type'=>2))}" onsubmit="return Vali.vali(this,2)">
 <div class="body">
<p>&nbsp;&nbsp;&nbsp;请填写您的真实信息，以便我们与您取得联系，确认您帐号的开通！</p>
<div class="dd">摄影师基本信息（*项是必填项）</div>

<table cellpadding="0" cellspacing="0">
     <tr>
          <td width="90"  height="30" align="right"><span class="red">*</span>登录名&nbsp;&nbsp;</td>
            <td width="245"><input type="text" name="account" class="input-text" dataType="LimitB" min="2" max="20" msg="登录名必须是2-20个字符"/><span></span></td>
            <td width="90" height="30" align="right"><span class="red">*</span>地区&nbsp;&nbsp;</td>
            <td width="300">
                <div id="selectStyle" style="z-index: 2;">
                  <SELECT name="province" id="province" dataType="Require" msg="请选择地区"></SELECT>
                </div>
            </td>
    </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>密码&nbsp;&nbsp;</td>
            <td><input type="password" class="input-text"  name="password" id="password" dataType="LimitB" min="3" max="20" msg="密码必须是3-20个字符"><span></span></td>
            <td height="30" align="right"><span class="red">*</span>城市&nbsp;&nbsp;</td>
            <td>
              <div id="selectStyle">
                <SELECT name="city" id="city" dataType="Require" msg="请选择城市"></SELECT><span></span></div>
            </td>
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>确认密码&nbsp;&nbsp;</td>
            <td><input type="password" class="input-text"  name="repassword" dataType="Repeat" to="password" msg="两次密码不一样"><span></span></td>
            <td height="30" align="right"><span class="red">*</span>邮编&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="post_code" id="zipcode" dataType="LimitB" min="1" max="10"  msg="邮编必须填写(1-10个字符)"/><span></span></td>
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>真实姓名&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="name" dataType="LimitB" min="1" max="10"  msg="真实姓名必须填写(1-10个字符)"><span></span></td>
            <td height="30" align="right"><span class="red">*</span>地址&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="link_addr"  dataType="LimitB" min="1" max="50"  msg="地址必须填写(1-50个字符)"><span></span></td>
        </tr>
        <tr>
            <td height="30" align="right">性别&nbsp;&nbsp;</td>
            <td><input type="radio" name="sex" value="1" checked="checked" />男&nbsp;&nbsp;<input name="sex" value="0" type="radio" />女</td>
            <td height="30" align="right"><span class="red">*</span>工作单位&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="company_name" dataType="LimitB" min="1" max="50"  msg="工作单位必须填写(1-50个字符)"><span></span></td>
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>联系电话&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="phone" id="phone" dataType="LimitB" min="1" max="20"  msg="联系电话必须填写(1-20个字符)"><span></span></td>
    
            <td height="30" align="right"><span class="red">*</span>电子邮件&nbsp;&nbsp;</td>
            <td><input type="text" id="email" name="email" class="input-text" dataType="LimitB" min="1" max="50"  msg="电子邮件必须填写(1-50个字符)"/></td>
         
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>QQ号&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="qq" id="phone" dataType="LimitB" min="1" max="20"  msg="QQ必须填写(1-20个字符)"><span></span></td>
    
            <td height="30" align="right"></td>
            <td></td>
         
        </tr>
</table>
<br />
<p style="display: block" class="dd">
  摄影师专有信息（*项是必填项）</p>
  <table  cellpadding="0" cellspacing="0">
    <tr>
        <td width="242" height="30" align="right">
            <span class="red">*</span>投稿署名
        </td>
        <td width="480"><input type="text" class="input-text"  name="pen_name" id="tankoname" dataType="LimitB" min="1" max="20"  msg="客户使用稿件时所能看到的摄影师名字（请使用中文名 1-20个字符）">
            <span
                class="red">客户使用稿件时所能看到的摄影师名字（请使用中文名）</span>
        </td>
    </tr>
    <tr>
        <td width="242" height="30" align="right">
            <span class="red">*</span>从事摄影工作几年
        </td>
        <td>
            <div class="" id="selectStyle">
                <select name="work_years"  class="selectStyle_reg" dataType="Require" msg="从事摄影工作几年必须选择">
    <option value="1">一年内</option>
    <option value="2">一年~二年</option>
    <option value="3">二年~三年</option>
    <option value="4">三年~五年</option>
    <option value="5">五年~十年</option>
    <option value="6">十年以上</option>
</select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                主要从事哪一方面的摄影
                                            </td>
                                            <td>
                                                <input type="checkbox" name="main_photo[]" value="新闻摄影" />新闻摄影&nbsp;&nbsp;<input
                                                    type="checkbox" name="main_photo[]" value="纪实摄影" />纪实摄影&nbsp;&nbsp;<input
                                                        type="checkbox" name="main_photo[]" value="人物摄影" />人物摄影&nbsp;&nbsp;<input
                                                            type="checkbox" name="main_photo[]" value="风光摄影" />风光摄影&nbsp;&nbsp;<input
                                                                type="checkbox" name="main_photo[]" value="体育摄影" />体育摄影&nbsp;&nbsp;<input
                                                                    type="checkbox" name="main_photo[]" value="广告摄影" />广告摄影&nbsp;&nbsp;<input
                                                                        type="checkbox" name="main_photo[]" value="其它" />其它
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                主要作品曾出版在哪些地方
                                            </td>
                                            <td>
                                                <input type="checkbox" name="main_post_local[]" value="书籍" />书籍&nbsp;&nbsp;<input
                                                    type="checkbox" name="main_post_local[]" value="报纸" />报纸&nbsp;&nbsp;<input type="checkbox"
                                                        name="main_post_local[]" value="样本" />样本&nbsp;&nbsp;<input type="checkbox" name="main_post_local[]"
                                                            value="杂志" />杂志&nbsp;&nbsp;<input type="checkbox" name="main_post_local[]" value="多媒体" />多媒体&nbsp;&nbsp;<input
                                                                type="checkbox" name="main_post_local[]" value="其它" />其它&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                您所用的摄影器材
                                            </td>
                                            <td>
                                                <input type="checkbox" name="all_equipment[]" value="Fuji" />Fuji&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Contax" />Contax&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Linhoff" />Linhoff&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Canon" />Canon&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Pentax" />Pentax&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Bronica" />Bronica&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Leica" />Leica&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Mamiya" />Mamiya&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Minolta" />Minolta&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Nikon" />Nikon<br />
                                                <input type="checkbox" name="all_equipment[]" value="Olympus" />Olympus&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Horseman" />Horseman&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Rollei" />Rollei&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Seagull" />Seagull&nbsp;&nbsp;
                                                <input type="checkbox" name="all_equipment[]" value="Hasselblad" />Hasselblad&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                数码相机
                                            </td>
                                            <td>
                                                <input type="checkbox" name="cameras[]" value="Canon数码" />Canon数码&nbsp;&nbsp;<input
                                                    type="checkbox" name="cameras[]" value="Nikon数码" />Nikon数码&nbsp;&nbsp;<input
                                                        type="checkbox" name="cameras[]" />其它&nbsp;&nbsp;<input type="text" name="cameras[]"
                                                            class="regInput" style="width: 85px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="242" height="30" align="right">
                                                <a href="/Word/cameramanAssert.html" target="_blank" class="red" style="text-decoration: underline">摄影作品委托代理协议</a>
                                            </td>
                                            <td>
                                                <input type="radio" name="isagree" value="1" checked="checked" />同意&nbsp;&nbsp;<input
                                                    name="isagree" type="radio" value="0" />不同意
                                            </td>
                                        </tr>
      </table>
  <div class="regContainerBox" style="border-bottom: 0; display: block">
      <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="178"  height="30" align="right">
                                                <span class="red">*</span>您的稿费结算方式
                                            </td>
                                            <td width="182" style="padding: 0;">
                                                <table>
                                                    <tr>
                                                        <td width="84">
                                                            <div class="" id="selectStyle">
                                                                <select name="bank" dataType="Require" msg="银行必须选择">
    <option selected="selected" value="招商银行">招商银行</option>
    <option value="农业银行">农业银行</option>
    <option value="工商银行">工商银行</option>
    <option value="中国银行">中国银行</option>
    <option value="建设银行">建设银行</option>
    <option value="交通银行">交通银行</option>
    <option value="民生银行">民生银行</option>
    <option value="中国邮政">中国邮政</option>
    <option value="其他">其他</option>
</select>
                                                            </div>
                                                        </td>
                                                        <td width="82" class="red">
                                                            限银行借记卡
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="72"  height="30" align="right">
                                                <span class="red">开户名</span>
                                            </td>
                                            <td width="290">
                                            <input type="text" class="input-text"  name="bank_truename" id="accountname" dataType="LimitB" min="1" max="20" msg="开户行姓名必须填写(1-20字符)">
                                                <span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="178" height="30" align="right">
                                                <span class="red"></span>开户行(详细到支行一级)
                                            </td>
                                            <td>
                                              <input type="text" class="input-text"  name="bank_area" id="accountbank"  dataType="LimitB" min="1" max="50" msg="开户行支行必须填写">
                                <span></span>
                                            </td>
                                            <td width="72" height="30" align="right">
                                                <span class="red"></span>银行帐号
                                            </td>
                                            <td>
                                            <input type="text" class="input-text"  name="bank_num" id="bankaccount"  dataType="LimitB" min="1" max="50" msg="银行帐号必须填写">
                                                <span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="178" height="30" align="right">
                                                <span class="red">*</span>身份证号码
                                            </td>
                                            <td>
                                            <input type="text" class="input-text"  name="card_no" id="cardid" dataType="LimitB" min="1" max="50" msg="身份证号填写">
                                            
                                            <span></span>
                                            </td>
                                            <td colspan="2" style="line-height: 1.2em;" class="red">
                                                因稿费结算时涉及个人所得税事务处理上的需要，同时也为了富图网摄影师资料的 齐备完整，请如实填写您的身份证号码。
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="178" height="30" align="right" style="line-height: 1.3em">
                                                您所参加的摄影团体<br />
                                                曾举办过的摄影展
                                            </td>
                                            <td colspan="3">
                                            <textarea  class="input-text"  name="join_team"  validate="maxlength:200">
                         </textarea><span></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="178" height="30" align="right" style="line-height: 1.3em">
                                                您的宝贵意见
                                            </td>
                                            <td colspan="3">
                                              <textarea name="user_say" id="Opinion" validate="maxlength=200" class="input-text"></textarea><span></span>
                                            </td>
                                        </tr>
    </table>
   </div>
   <div style=" height: 62px; padding-top: 36px; text-align: center;">
   <input type="hidden" name="type" value="2" />
   <input type="hidden" name="createtime" value="{:time()}" />
   <input type="hidden" name="sate" value="0" />
   <input type="hidden" name="subtype" value="1" />
   {__TOKEN__}
                   <input type="submit"  value="提交申请"  style="width:80px; height:25px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="reset" value="资料重置"  style="width:80px; height:25px" />
                                      </div>
           <script language="JavaScript">
          
            new PCAS("province","city");
  
           </script>                           
                                      
          </div>
</form>
</div>
<include file="Public:foot" />

</div>
</body>
</html>
