<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />
</head>
<body>
<style type="text/css">
.photovalue {
	background-color: #FFF;
	margin: 12px;
}
</style>

<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->
<!--图片/图组头部Menu begin-->
<include file="Public:top_menu_no_sub" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<h2>摄影师注册</h2>
	 	 <div class="body">
     <p>&nbsp;&nbsp;&nbsp;注册前请仔细阅读下列服务条款，只有您完全了解并同意下列条款，才会继续注册流程！</p>
<div class="dd">&nbsp;&nbsp;摄影师注册声明</div>
	    <textarea id=" " readonly="readonly" class="photovalue" style="width:935px;height:500px;">
您只有完全接受以下所有服务条款，才能继续申请： 

1、服务条款的确认和接纳
　 鉴于富图是一家致力于通过国际互联网为各类网站、报纸、杂志、广播电视以及其他出版物提供新闻及纪实图片资料的信息服务公司。
　 www.photochina.com.cn是由富图创建并维护、从事上述业务活动的国际互联网网站。
　 富图服务的所有权和运作权归富图所有。
　 所提供的服务必须按照其发布的公司章程，服务条款和操作规则严格执行。
　 用户通过完成注册程序并点击一下"我同意"的按钮，这表示用户与富图达成协议并接受所有的服务条款。

2、服务简介
　 富图运用自己的操作系统通过国际互联网络为用户提供各项服务。
　 考虑到富图服务的重要性，用户同意：
   （1）提供及时、详尽及准确的个人资料。
   （2）不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。
　 如果用户提供的资料不准确，不真实，不合法有效，富图保留结束用户使用富图各项服务的权利。
   用户在享用富图各项服务的同时，同意接受富图提供的各类信息服务。

3、服务条款的修改
　 富图会在必要时修改服务条款，富图服务条款一旦发生变动，会在用户进入下一步使用前的页面提示修改内容。
　 如果您同意改动，则再一次激活"我同意"按钮。如果您不接受，则及时取消您的用户使用服务资格。
　 用户要继续使用富图各项服务需要两方面的确认：
   （1）首先确认富图服务条款及其变动。
   （2）同意接受所有的服务条款限制。

4、服务修订
　 富图保留随时修改或中断服务而不需通知用户的权利。用户接受富图行使修改或中断服务的权利，富图不需对用户或第三方负责。

5、用户的帐号、密码和安全性
　 您一旦注册成功成为用户，您将得到一个密码和帐号。如果您未保管好自己的帐号和密码而对您、富图或第三方造成的损害，您将负全部责任。
　 另外，每个用户都要对其帐户中的所有活动和事件负全责。
　 您可随时改变您的密码。
　 用户同意若发现任何非法使用用户帐号或安全漏洞的情况，立即通告富图。

6、用户应定期向富图提供数码形态的各种图片（以下简称"用户图片"），富图通过www.photochina.com.cn网站将用户图片介绍给客户。
   图片应符合富图所要求的技术参数，并应为每张图片提供符合本协议第10条规定的文字信息。

7、授权富图拥有以下全球范围内的非独占性权利
   （1）有权从计算机硬盘、软盘、CD-ROM、数据库、网络服务器等上编译、储存和获取用户图片；
   （2）有权复制、展示和出售用户图片，并向各类国际互联网网站、报纸、杂志、广播电视、电子出版物
        以及其他现存和未来发展产生的的媒体提供相关的图片产品；
   （3）有权制订用户图片的销售价格；有权批准和授权第三者使用上述权利。

8、图片说明及版权限制 
   用户提供的每一幅（组）图片必须有标题和完整的说明，说明应准确描述每张图片记录的事件。
   必要时，用户应标明图片许可使用的范围（例如仅限北京市以外的媒体使用），富图对因图片版权限制范围不明而造成一切后果不承担任何责任。

9、图片的储存 
   富图有义务出资储存用户提供的图片，期限至少一年。富图有权在未通知用户的情况下，根据自己的判断从数据库中删除用户提供的图片。

10、保证和声明 
    用户保证和声明对其所提供的每张图片均拥有完整的合法的版权，用户图片不应涉及侵犯他人著作权、商标、名誉、隐私及其他一切违法内容。
    用户应对其所提供图片的违法内容所造成的一切后果承担完全责任。

11、侵权索赔 
    如果发生第三人未经甲、乙任何一方授权而使用用户图片或其他对用户图片侵权的情形，则用户全权授权富图与第三方进行交涉，
    包括但不限于与第三方协商、    向有管辖权的人民法院提起诉讼。
    用户为此获得的任何赔偿，在扣除富图为索赔而支出的所有费用之后，由用户、富图双方平均分配。

12、注册帐号所含服务的信息储存及安全
    富图对用户注册帐号下所有服务将尽力维护其安全性及方便性，但对服务中出现信息删除或储存失败不承担任何负责。
    另外我们保留判定用户的行为是否符合富图用户服务条款的要求的权利，如果注册用户违背了服务条款的规定，将会中断其接受服务的帐号。

13、帐号的冻结
    用户注册帐号的失效期为6个月。
    如果一个注册帐号连续6个月不曾使用，即没有以Web方式登录我网站，则该帐号有可能被新的用户注册，届时其原有信息将可能丢失。
    所以，请您记住，6个月内至少要登录一次用户注册帐号。

14、通告
　　所有发给用户的通告都可通过电子邮件或常规的信件传送。
　　富图会通过邮件服务发报消息给用户，告诉他们服务条款的修改、服务变更、或其它重要事情。
　　同时，富图保留向用户注册时提交的邮箱投放商业性广告的权利。

15、拒绝提供担保
　　服务提供是建立在免费的基础上。
　　富图明确表示不提供任何类型的担保，不论是明确的或隐含的，但是对商业性的隐含担保，特定目的和不违反规定的适当担保除外。
　　富图不担保服务一定能满足用户的要求，也不担保服务不会受中断，对服务的及时性、安全性、出错发生都不作担保。
　　富图拒绝提供任何担保，包括信息能否准确、及时、顺利地传送。
　　用户理解并接受下载或通过富图服务取得的任何信息资料取决于用户自己，并由其承担系统受损或资料丢失的所有风险和责任。
　　富图对在服务网上得到的任何商品购物服务或交易进程，都不作担保。
　　用户不会从富图收到口头或书面的意见或信息，富图也不会在这里作明确担保。

16、有限责任
　　富图对直接、间接、偶然、特殊及继起的损害不负责任，这些损害来自：不正当使用产品服务，在网上进行交易，非法使用服务或用户传送的信息有所变动。
　　这些损害会导致富图形象受损，所以富图早已提出这种损害的可能性。

17、不提供零售和商业性服务
　　用户承诺不经富图同意，不能利用富图各项服务进行销售或其他商业用途。

18、用户管理
　　用户单独承担发布内容的责任。用户对服务的使用是根据所有适用于服务的地方法律、国家法律和国际法律标准的。用户承诺：
    （1）在富图的网页上发布信息或者利用富图的服务时必须符合中国有关法规，不得在富图的网页上或者利用富图的服务制作、复制、发布、传播以下信息：
　     a) 反对宪法所确定的基本原则的；
　     b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
　     c) 损害国家荣誉和利益的；
　     d) 煽动民族仇恨、民族歧视，破坏民族团结的；
　     e) 破坏国家宗教政策，宣扬邪教和封建迷信的；
　     f) 散布谣言，扰乱社会秩序，破坏社会稳定的；
　     g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
　     h) 侮辱或者诽谤他人，侵害他人合法权益的；
　     i) 含有法律、行政法规禁止的其他内容的。
    （2）在富图的网页上发布信息或者利用富图的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。
    （3）不利用富图的服务从事以下活动：
　     a) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；
　     b) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；
　     c) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；
　     d) 故意制作、传播计算机病毒等破坏性程序的；
　     e) 其他危害计算机信息网络安全的行为。
    （4）不以任何方式干扰富图的服务。
    （5）遵守富图的所有其他规定和程序。
　　用户需对自己在使用富图服务过程中的行为承担法律责任。
　　用户理解，如果富图发现其网站传输的信息明显属于上段第(1)条所列内容之一，依据中国法律，富图有义务立即停止传输，
　　保存有关记录，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。
    若用户的行为不符合以上提到的服务条款，富图将作出独立判断立即取消用户服务帐号。

19、保障
　　用户同意保障和维护富图全体成员的利益，负责支付由用户使用超出服务范围引起的律师费用，违反服务条款的损害补偿费用，
　　其它人使用用户的电脑、帐号和其它知识产权的追索费。

20、结束服务
　　用户或富图可随时根据实际情况中断服务。
　　富图不需对任何个人或第三方负责而随时中断服务。
　　用户若反对任何服务条款的建议或对后来的条款修改有异议，或对富图服务不满，用户只有以下的追索权：
    （1）不再使用富图服务。
    （2）结束用户使用富图服务的资格。
    （3）通告富图停止该用户的服务。
　　结束用户服务后，用户使用富图服务的权利马上中止。从那时起，富图不再对用户承担任何义务。
</textarea>
	<!--<div style="background: #fff; height: 62px; padding-top: 36px; text-align: center;">-->
    <center>
    <a href="{:U('Index/reg',array('type'=>2,'step'=>2))}"><img src="../Public/images/photo_if.jpg" alt="注册成为签约摄影师" width="89" title="注册成为签约摄影师" /></a>
    <a href="{:U('Index/reg',array('type'=>1))}"><img src="../Public/images/photo_ifno.jpg" alt="注册成为图片下载用户" title="注册成为图片下载用户" /></a></span></div>
                      
	</center>
<include file="Public:foot" />

</div>
</body>
</html>
