<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />
<load href="../Public/Js/pcasunzip.js"/>
</head>
<body>
<style type="text/css">
.photovalue {
	background-color: #FFF;
	margin: 12px;
}
</style>

<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->
<!--图片/图组头部Menu begin-->
<include file="Public:top_menu_no_sub" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<h2>注册为下载会员</h2>    
<div class="main">
 <form id="myform"  name="myform" method="post" action="{:U('Index/doReg')}"  onsubmit="return Vali.vali(this,2)">
    <div class="body">
 <p><h4>&nbsp;&nbsp;&nbsp;请填写您的真实信息，以便我们与您取得联系，确认您帐号的开通！</h4></p>
<div class="dd">&nbsp;&nbsp;用户基本信息（*项是必填项）</div>

<table cellpadding="0" cellspacing="0">
        <tr>
          <td width="90"  height="30" align="right"><span class="red">*</span>登录名&nbsp;&nbsp;</td>
            <td width="245"><input type="text" id="username" name="account" class="input-text" dataType="LimitB" min="2" max="20" msg="登录名必须是2-20个字符"/><span></span></td>
            <td width="90" height="30" align="right"><span class="red">*</span>地区&nbsp;&nbsp;</td>
            <td width="300">
                <div id="selectStyle" style="z-index: 2;">
                  <SELECT name=province id="province"  dataType="Require" msg="请选择地区"></SELECT>
                </div>
            </td>
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>密码&nbsp;&nbsp;</td>
            <td><input type="password" class="input-text"  name="password" id="password" dataType="LimitB" min="3" max="20" msg="密码必须是3-20个字符"><span></span></td>
            <td height="30" align="right"><span class="red">*</span>城市&nbsp;&nbsp;</td>
            <td>
              <div id="selectStyle">
                <SELECT name="city" id="city" dataType="Require" msg="请选择城市"></SELECT></div>
            </td>
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>确认密码&nbsp;&nbsp;</td>
            <td><input type="password" class="input-text"  name="repassword" dataType="Repeat" to="password" msg="两次密码不一样"><span></span></td>
            <td height="30" align="right"><span class="red">*</span>邮编&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="post_code" dataType="LimitB" min="1" max="10"  msg="邮编必须填写(1-10个字符)"><span></span></td>
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>真实姓名&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="name" id="rname" validate=" required:true;chinese: true"><span></span></td>
            <td height="30" align="right"><span class="red">*</span>地址&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="link_addr"  dataType="LimitB" min="1" max="50"  msg="地址必须填写(1-50个字符)"><span></span></td>
        </tr>
        <tr>
            <td height="30" align="right">性别&nbsp;&nbsp;</td>
            <td><input type="radio" name="sex" value="1" checked="checked" />男&nbsp;&nbsp;<input name="sex" value="0" type="radio" />女</td>
            <td height="30" align="right"><span class="red">*</span>工作单位&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="company_name" dataType="LimitB" min="1" max="50"  msg="工作单位必须填写(1-50个字符)"><span></span></td>
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>联系电话&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="phone" id="phone" dataType="LimitB" min="1" max="20"  msg="联系电话必须填写(1-20个字符)"><span></span></td>
    
            <td height="30" align="right"><span class="red">*</span>电子邮件&nbsp;&nbsp;</td>
            <td><input type="text" id="email" name="email" class="input-text" dataType="LimitB" min="1" max="50"  msg="电子邮件必须填写(1-50个字符)"/><span></span></td>
         
        </tr>
        <tr>
            <td height="30" align="right"><span class="red">*</span>QQ号&nbsp;&nbsp;</td>
            <td><input type="text" class="input-text"  name="qq" id="phone" dataType="LimitB" min="1" max="20"  msg="QQ必须填写(1-20个字符)"><span></span></td>
    
            <td height="30" align="right"></td>
            <td></td>
         
        </tr>
</table>
    <br />
  <td>
      <div style="background:#CCC; height: 62px; padding-top: 36px; text-align: center;">
      <input type="hidden" name="type" value="1" />
   <input type="hidden" name="createtime" value="{:time()}" />
   <input type="hidden" name="sate" value="0" />
   <input type="hidden" name="subtype" value="1" />
   {__TOKEN__}
        <input type="submit" name="btnRegSubmit"  value="提交申请&nbsp;&nbsp;" id="btnRegSubmit" style="width:80px; height:25px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              <input type="reset" value="&nbsp;&nbsp;资料重置"  style="width:80px; height:25px" />
      </div>
    </div>
                                
</form>
</div>
<script language="JavaScript">
new PCAS("province","city");
</script>
<include file="Public:foot" />

</div>
</body>
</html>
