<include file="Public:top" />
<script language="javascript" src="../Public/Js/jcarousel-lite/jcarousellite_1.0.1.pack.js"></script>
<script language="javascript" src="../Public/Js/jcarousel-lite/captify.tiny.js"></script>
<script language="javascript" src="../Public/Js/nivo-slider/jquery.nivo.slider.js"></script>
<link href="../Public/Css/index.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="mainBox">

<div id="indexLogin">
<div class="indexLoginRight">
<include file="Public:login_info" />
</div>
</div>
<!--top begin-->
<div id="top">
<div class="topLeft">
<div class="logo">
<a href="{:U('Index/index')}"><img src="../Public/images/logoIndex.jpg" /></a>
</div>
</div>
<div class="topCenter">
<div class="topList">
<li><a href="{:U('Group/index',array('hot'=>1))}">热图</a></li>
<volist name="column" id="vo" key="k">
<if condition="$k == count($column)">
<li class="none"><a href="{:U('Group/index',array('id'=>$vo['groupid']))}">{$vo.name}</a></li>
<else />
<li><a href="{:U('Group/index',array('id'=>$vo['groupid']))}">{$vo.name}</a></li>
</if>

</volist>
</div>
</div>

<div class="topRight">
<form action="{:U('Images/search')}" method="get" method="get">
<input name="m" type="hidden" value="Images"/>
     <input name="a" type="hidden" value="search"/>
     <input name="issearch" type="hidden" value="1"/>
     <input name="keyword" type="text" id="textfield" class="topSearchKeyword" value="图片ID或关键词"  onfocus="cjx.chkfocusValue(this)" onblur="cjx.chkblurValue(this)"/>
<input type="submit"  style="margin-left:-6px;background:#f5e200; border:0; width:60px; height:22px; font-size:14px; margin-right:25px;line-height:25px;" value="搜索" />
</form>
</div>

</div>
<!--top end-->

<!--content begin-->
<div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
    <foreach name="mainlist" item="vo">
    <a href="{$vo.url}"><img src="{$vo.imgurl}" alt="" title="{$vo.remark}" data-transition="slideInLeft" width="960" height="500"/></a>
    </foreach>
       <!-- <img src="../Public/images/nemo.jpg" alt="" title="This is an example of a caption" data-transition="slideInLeft"/> --> 
    </div>
</div>
<!--<div id="slid">
<img src="images/slid.jpg" width="960" height="500" />
</div>-->
<div id="rolling">

<div class="piccontent">
<div class="slider">
<ul>
<volist name="hotlist" id="vo" key="k">
<eq name="k" value="count($hotlist)">
<li style="margin-right:0"><a href="{$vo.url}" title="{$vo.picturename}"><img src="{$vo.imgurl}" /></a></li>
<else />
<li><a href="{$vo.url}" title="{$vo.picturename}"><img src="{$vo.imgurl}"  /></a></li>
</eq>
</volist>
<!-- <li><a href="#"><img src="../Public/images/rollingimg.gif"  width="184" height="120"/></a></li> -->
</ul>
</div>
</div>
<div class="btn">
<p id="btn_right"><a href="#"><img src="../Public/images/rolling_btn_top.gif" /></a></p>
<p style=" margin-top:1px" id="btn_left"><a href="#"><img src="../Public/images/rolling_btn_bottom.gif" /></a></p>
</div>
<!--<img src="images/roll.jpg" width="960" height="122" />-->
</div>
<div id="indexConBottom"></div>
<!--content end-->
<script type="text/javascript">
    $(function() {
            $(".slider").jCarouselLite({
                btnNext: "#btn_right",
                btnPrev: "#btn_left",
                visible: 5
            });
        });
    $(window).load(function() {
        //$('#slider').nivoSlider();
        $('#slider').nivoSlider(); 
        $('img.captify').captify({
                // all of these options are... optional
                // ---
                // speed of the mouseover effect
                speedOver: 'fast',
                // speed of the mouseout effect
                speedOut: 'normal',
                // how long to delay the hiding of the caption after mouseout (ms)
                hideDelay: 500, 
                // 'fade', 'slide', 'always-on'
                animation: 'slide',     
                // text/html to be placed at the beginning of every caption
                prefix: '',     
                // opacity of the caption on mouse over
                opacity: '0.7',                 
                // the name of the CSS class to apply to the caption box
                className: 'caption-bottom',    
                // position of the caption (top or bottom)
                position: 'bottom',
                // caption span % of the image
                spanWidth: '100%'
            });
    });
</script>
<include file="Public:foot" />

</div>
</body>
</html>
