<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->

<!--图片/图组头部Menu begin-->
<include file="Public:top_menu" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<!--高级搜索头部Menu begin-->
<include file="Public:top_search" />
<!--高级搜索头部Menu end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft">奥运文字</div>
<div class="navCenter">&nbsp;<!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->

<!--content begin-->
<div id="content">
<!--left begin-->
<include file="Public:left" />
<!--left end-->

<!--right begin-->
<div id="right">
<volist name="list" id="vo" key="k">
<div style="border:1px solid #333;margin:5px 0px; padding:5px">
<if condition="strlen($vo['pic']) gt 0">
<p><img src="{$vo.pic}" style="max-height:200px;max-width:200px"></p>
</if>
<h1>{$vo.title}</h1>
<div>{$vo.desc}</div>
<p style="text-align:right;marign-right:10px;">
<a href="{:U('Xml/down',array('id'=>$k,'x'=>urlencode($xml)))}"><img src="../Public/images/ico04.jpg" width="15" height="15" />下载文字</a>
&nbsp;&nbsp;
<if condition="strlen($vo['pic']) gt 0">
<a href="{:U('Xml/downpic',array('id'=>$k,'x'=>urlencode($xml)))}"><img src="../Public/images/ico04.jpg" width="15" height="15" />下载图片</a>
</if>
</p>
</div>
</volist>
<div class="clear0"></div>
</div>
<!--right end-->
</div>
<!--content end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft_2">&nbsp;</div>
<div class="navCenter">&nbsp; <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->
<!--about begin-->
<include file="Public:foot" />
<!--copyRight end-->

</div>
</body>
</html>
