<include file="Public:top" />
<link href="../Public/Css/products.css" type="text/css" rel="stylesheet" />

</head>
<body>
<div id="mainBox">
<!--top begin-->
<include file="Public:top_info" />
<!--top end-->

<!--图片/图组头部Menu begin-->
<include file="Public:top_menu" />
<!--图片/图组头部Menu end-->
<div class="clear"></div>
<!--高级搜索头部Menu begin-->
<include file="Public:top_search" />
<!--高级搜索头部Menu end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft">奥运文字</div>
<div class="navCenter">&nbsp;<!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->

<!--content begin-->
<div id="content">
<!--left begin-->
<include file="Public:left" />
<!--left end-->

<!--right begin-->
<div id="right">
<php>foreach($list as $k=>$vo){</php>
<p style="height:33px;line-height:33px;border-bottom:1px dotted #cccccc">
<if condition="strpos($vo['file'],'.html') gt 0">
<a href="/txt/{$vo.file}" target="_blank">{$vo['title']}&nbsp;&nbsp;&nbsp;&nbsp;[<span class="yellow">{$k|date='Y-m-d H:i:s',###}</span>]</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Xml/downhtml',array('f'=>urlencode($vo['file'])))}"><img src="../Public/images/ico04.jpg" width="15" height="15" />下载</a>
<else />
<a href="{:U('Xml/detail',array('x'=>urlencode ($vo['file'])))}" target="_blank">{$vo['title']}&nbsp;&nbsp;&nbsp;&nbsp;[<span class="yellow">{$k|date='Y-m-d H:i:s',###}</span>]</a>
</if>
</p>
<php>}</php>
<div class="clear0"></div>
</div>
<!--right end-->
</div>
<!--content end-->

<!--nav begin-->
<div id="nav">
<div class="navLeft_2">&nbsp;</div>
<div class="navCenter">&nbsp; <!-- 每页
<select name="select" id="select">
    <option>20</option>
  </select>
组 上一页 跳至第 
<select name="select2" id="select2">
  <option>1</option>
</select>
页 下一页 1/110 --></div>
<div class="navRight"></div>
</div>
<!--nav end-->
<!--about begin-->
<include file="Public:foot" />
<!--copyRight end-->

</div>
</body>
</html>
