/*
Author : Onextrapixel
URL: http://www.onextrapixel.com
*/

/************************************************
	      JCAROUSEL LITE		
************************************************/


.slider {
	float:left;
	left: -5000px; 
	margin-right:1px; 
	position:relative; 
	visibility:hidden;	
}
	
.slider ul {
	height:100px;
	width:600px; 
}

.slider ul li {
	float:left; width:184px;height:120px; margin-right:1px
}

.slider ul li img {
	
}

/************************************************
	      CAPTIFY CAPTION		
************************************************/
.caption-top, .caption-bottom {
	background: #000000;
	color: #ffffff; 
	cursor:default;
	padding:2px; 
	font-size:11px;   
	text-align:center;
}

.caption-top {
	border-width:0px;
}

.caption-bottom {
	border-width:0px;
}

.caption a, .caption a {
	background:#000;
	border:none; 
	text-decoration:none;  
	padding:2px;
}

.caption a:hover, .caption a:hover {
	background:#202020;
}
